@@include('./src/components/ES5/_global/include-header.html')
     
  <body class="page">
  
  
          
    @@include('./src/components/ES5/_global/include-loader.html')
    @@include('./src/components/ES5/_global/include-toggle-trigger.html')
    
    

  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/ES5/_global/include-brand.html')
                        
                        @@include('./src/components/ES5/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder"></div>
      
    
		<main id="uix-maincontent">
			
			<!-- Content   
			====================================================== -->
			<section>
				<div class="container uix-t-c">
						<div class="row">
							<div class="col-md-8 offset-md-2">
								<h2>Spacing</h2>
								<p>
									There are multiple wrapper modules per page, these elements will be used for flexible control of spacing. Usually using <code>&lt;section&gt;</code> tag to do it.
								</p>
								<br>

							</div>
						</div>
						<!-- .row end -->


				</div>
				<!-- .container end -->

			</section>



		   <!-- Content  
			====================================================== -->
			<section style="background: #cb60b3; background: linear-gradient(to bottom, #cb60b3 0%,#ad1283 100%);">
				<div class="container">
						<div class="row">
							<div class="col-md-8 offset-md-2">
								<h3><code>class=""</code> or <code>class="uix-spacing--no"</code></h3>
							</div>
						</div>
						<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>   


			<section style="background: #d2ff52; background: linear-gradient(to bottom, #d2ff52 0%,#91e842 100%);">
				<div class="container">
						<div class="row">
							<div class="col-md-8 offset-md-2">
								<h3><code>class=""</code> or <code>class="uix-spacing--no"</code></h3>
							</div>
						</div>
						<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>   

			<section class="uix-spacing--s" style="background: #ffb76b; background: linear-gradient(to bottom, #ffb76b 0%,#ff7f04 100%);">
				<div class="container">
						<div class="row">
							<div class="col-md-8 offset-md-2">
								<h3><code>class="uix-spacing--s"</code></h3>
							</div>
						</div>
						<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>   


			<section class="uix-spacing--s" style="background: #f0b7a1; background: linear-gradient(to bottom, #f0b7a1 0%,#8c3310 100%);">
				<div class="container">
						<div class="row">
							<div class="col-md-8 offset-md-2">
								<h3><code>class="uix-spacing--s"</code></h3>
							</div>
						</div>
						<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>   

			<section class="uix-spacing--m" style="background: #cb60b3; background: linear-gradient(to bottom, #cb60b3 0%,#ad1283 100%);">
				<div class="container">
						<div class="row">
							<div class="col-md-8 offset-md-2">
								<h3><code>class="uix-spacing--m"</code></h3>
							</div>
						</div>
						<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>      


			<section class="uix-spacing--m" style="background: #d2ff52; background: linear-gradient(to bottom, #d2ff52 0%,#91e842 100%);">
				<div class="container">
						<div class="row">
							<div class="col-md-8 offset-md-2">
								<h3><code>class="uix-spacing--m"</code></h3>
							</div>
						</div>
						<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>      




			<section class="uix-spacing--l" style="background: #b5bdc8; background: linear-gradient(to bottom, #b5bdc8 0%,#28343b 100%);">
				<div class="container">
						<div class="row">
							<div class="col-md-8 offset-md-2">
								<h3><code>class="uix-spacing--l"</code></h3>
							</div>
						</div>
						<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>      


			<section class="uix-spacing--l" style="background: #cb60b3; background: linear-gradient(to bottom, #cb60b3 0%,#ad1283 100%);">
				<div class="container">
						<div class="row">
							<div class="col-md-8 offset-md-2">
								<h3><code>class="uix-spacing--l"</code></h3>
							</div>
						</div>
						<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>      


			<section style="background: #d2ff52; background: linear-gradient(to bottom, #d2ff52 0%,#91e842 100%);">
				<div class="container">
						<div class="row">
							<div class="col-md-8 offset-md-2">
								<h3><code>class=""</code> or <code>class="uix-spacing--no"</code></h3>
							</div>
						</div>
						<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>   

			<section style="background: #ffb76b; background: linear-gradient(to bottom, #ffb76b 0%,#ff7f04 100%);">
				<div class="container">
						<div class="row">
							<div class="col-md-8 offset-md-2">
								<h3><code>class=""</code> or <code>class="uix-spacing--no"</code></h3>
							</div>
						</div>
						<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>   


			<section class="uix-spacing--m uix-spacing--no-top" style="background: #f0b7a1; background: linear-gradient(to bottom, #f0b7a1 0%,#8c3310 100%);">
				<div class="container">
						<div class="row">
							<div class="col-md-8 offset-md-2">
								<h3><code>class="uix-spacing--m uix-spacing--no-top"</code></h3>
							</div>
						</div>
						<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>   

			<section class="uix-spacing--m uix-spacing--no-bottom" style="background: #b5bdc8; background: linear-gradient(to bottom, #b5bdc8 0%,#28343b 100%);">
				<div class="container">
						<div class="row">
							<div class="col-md-8 offset-md-2">
								<h3><code>class="uix-spacing--m uix-spacing--no-bottom"</code></h3>
							</div>
						</div>
						<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>   


			<section class="uix-spacing--s uix-spacing--no-top" style="background: #cb60b3; background: linear-gradient(to bottom, #cb60b3 0%,#ad1283 100%);">
				<div class="container">
						<div class="row">
							<div class="col-md-8 offset-md-2">
								<h3><code>class="uix-spacing--s uix-spacing--no-top"</code></h3>
							</div>
						</div>
						<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>   

			<section class="uix-spacing--s uix-spacing--no-bottom" style="background: #d2ff52; background: linear-gradient(to bottom, #d2ff52 0%,#91e842 100%);">
				<div class="container">
						<div class="row">
							<div class="col-md-8 offset-md-2">
								<h3><code>class="uix-spacing--s uix-spacing--no-bottom"</code></h3>
							</div>
						</div>
						<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>   


			<section class="uix-spacing--l uix-spacing--no-top" style="background: #ffb76b; background: linear-gradient(to bottom, #ffb76b 0%,#ff7f04 100%);">
				<div class="container">
						<div class="row">
							<div class="col-md-8 offset-md-2">
								<h3><code>class="uix-spacing--l uix-spacing--no-top"</code></h3>
							</div>
						</div>
						<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>   

			<section class="uix-spacing--l uix-spacing--no-bottom" style="background: #f0b7a1; background: linear-gradient(to bottom, #f0b7a1 0%,#8c3310 100%);">
				<div class="container">
						<div class="row">
							<div class="col-md-8 offset-md-2">
								<h3><code>class="uix-spacing--l uix-spacing--no-bottom"</code></h3>
							</div>
						</div>
						<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>   

			
		</main>
		
        
        
		   
       
        
        @@include('./src/components/ES5/_global/include-copyright.html')
        
        
    </div>
    <!-- .uix-wrapper end -->
       
       
    @@include('./src/components/ES5/_global/include-footer.html')

