/* ====================================================== 
   <!-- Entry -->      
/* ====================================================== */

/*
 * 1. Spacing
 * 2. Share
 * 3. Title
 * 4. Main Content
 * 5. Meta Info
*/



/* 
 ---------------------------
 1. Spacing
 ---------------------------
 */ 

.uix-entry__box {
	padding: 2.84375rem 0 1.75rem;
	
	&.uix-entry__box--top {
		padding: 2.84375rem 0 0;
	}
	
	&.uix-entry__box--mark a {
		color: var(--uix-highlight-color1);

		&:hover {
			color: var(--uix-highlight-color2);
		}
	}
	
	/*-- WordPress Style --*/
	.post-navigation {
		width: 100%;
	}
	.nav-previous,
	.nav-next {
		display: inline-block;
		width: 50%;
	}
}


/* 
 ---------------------------
 2. Share
 ---------------------------
 */ 

.uix-entry__box__share {
	.uix-btn {
		margin: 0 .5rem 1rem;
	}
}


/* 
 ---------------------------
 3. Title
 ---------------------------
 */ 

.uix-entry__box__title {
	padding-bottom: 1.75rem;
}

@media all and (max-width: 768px) {
	.uix-entry__box__title {
		padding-bottom: 0.4375rem;
	}
}



/* 
 ---------------------------
 4. Main Content
 ---------------------------
 */ 
.uix-entry__content {
	word-wrap: break-word;
    
    pre:not(.uix-precode) {
        background: #fff;
        border: 1px solid #d9d9d9;
        border-left: 5px solid var(--uix-highlight-color1);
        padding: .3em .7em;   
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    }
	
	img {
	    height: auto !important;
	}
	
	ul li img {
		height: inherit !important; /* Used for Gallery grid */
	}
	
	iframe {
	    max-width: 100% !important;
	}
	
	/* Align wide and full classes */
	/* (Using WordPress default class name ) */
	img.alignfull,
	img.alignwide,
	.alignfull img,
	.alignwide img {
		margin-left: calc( -100vw / 2 + 100% / 2 );
		margin-right: calc( -100vw / 2 + 100% / 2 );
		max-width: 100vw;
		width: 100vw !important;
	}
	
}



@media only screen and (min-width: 950px) {

	.uix-entry__content {
		img.alignwide,
		.alignwide img {
			max-width: inherit;
		}
	}
	
}



/* 
 ---------------------------
 5. Meta Info
 ---------------------------
 */ 
ul.uix-entry__meta {
	width: 500px;
	display: block;
	color: #999;
	font-style: italic;
	font-size: 0.75rem;
	line-height: 1.33333333333;
	
	li {
		display: inline-block;
		/*require*/
		margin-bottom: 0.62890625rem;

		&::before {
			content: '/';
			display: inline-block;
			margin-right: 0.4375rem;
		}

		a {
			color: #999;
		}

	}

	&.uix-entry__meta--centered {
		margin: 0 auto;
	}
	

	&.uix-entry__meta--wrap li {
		display: block;

		&::before {
			display: none;
		}

		strong {
			padding-right: 0.4375rem;
			font-size: 0.875rem;
			color: #C9C9C9;
			display: inline-block;
			width: 130px;
			vertical-align: top;
		}
		span {
			display: inline-block;
			width: calc( 100% - 130px - 0.875rem );
		}

		a {
			color: var(--uix-highlight-color1);

			&:hover {
				color: var(--uix-highlight-color2);
			}
		}

	}


	&:not(.uix-entry__meta--wrap) li:first-child::before {
		display: none;
	}

	
}
