/* ====================================================== 
   <!-- Mobile Menu --> 
/* ====================================================== */

/* Mobile Menu Toggle */
.uix-menu-mobile__toggle {
    @include transition-default();
    position: absolute;
    display: none;
    width: 40px;
    height: 40px;
    top: 15px;
    right: 20px;
    z-index: 90002;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border-radius: 100%;
    transition: .1s ease-in-out;
	
}
.uix-menu-mobile__mask {
	content: '';
	left: 0;
	top: 0;
	position: fixed;
	z-index: 90001;
	display: block;
	background: rgba(0,0,0,0);
	width: 100%;
	height: 100%;
	display: none;
}

.js-uix-menu-opened .uix-menu-mobile__mask {
	background: rgba(0,0,0,.7);
	display: block;
}


/* Show Toolbar when viewing site with WordPress */
.admin-bar .uix-menu-mobile__toggle {
    top: 66px;
	
    &.is-fixed {
        top: 20px;
    }
}

/* Admin bar becomes taller on smaller devices with WordPress */
@media all and (max-width: 782px) {
    .admin-bar .uix-menu-mobile__toggle.is-fixed {
        top: 66px;
    }
}

@media all and (max-width: 600px) {
    .admin-bar .uix-menu-mobile__toggle.is-fixed {
        top: 20px;
    }
}

@media all and (max-width: 768px) {
    .uix-menu-mobile__toggle {
        display: block;
    }
}

.uix-menu-mobile__toggle {
    span {
        display: block;
        position: absolute;
        top: 14px;
        left: 12px;
        width: 20px;
        height: 2px;
        background: #fff;
        @include transition-default();
    }

    span {
      
        @for $i from 1 to 3 {

            &:nth-child(#{$i+1}) {
                top: #{14+($i*5)}px;
            }
        }	  

    }
	
	
    &.is-opened {
	    span {
		    left: 16px;
		  
		    &:first-child {
		        transform: rotate(45deg) translate(0, 7px);
		    }
		    &:nth-child(2) {
		        opacity: 0;
		    }
		    &:nth-child(3) {
		        transform: rotate(-45deg) translate(0, -7px);
		    }	  
		  
	    }
    }
  	
}


/* Mobile Menu Container */

.uix-menu__container.is-mobile {
	
    @include transition-default();
    left: -300px;
    display: block;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    width: 260px;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: $font-mobile-stack;
    font-size: 15px;
    background: #f8f8f8;
    color: $primary-text-color;
    box-shadow: 0px 0px 37px 0px rgba(0, 0, 0, 0.1);

	
	
    > .uix-menu__inner {
        padding: 0 0 15px;
        > p {
            margin-left: 15px;
            margin-right: 15px;
        }
	  
	    > .uix-menu__right-box {
		    padding-left: .5rem;
			
		
		    a {
			    display: inline-block;
			    font-size: 1rem;
			    margin-right: .3rem;
		    }
			
			/* Social button for white color */
			.uix-social-btn--white {
				border-color: $primary-text-color;
				color: $primary-text-color;

				&:hover {

					i {
						color: $primary-text-color;
					}

					&::after {
						background-color: #fff;
					}		

				}		
			}
	    }
  
    }
	

    h1, h2, h3, h4, h5, h6 {
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RmZGZkZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
        background-size: 100%;
        background-image: linear-gradient(#ffffff, #dfdfdf);
        font-size: 11px;
        font-weight: normal;
        padding: 0 15px;
        margin: 0 0 5px;
        color: $primary-text-color;
        line-height: 24px;
        box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.2);
    }
    p {
        font-size: 13px;
        margin: 0 0 12px;
        a {
            color: rgba(51, 51, 51, 0.9);
        }
    }
	
    > p {
        margin-left: 15px;
        margin-right: 15px;
    }
	
    ul {
        display: block;
        margin: 0 0 15px;
        padding: 0;
        border-top: 1px solid #dfdfdf;
        border-bottom: none;
		
        li {
			
            display: block;
            margin: 0;
            line-height: 48px;
            border-top: none;
            border-bottom: 1px solid #dfdfdf;
            position: relative;

			
            a, 
			span {
                padding: 0 15px;
                display: block;
                text-decoration: none;
                color: $primary-text-color;
            }
			
            a:hover {
				color: #000;
            }
			
            &.is-opened > {
                a, 
				span {
                    box-shadow: 0 0 15px 3px #ebebeb inset;
                }
            }

			
			
            ul {
                border-bottom: 0;
                margin: 0;
				
                li {
                    line-height: 40px;
                    font-size: 13px;
					
                    &:last-child {
                        border-bottom: 0;
                    }
					
					a:hover {
						color: #000;
					}
					
                    &.is-opened > {
                        a, 
						span {
                            box-shadow: 0 0 15px 3px #ebebeb inset;
                        }
                    }
					
                    a, 
					span {
                        color: rgba(51, 51, 51, 0.8);
                    }
					

					
					
                }

            }	

        }
    }
	

    li > .sub-menu {
		margin-top: 0 !important;
    	overflow: hidden;
		height: 0;
		
    	ul {
        	height: auto;
    	}
  	}
	

	/* Mega & Dropdown */
	li.multi-column {
		
		ul {
			border: none;
		}
		
		> ul .multi-column-title {
			font-weight: bold;
			color: #ABABAB;
		}
		
		
	}


	li:not(.multi-column) {

		ul ul {
			padding-left: 0.721875rem;
		}
	} 

	.uix-menu__arrow-mobile {
	    position: absolute;
	    top: 0;
	    right: 10px;
	    font-style: normal;
	    font-weight: 100;
	    font-family: serif;
	    color: #ABABAB;
		
		&::after {
			content: '+';
			display: inline-block;
			font-size: 1rem;
		}
		
		&.is-opened::after {
			content: '-';
		}
		

	}

	
	
	/* Form Elements */
	form {
		margin: 0 15px;
    }
	label {
		font-size: 13px;
	}
	
	input:not([type="checkbox"]):not([type="radio"]) {
		  width: 100%;
		  font-size: 13px;
		  padding: 5px;
		  box-sizing: border-box;
		  margin: 0 0 10px;
		  border-radius: 2px;
		  border: 0;
		  background: rgba(0, 0, 0, 0.1);
		  color: rgba(51, 51, 51, 0.6);
		  display: block;
		  clear: both;
		
	  }
	
	  textarea, 
	  select {
		  width: 100%;
		  font-size: 13px;
		  padding: 5px;
		  box-sizing: border-box;
		  margin: 0 0 10px;
		  border-radius: 2px;
		  border: 0;
		  background: rgba(0, 0, 0, 0.1);
		  color: rgba(51, 51, 51, 0.6);
		  display: block;
		  clear: both;
	  }
	
	  input {
		  &[type="checkbox"] {
		      width: auto;
		      display: inline;
		      clear: none;
		  }
		  
		  &[type="button"], 
	      &[type="submit"] {
		      color: #f8f8f8;
		      background: $primary-text-color;
		  }
		  &[type="button"]:hover, 
		  &[type="submit"]:hover {
		      background: rgba(51, 51, 51, 0.9);
		  }
	  }

}

.js-uix-menu-opened .uix-menu__container.is-mobile {
	left: 0;
}
