/* ====================================================== 
    <!-- Modal Dialog --> 
/* ====================================================== */

$modal-box-radius: 8px;


.uix-modal-mask {
	background: rgba(0, 0, 0, 0);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 99997;
	display: none;
	content: '';
	background: rgba(0, 0, 0, 0.7);
}



.uix-modal-box {
	position: fixed;
	top: calc( -100vh - 71px ); /* For compatibility with mobile devices, do not use percentages "%" */
	z-index: 99998;
	pointer-events: none;
	transition: all .5s ease-out;
	width: 850px;
	height: 60vh;
	border-radius: $modal-box-radius;
	background: #fff;
	box-shadow: 0px 0px 71px 0px rgba(0, 0, 0, 0.47);
	left: 50%;
	transform: translate(-50%, -50%);
	
	
	&:not(.is-fullscreen) {
		max-width: calc(100vw - 100px);
		max-height: calc(100vh - 100px);
	}

	
	/* Video container */
	.uix-modal-box__video-container {
	
		> div.video-js {
			margin: 0 auto;
			transform: translateY(15px);
		}
		
	}
	
	.uix-modal-box__video-waiting {
		
		display: none;
		position: fixed;
		left: 50%;
		top: 50%;
		z-index: 99998;
		margin-left: -1rem;
		
		&::after {
			font-family: 'FontAwesome';
			content: "\f110";
			color: #fff;
			font-size: 2rem;
			text-shadow: 0 2px 3px rgba(0,0,0,.3);
			display: inline-block;
			animation: fa-spin 2s infinite linear;
		}
		
		&.active {
			display: block;
		}
	}	
	
	
	.uix-modal-box__content {
		padding: 1.5rem 1.625rem 1.5rem 1.5rem;
		word-wrap: break-word;
		height: 100%;
		
		> div {
			position: relative;
			height: 100%;
			overflow: hidden;
		}
		
		img {
			@include transition-default(); 
			opacity: 0;
		}
	}
	
	.uix-modal-box__close {
		box-shadow: 2.5px 4.33px 16px 0px rgba(204, 23, 30, 0.31);
		border-radius: 50%;
		background: rgba(204, 23, 30, 1);
		width: 36px;
		height: 36px;
		display: inline-block;
		text-align: center;
		line-height: 34px;
		overflow: hidden;
		position: absolute;
		right: 12px;
		top: 12px;
		transform: rotate(45deg);
		z-index: 1;
		
		&::after {
			font-family: 'FontAwesome';
			content: "\f067";
			color: #fff;
			font-size: 16px;
			margin: 0;
			
		}	
		
		&:hover {
			background: #b50d14;
		}
		
	}
	
	&.is-video {
		background: none;
		box-shadow: none;
		
		.uix-modal-box__close::after {
			font-size: 2rem !important;
		}		
		
	}

	&.active, 
	&.is-fullscreen.active {
	    pointer-events: auto;
	}
	
	&.active {
	    top: 50vh; /* For compatibility with mobile devices, do not use percentages "%" */
	}
	&.is-fullscreen.active {
	    top: 0;
	}
	
	&.active .uix-modal-box__content img, 
	&.is-fullscreen.active .uix-modal-box__content img {
		opacity: 1;
	}
	
	&.active .uix-modal-box__content {
		
		> div {
			overflow-y: auto;
		}
	    
	}

	
	&.is-fullscreen {
		
		left: 0;
		width: 100% !important;
		height: 100% !important;
		transform: translateY(0);
		border-radius: 0;
		
		
		.uix-modal-box__close {
			
			&::after {
				font-size: 1rem;
			}
			
		}
		&.is-video .uix-modal-box__close {
			box-shadow: none;
			background: none;
		

		}
	}
	

	
}

@include customScrollbar( 'vertical', '.uix-modal-box__content > div' );



	

@media all and (max-width: 991px) {
	.uix-modal-box:not(.is-fullscreen) {
		width: 850px !important;
	}
}

@media all and (max-width: 768px) {
	.uix-modal-box:not(.is-fullscreen) {
	    width: 90% !important;
		height: 60vh !important;
	}
}




