/* ====================================================== 
   <!-- Table -->      
/* ====================================================== */

/*
 * 1. Generic
 * 2. Table Sorter
*/


/* 
 ---------------------------
 1. Generic
 ---------------------------
 */
$table-border-color: #d6d5d5;
$table-border-headerbg: #f2f2f2;
$table-alternant-bg: #f2f2f2;

table.uix-table,
.uix-table table {

	margin: 0;
	padding: 0;
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	border: 1px solid $table-border-color;
	width: 100%;
	border-color: $table-border-color;

	caption {
		padding: 0.875rem 0;
	}
	
	
	th,
	td {
		border-color: $table-border-color;
		border-left: 1px solid $table-border-color;
		border-width: 0 0 0 1px;
		margin: 0;
		overflow: visible;
		padding: 0.5rem 0.75rem;	
		vertical-align: top;
		
		
	}

	thead {
		background: $table-border-headerbg;
		vertical-align: bottom;
		
		th {
			text-align: inherit; /* Required */
		}
	}

	tfoot {
		border: 1px solid $table-border-color;
	}


	td {
		background-color: transparent;
		
	}

	

}

/*-- Table Effect by Default --*/
/* Compatible with  Uix Shortcodes (WordPress Plugin) */
.uix-table a:not(.uix-sc-btn) {
    color: $highlight-color1;
}

.uix-table a:not(.uix-sc-btn):not(.uix-btn):hover {
    color: $highlight-color2;
    text-decoration: underline;
}

.uix-table a:not(.uix-sc-btn):hover img {
    text-decoration: none;
}


@media all and (max-width: 768px) { 
	
	table.uix-table.is-responsive,
	.uix-table.is-responsive table {
		
		thead {
		    display: none;
		}
		tbody {
			tr:nth-of-type(even) {
				background-color: $table-alternant-bg;
			}
			
			td {
				display: block;
				


				&::before {
					content: attr(data-table);
					display: block;
					float: left;
					width: 40%;
					font-weight: bold;
					border-right: 1px solid $table-border-color;
					margin-right: 0.5rem;
				}

				&::after {
					content: '';
					display: block;
					clear: both;
				}	
			}	
			
		}


	}

}


table.uix-table--bordered,
.uix-table--bordered table {

	border: 1px solid $table-border-color;
	border-collapse: collapse;
	width: 100%;


	td, 
	th {
		border: 1px solid $table-border-color;
		padding: 0.6875rem;
	}

}

table.uix-table--noborder,
.uix-table--noborder table {
	border: none;
}

table.uix-table--top-noborder,
.uix-table--top-noborder table {
	td {
		border-top: none;
	}
}

table.uix-table--bottom-noborder,
.uix-table--bottom-noborder table {
	td {
		border-bottom: none;
	}	
}

table.uix-table--alternant-row,
.uix-table--alternant-row table {
	tbody tr:nth-child(even) {
		background-color: $table-alternant-bg;
	}
}

table.uix-table--alternant-col,
.uix-table--alternant-col table {

	col:first-child {
		background-color: #000;
	}
	col:nth-child(2n+3) {
		background-color: $table-alternant-bg;
	}	

}

table.uix-table--striped tr:nth-child(2n-1) td,
.uix-table--striped table tr:nth-child(2n-1) td {
	background-color: $table-border-headerbg;
}

table.uix-table--per-line,
.uix-table--per-line table {

	td {
		border-bottom: 1px solid $table-border-color;
		border-width: 0 0 1px;
	}


	tbody tr:last-child td {
		border-bottom-width: 0;
	}		

}

table.is-horizontal,
.is-horizontal table {

	td {
		border-bottom: 1px solid $table-border-color;
		border-width: 0 0 1px;
	}

	tbody tr:last-child td {
		border-bottom-width: 0;
	}	

	th {

		border-bottom: 1px solid $table-border-color;
	}

}



/* 
 ---------------------------
 2. Table Sorter
 ---------------------------
 */

.uix-table-sorter {
	cursor: pointer;

	&::after {
		content: '';
		font-family: 'FontAwesome';
		color: $sub-text-color;
		margin-left: .5rem;
		font-size: 0.75rem;
		content: "\f0dc";
	}

}


.js-uix-newsort {
	animation: uix-cssAnim--newsort .5s linear 1 forwards;
	opacity: 0;
}

@for $i from 1 to 100 {

	.js-uix-newsort:nth-child(#{$i+1}) {
		animation-delay: #{$i*100}ms;
	}
}	  



@keyframes uix-cssAnim--newsort {
	0%   { 
		opacity: 0;
		transform: translateX(10px);
	}
	
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
