@@include('./src/components/ES5/_global/include-header.html')
     
  <body class="page" style="background-color: #ec5e79; background-image: linear-gradient(90deg,#ec5e79 0,#f60 20%,#d83ba0);">
  
  
          
    @@include('./src/components/ES5/_global/include-loader.html')
    @@include('./src/components/ES5/_global/include-toggle-trigger.html')
    
    

  
  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container uix-header__container--overlay">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/ES5/_global/include-brand.html')
                        
                        @@include('./src/components/ES5/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
      

     
       
       <!-- Content 02
        ====================================================== -->
        <canvas id="3D-particle-effect-canvas" data-img-src="assets/images/logo-colorful.png"></canvas>
        
       
       
       
		
        @@include('./src/components/ES5/_global/include-copyright.html')
        
        
    </div>
    <!-- .wrapper end -->
       
       
    @@include('./src/components/ES5/_global/include-footer.html')

