<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
	<meta charset="@@{website_charset}" />
	<title>Modal Dialog Auto-open - @@{website_title}</title>	
	@@include('./src/components/ES6/_global/include-header.html')
</head>  

     
  <body class="page">
  
  
          
    @@include('./src/components/ES6/_global/include-loader.html')
    @@include('./src/components/ES6/_global/include-toggle-trigger.html')
    
    

  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/ES6/_global/include-brand.html')
                        
                        @@include('./src/components/ES6/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder js-uix-header__placeholder-autoheight"></div>
      
    
		<main id="uix-maincontent">
			
			<!-- Content   
			====================================================== -->
			<section class="uix-spacing--s uix-spacing--no-bottom">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h3>Modal Dialog Automatically Open</h3>
							<p>Trigger with a simple JavaScript</p>
							
<pre class="uix-precode uix-t-l"><label>JS</label><code>$( document ).ready( function() {
	$(document).UixFireModalDialog({
		id: 'modal-open-1',
		height: false,
		width: false,
		speed: 500,
		lightbox  : true,
		autoClose : false //If the value is 2000, it will automatically close after 2 seconds.
	});

} );</code>
</pre>					
							
							<hr>
							
							
						</div>
					</div>
					<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>
			
			
		

			<!-- Modals
			============================================= --> 
			<div class="uix-modal-box" tabindex="-1" role="dialog" aria-hidden="true" id="modal-open-1">
				<a href="javascript:void(0)" class="uix-modal-box__close" data-modal-close-trigger="true"></a>
				<div class="uix-modal-box__content" role="document">
					<div>
						<!-- ////////  content  begin //////// -->
						<h2>Holy Crap!!!</h2>
						<p>p.s. Sorry for calling you a dingus earlier.</p><p>p.s. Sorry for calling you a dingus earlier.</p><p>p.s. Sorry for calling you a dingus earlier.</p><p>p.s. Sorry for calling you a dingus earlier.</p><p>p.s. Sorry for calling you a dingus earlier.</p><p>p.s. Sorry for calling you a dingus earlier.</p><p>p.s. Sorry for calling you a dingus earlier.</p><p>p.s. Sorry for calling you a dingus earlier.</p><p>p.s. Sorry for calling you a dingus earlier.</p>
						<!-- ////////  content  end //////// -->
					</div>


				</div>
			</div>
			<!--  .uix-modal-box  end -->     
			
		</main>  
        
		   
    


        @@include('./src/components/ES6/_global/include-copyright.html')
        
        
    </div>
    <!-- .uix-wrapper end -->
       
       

	<script>

	( function( $ ) {
	"use strict";

		$( document ).ready( function() {

			$(document).UixFireModalDialog({
				id: 'modal-open-1',
				height: false,
				width: false,
				speed: 500,
				lightbox  : true,
				autoClose : false
			});

		} );

	} ) ( jQuery );
	</script>	


	  
    @@include('./src/components/ES6/_global/include-footer.html')

