<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
	<meta charset="@@{website_charset}" />
	<title>Rotating Elements - @@{website_title}</title>	
	@@include('./src/components/ES5/_global/include-header.html')
</head>  

     
  <body class="page">
  
  
          
    @@include('./src/components/ES5/_global/include-loader.html')
    @@include('./src/components/ES5/_global/include-toggle-trigger.html')
    
    

  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/ES5/_global/include-brand.html')
                        
                        @@include('./src/components/ES5/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder"></div>
      
		
		<main id="uix-maincontent">
			
			<!-- Content   
			====================================================== -->
			<section>
				<div class="container uix-t-c">
						<div class="row">
							<div class="col-md-8 offset-md-2">
								<h2>Rotating Elements</h2>


							</div>
						</div>
						<!-- .row end -->


				</div>
				<!-- .container end -->

			</section>




		   <!-- Content  
			====================================================== -->
			<section class="uix-spacing--m">
				<div class="container uix-t-c">
						<div class="row">
							<div class="col-md-8 offset-md-2">

								<figure id="pointer-container">
									<svg style="transition: all 0.3s ease;" width="100" height="100" id="pointer" viewBox="0 0 156 192">
										<polygon fill="#EC5E79" points="55.8,47.3 78,8.9 100.2,47.3 "/>
										<circle fill="#000" cx="78" cy="114" r="72"/>
									</svg>
								</figure>       


								<p>
									<a class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary is-pill is-transparent" href="javascript:" data-pointer-to-deg='{"target":"#pointer","deg":90,"mouseSpy":false}'>Rotate 90&deg;</a>
	&nbsp;
									<a class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary is-pill is-transparent" href="javascript:" data-pointer-to-deg='{"target":"#pointer","deg":-45,"mouseSpy":false}'>Rotate -45&deg;</a>
								</p>  


							</div>
						</div>
						<!-- .row end -->


				</div>
				<!-- .container end -->

			</section>   



			
		</main>
        
        
		   
        
        
        @@include('./src/components/ES5/_global/include-copyright.html')
        
        
    </div>
    <!-- .uix-wrapper end -->
       
       
    @@include('./src/components/ES5/_global/include-footer.html')

