/* ======================================================
   <!-- Source Code -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';


/* Source Code Button */
#uix-view-source {
	position: fixed;
	background: #fff;
	z-index: 99997;
	top: calc(50% - 18px);
	right: 20px;
	margin: auto;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid $highlight-color1;
	border-radius: 25px;
	height: 2rem;
	width: 2rem;
	font-size: 0.75rem;
	padding: 0;
	outline: none;
	overflow: hidden;
	color: $highlight-color1;
	transition: .1s ease-in-out;
	text-align: center;
	line-height: 250%;
	box-shadow: 0 4px 15px 0 rgba($highlight-color1, 0.35);

	i {
	    font-size: 1rem;
	}
	&::before {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		content: '';
		border-radius: 50%;
		display: block;
		width: 4rem;
		height: 4rem;
		line-height: 4rem;
		left: -1rem;
		text-align: center;
		transition: box-shadow .3s ease-out;
		z-index: -1;
	}
	&:hover {
		color: #fff;
		box-shadow: 0 4px 15px 0 rgba($highlight-color1, 0.75);

		&::before {
			box-shadow: inset 0 0 0 4rem $highlight-color1;
		}
	}
}

@media all and (max-width: 768px) {
	#uix-view-source {
	    display: none;
	}

}


/* Source Code Area */
#uix-source-code {
	display: none;
	position: fixed;
	z-index: 99997;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.8);
	&:target {
	    display: block;
	}
	pre {
		padding: 20px;
		font: 14px/1.6 Monaco, Courier, MonoSpace;
		margin: 50px auto;
		background: rgba(0, 0, 0, 1);
		color: white;
		width: 80%;
		height: 80%;
		overflow: auto;

		a {
			text-decoration: none;
			color: #00ccff !important;

			span {
				text-decoration: none;
				color: #00ccff !important;
			}
		}
	}

	#uix-source-code__close {
		position: absolute;
		top: 30px;
		left: 10%;
		margin-left: -18px;
		box-shadow: 2.5px 4.33px 16px 0px rgba(204, 23, 30, 0.31);
		border-radius: 50%;
		background: #cc171e;
		width: 36px;
		height: 36px;
		display: inline-block;
		text-align: center;
		line-height: 34px;
		overflow: hidden;
		transform: rotate(45deg);
		text-decoration: none;
	}

	.prettyprint {
		border-radius: 2px;
		box-shadow: 0px 0px 28px -4px rgba(0, 0, 0, 0.62);

		&::-webkit-scrollbar-track {
			border-radius: 0px;
			background-color: #F1F1F1;
		}
		&::-webkit-scrollbar {
			width: 5px;
			height: 5px;
			background-color: #F5F5F5;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 0px;
			background-color: #000;
		}

	}

	#uix-source-code__close::after {
		font-family: 'Font Awesome 5 Free';
		font-weight: 600;
		content: "\f067";
		color: #fff;
		font-size: 1rem;
	}
}
