@@include('./src/components/_global/include-header.html')
     
  <body class="page">
  
  
          
    @@include('./src/components/_global/include-loader.html')
    @@include('./src/components/_global/include-toggle-trigger.html')
    
    

  
  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container uix-header__container--overlay">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/_global/include-brand.html')
                        
                        @@include('./src/components/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clear"></div>
             </div>
        
        </header>
        
        

  
        <!-- Parallax & Overlay Demo
        ============================================= --> 
        <section>
            <div class="uix-parallax uix-height--100" data-fully-visible="false" data-overlay-bg="false" data-skew="0" data-speed="0.1">
                <img class="uix-parallax__img" src="assets/images/demo/spiral-galaxy-1920x1080.jpg" alt="">
                <div class="uix-v-align--absolute uix-t-c">
                    <h2>Fulscreen + Vertically Centered Text</h2>
                </div>
            </div>
        </section>
        
        <section class="uix-spacing--s">
            <div class="uix-parallax uix-height--100 uix-typo--color-white" data-fully-visible="false" data-overlay-bg="rgba(0,0,0,.6)" data-skew="0" data-speed="0.4">
                <img class="uix-parallax__img" src="assets/images/demo/spiral-galaxy-1920x1080.jpg" alt="">
                
				<div class="uix-v-align--absolute uix-t-c">
					<h2 class="uix-parallax--el" data-parallax="-0.4">
						Fulscreen + Parallax Element
						<p class="uix-typo--h4">Has Overlay Background</p>
					</h2>
					
				</div>
                
            </div>
        </section>
            
        <section class="uix-spacing--s">
            <div class="uix-height--100 is-mobile-still" data-bg='{"src":"assets/images/demo/spiral-galaxy-1920x1080.jpg","position":"top left","size":"cover","repeat":"no-repeat","fill":false,"parallax":-0.3}'>
                
                <div class="uix-v-align--absolute uix-t-c">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h2>
								Use the <code>data-bg</code> attribute to set the parallax.
                            </h2>
							<p class="uix-typo--h4">Do not change any style properties on mobile devices.</p>
                        </div>
                    </div>
                    <!-- .row end -->
                </div>
                <!-- .uix-v-align--absolute  end -->   
                
                
            </div>
        </section>
            
                        
        
        <section class="uix-spacing--s">
            <div class="uix-parallax uix-height--30" data-fully-visible="false" data-overlay-bg="false" data-skew="0" data-speed="0.1">
                <img class="uix-parallax__img" src="assets/images/demo/spiral-galaxy-1920x1080.jpg" alt="">
                <div class="uix-v-align--absolute uix-t-c">
                    <h2>Has class "uix-height--30"</h2>
                </div>
            </div>
        </section>
        
        
        
        <section class="uix-spacing--s">
            <div class="uix-parallax" data-fully-visible="true" data-overlay-bg="false" data-skew="0" data-speed="0.3">
                <img class="uix-parallax__img" src="assets/images/demo/spiral-galaxy-1920x600.jpg" alt="">
                <div class="uix-v-align--absolute uix-t-c">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h2>
								Small Image 1920 x 600
								<p class="uix-typo--h4">The image is fully visible</p>
                            </h2>
                        </div>
                    </div>
                    <!-- .row end -->
                </div>
                <!-- .uix-v-align--absolute  end -->
            </div>
        </section>
        
        
        <section class="uix-spacing--s">
            <div class="uix-parallax uix-typo--color-white" data-fully-visible="false" data-overlay-bg="rgba(0,0,0,.6)" data-skew="0" data-speed="0.3">
                <img class="uix-parallax__img" src="assets/images/demo/spiral-galaxy-1920x309.jpg" alt="">
                <div class="uix-v-align--absolute uix-t-c">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h2>
								Small Image 1920 x 309
								<p class="uix-typo--h4">Has Overlay Background</p>
                            </h2>
                        </div>
                    </div>
                    <!-- .row end -->
                </div>
                <!-- .uix-v-align--absolute  end -->
            </div>
        </section>
         
        
        <section class="uix-spacing--s">
            <div class="uix-parallax" data-fully-visible="false" data-overlay-bg="false" data-skew="-3" data-speed="0.3">
                <img class="uix-parallax__img" src="assets/images/demo/spiral-galaxy-1920x309.jpg" alt="">
                <div class="uix-v-align--absolute uix-t-c">
                    <h2 class="uix-el--skew">Skew Parallax Effect</h2>
                </div>
            </div>
        </section>
        
        

            
        @@include('./src/components/_global/include-copyright.html')
        
        
    </div>
    <!-- .wrapper end -->
       
       
    @@include('./src/components/_global/include-footer.html')

