/* ====================================================== 
    <!-- Form -->                                         
/* ====================================================== */

/*
 * 1. Controls
 * 2. Upload
 * 3. Group
 * 4. Custom Select
 * 5. Custom Radio, Toggle And Checkbox
 * 6. Search of Widget
*/



@mixin select-arrow-rtl( $top, $left ){
	border-left: 0;
	right: auto;
	left: $left;
}


/* 
 ---------------------------
 1. Controls
 ---------------------------
 */ 


/* Default Controls */
.uix-controls:not(.uix-controls__toggle):not(.uix-controls__checkbox):not(.uix-controls__radio):not(.uix-controls__select) {
	text-align: right;
	
	&.uix-controls-side {
		margin-left: auto;
		margin-right: .2rem;
	}
	
	
	
	//Create Line Effect on Click
	.uix-controls__bar {
		left: auto;
		right: -2px;
		
		&::before {
			left: auto;
			right: 51%;
		}
		&::after {
			right: auto;
			left: 49%;
		}
	
	}
	

	
	&.uix-controls__short-s {
		
		input:not([type="checkbox"]):not([type="radio"]) {
			margin-right: auto;	
			margin-left: .5rem;	
		}
		
		

	}  	

	&.uix-controls__short-l {
		input:not([type="checkbox"]):not([type="radio"]) {
			margin-right: auto;	
			margin-left: .5rem;	
		}

	}  
	
	
	label {
		left: auto;
		right: 0.875rem;
		
		
		&.active {
			transform-origin: right top;
			
		}	
		
	}
	
	
	/*-- Radio --*/
	&.uix-controls__normal-radio {
	
		label {
			padding-left: auto !important;
			padding-right: 1.25rem !important;
			right: auto !important;
		}	
		
	}
	
	/*-- Select --*/
	&.uix-controls__normal-select {

		> span {
			padding-right: auto;
			padding-left: 1rem;
			
		}
		
		select {
			padding-right: auto !important;
			padding-left: 1.5rem !important;
		}
		
		label {
			right: auto !important;
			padding-right: auto !important;
			padding-left: 1rem !important;

			&::after {
			  @include select-arrow-rtl( -.875rem, 1rem );
			}
		}	
		
	}
	
	

    /*-- Form With Icon --*/
	&.is-iconic {
		label {
		    left: auto;
			right: 3rem;
		}

		i {
			left: auto;
			right: 1rem;
			
			&::after {
				left: auto;
				right: 1.4rem;
			}
			
		}

		input:not([type="checkbox"]):not([type="radio"]) {
			padding-left: auto;
			padding-right: 3.5rem;

		}

		textarea, 
		button, 
		select {
			padding-left: auto;
			padding-right: 3.5rem;
		}

	}
	
	

	
	
	/*-- Other --*/
	.uix-controls__arrow {
		right: auto;
		left: 0.875rem;
	}


	/* WordPress Style */
	.req-icon {
		right: auto;
		left: 0.721875rem;
	}
	

	
}


/* Create Line Effect on Click */
.uix-controls.uix-controls--line {

	label {
		&.active {
			transform: translateX(1.75rem) scale(.875);
		}	
	}
	
	&.is-iconic {
		label {
			
			right: 2.375rem;
			
			&.active {
				transform: translateX(4.09375rem) scale(.875);
			}	
		}	

		&.is-reversed {

			label {
				right: -0.546875rem !important;

			}


		}

		
	}

	

	
}

.col-sm-12 {
	
	.uix-controls.uix-controls--line {
		
		&:not(.uix-controls__short-s):not(.uix-controls__short-l) {
			.uix-controls__bar {
				right: -8px;

			}	
		}
		
		&.uix-controls__textarea {
			.uix-controls__bar {
				right: -8px;
			}		
		}
		
	
	}

}

/* 
 ---------------------------
 2. Upload
 ---------------------------
 */
.uix-controls-file-container {
	input[type="file"] {
		left: auto;
		right: 0;
	}
}

/* 
 ---------------------------
 3. Group
 ---------------------------
 */ 

.uix-controls-merge {
	
	
	
	button {
		margin-left: auto;
		margin-right: -5px;
		
	}
	
	&.is-pill {
		input {
			border-radius: 0 50px 50px 0;
		}
		 
		button {
			border-radius: 50px 0 0 50px;
		}
		
	}
	
    /*-- Form With Icon --*/
	&.is-iconic {

		input {
			padding-left: auto;
			padding-right: 3rem;

		}

		
		i {
			left: auto;
			right: 1rem;
			
			&::after {
				left: auto;
				right: 1.4rem;
			}
			
		}

	}
	
}


/* 
 ---------------------------
 4. Custom Select
 ---------------------------
 */ 
.uix-controls__select {
	text-align: right;
}

.uix-controls__select-wrapper {
	


	.uix-controls__select-trigger {
		padding: 0.546875rem 1.5rem  0.546875rem 2.5rem;

	}

	
	.uix-controls--line  {
		
		//Create Line Effect on Click
		.uix-controls__bar {
			left: auto;
			right: -0.25rem;
			
		
			&::before {
				left: auto;
				right: 51%;
			}
			&::after {
				right: auto;
				left: 49%;
			}

		}	
		
		
		&.is-fullwidth {
			.uix-controls__bar {
				right: -0.685rem;
			}	
			
		}	
	
		
	}
	
	

	.uix-controls__select-label {
		margin-left: auto;
		margin-right: .5rem;
	}

	.uix-controls__select__option-container {
		left: auto;
		right: 0;
	}


}	

/* 
 ---------------------------
 5. Custom Radio, Toggle And Checkbox
 ---------------------------
 */
.uix-controls__radio {
  
	text-align: right;

	label {
		right: auto;
	}	

	.uix-controls__radio-trigger {
		margin-right: auto;
		margin-left: 5px;

		&::before {
			left: auto;
			margin-left: auto;		
			right: 50%;
			margin-right: -3px;
		}
	}
}



.uix-controls__toggle {
	
	text-align: right;


	input[type="checkbox"] {
		
		&:checked + .uix-controls__toggle-trigger {
			margin-left: auto;
			margin-right: 8px;
		}
	}

	.uix-controls__toggle-trigger {
		margin: 0.5rem 0 0.5rem .5rem;
		margin-left: auto;
		margin-right: 50px;

		&::before {
			left: auto;
			right: -50px;
		}

		&::after {
			right: auto;
			left: -50px;
		}

	}
}

.uix-controls__checkbox {

	text-align: right;

	.uix-controls__checkbox-trigger {
		margin: 0.546875rem 0 0.546875rem .5rem;
		
		&::before,
		&::after {
			left: auto;
			right: 4px;
		
		}

	}
}


/* 
 ---------------------------
 6. Search of Widget
 ---------------------------
 */
.uix-search-box {
	
	.uix-search-box__submit {
		right: auto;
		left: 0.875rem;	
	}

}
