/* ====================================================== 
   <!-- Side by Side List --> 
/* ====================================================== */
dl.list-side-by-side {
	width: 100%; /* adjust the width; make sure the total of both is 100% */
	font-size: 0.875rem;
	margin-bottom: 0;
	
	
	dt {
		float: left;
		clear: left;
		width: 80px;
		padding: 5px 0;
		margin: 0;
		font-weight: 600;
		text-align: left;
	}
	
	dd {
		float: left;
		width: calc(100% - 80px);
		padding: 5px 0;
		margin: 0;
		text-align: left;
		padding-left: 1rem;
		
		p {
			margin-bottom: .2rem;
		}	
		
	}
	
	&::after {
		content: '';
		display: table;
		clear: both;
	}
	
	/* Icon List */
	&.icon {
		dt {
			width: 30px;
		
			i {
				font-size: 1.5rem;
			}

		}
		
		dd {
			width: calc(100% - 30px);
		}	
		
	}
	
	
}
