/* ====================================================== 
   <!-- Services --> 
/* ====================================================== */

.uix-services {
   
	[class*='col-'],
	[class*='uix-core-grid__col-'] {
		position: relative;
		
		i {
			font-size: 10rem;
			opacity: .2;
			position: absolute;
			right: -2rem;
			bottom: -2rem;
			z-index: 0;
		}	
		
		> div {
			padding: 3rem;
			
		}

	}
	
}

