@@include('./src/components/ES5/_global/include-header.html')
 
  <body class="home">
  
  
          
    @@include('./src/components/ES5/_global/include-loader.html')
    @@include('./src/components/ES5/_global/include-toggle-trigger.html')
    

  
  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container uix-header__container--overlay">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/ES5/_global/include-brand.html')
                        
                        @@include('./src/components/ES5/_global/include-menu.html')
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
		
		
      
     
       
    
        <!-- Parallax & Overlay Demo
        ============================================= --> 
		
        <section>
            <div class="uix-parallax uix-height--100 uix-typo--color-white" data-fully-visible="false" data-overlay-bg="false" data-skew="0" data-speed="0.3">
                <img class="uix-parallax__img" src="assets/images/demo/index-bg-1920x1080.jpg" alt="">
                <div class="uix-v-align--absolute uix-t-c uix-hidden-scrollbar-x">
                    <div class="container uix-t-c">
                    
						<div class="row">
							<div class="col-md-6 offset-md-3">
							    <div class="uix-spacing--m uix-spacing--no-bottom uix-mobile-el"></div>
								<img src="assets/images/logo-hero.png" alt="Uix Kit">
								<br>
								<br>
								<h3 class="uix-typo--h5 uix-typo--style-normal" data-text-eff="letters-eff-flyInOut-001" data-text-eff-speed="800">Free Responsive HTML5 UI Kit for Fast Web Design Based On Bootstrap </h3>

								<div class="uix-btn__group uix-btn__margin--b">
									<a href="https://github.com/xizon/uix-kit" target="_blank" class="uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--secondary is-pill">Download</a>
									<a href=" https://www.youtube.com/watch?v=ckYJBMfPtBs" target="_blank" class="uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--secondary is-pill"><i class="fa fa-play-circle" aria-hidden="true"></i>Tutorial</a>

								</div>



								<br>
								<iframe src="https://ghbtns.com/github-btn.html?user=xizon&repo=uix-kit&type=watch&count=true&size=small" width="80" height="20"></iframe>
								&nbsp;&nbsp;
								<a href="https://twitter.com/uiux_lab?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="small" data-lang="en" data-show-count="true">Follow @uiux_lab</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

								<br><br>


							</div>
						</div>
						<!-- .row end -->
                   
                    </div>
                    <!-- .container end -->  

                </div>
                <!-- .uix-v-align--absolute  end -->
            </div>
        </section>
        <!--  #parallax-test-3  end --> 
            

        
       <!-- Content 01  
        ====================================================== -->
        <section class="uix-spacing--m">
            <div class="container">
                    <div class="row">
                        <div class="col-md-10 offset-md-1 uix-list uix-list--normal uix-table uix-table--bordered">
							<p><strong>Make over <span class="uix-typo--color-highlight">120+</span> components to wear again and again!</strong></p>
							<p>An underlying front-end system that makes it easy to extend and modify core files. This spec is a living document that will be updated as we continue to develop the tenets and specifics of Uix Kit. Support JS, HTML and SASS component library automatically packaged. Automatically convert ES6 JS to ES5 using Babel in this scaffold.</p>
							<p>Enjoy the fluid grid system based on Bootstrap and self-expansion. Uix Kit is built over Bootstrap and has all the benefits that the framework comes with. Regardless of the screen size, the website content will naturally fit the given resolution. Using the Uix Kit will save you large amount of time to build your projects. It supports 3D and 2D rendering with three.js and pixi.js. More typically, automatically generate core files with Webpack for each module (contains .js, .scss, .html files).</p>
                          
                            <hr> 
							<h3 class="pinline"><span>How To Use?</span></h3>
							<p><strong>Step 1.</strong> Use NPM (Locate your current directory of project, and enter the following command.) or download the latest version from <a href="https://github.com/xizon/uix-kit">Github</a>. For nodejs you have to install some dependencies.</p>
							<p><code>$ sudo npm install uix-kit</code></p>
							<p>Or clone the repo to get all source files including build scripts: </p>
							<p><code>$ git clone git://github.com/xizon/uix-kit.git</code></p>
							<p><strong>Step 2.</strong> First, using an absolute path into your <code>"uix-kit/"</code> folder directory.</p>
							<p>
								<code>$ cd /{your_directory}/uix-kit</code>
							</p>
							<p><strong>Step 3.</strong> Before doing all dev stuff make sure you have `Node 10+` installed. After that, run the following code in the main directory to install the node module dependencies.</p>
							<p><code>$ sudo npm install --save-dev  --unsafe-perm node-sass</code></p>
							
							<p><strong>Step 4.</strong> Run the following code to enter development mode. The converted ES5 files will be created.</p>
							<p>
								<code>$ npm run build</code>
							</p>
							
							<p><strong>Step 5.</strong> When you done, this will spin up a server that can be accessed at</p>
							<p><code>http://localhost:8080/examples/</code></p>
							
							
							<div class="uix-striking-msg uix-striking-msg--default">
							
								<strong>ERROR: npm update check failed.</strong><br>
								
								<code>$ sudo chown -R $USER:$(id -gn $USER) /Users/{username}/.config</code>
							</div>

							
                       
                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section>
          
        

    @@include('./src/components/ES5/_global/include-copyright.html')
        
        
    </div>
    <!-- .uix-wrapper end -->
       
       
    @@include('./src/components/ES5/_global/include-footer.html')
    
   