/* ======================================================
   <!-- Dropdown Menu -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/mixins';
@import '@uixkit/core/_global/scss/functions';
@import '@uixkit/core/_global/scss/variables';

/* Do not use <a> tag */
.uix-dropdown-menu {

	> ul {
		left: auto;
		right: 0;


		&::before {
			left: auto;
			right: 20px;
		}

	}

}
