        <!-- Footer
        ============================================= -->    
        <footer class="uix-footer__container">
            <div class="uix-footer">
            
				<div class="container">
					<hr>
					
					<div class="row">
						<div class="col-lg-6 col-md-6 uix-t-l uix-t-c--md">

							Copyright &copy; Uix Kit 2019.  |  All rights reserved. Created by <a href="https://uiux.cc">UIUX Lab</a>.
						</div>
						<div class="col-lg-6 col-md-6 uix-t-r uix-t-c--md">
							<div class="uix-footer__menu">
								<ul>
									<li>
										<a href="https://uiux.cc" target="_blank">
											UIUX Lab
										</a>
									</li>
									<li>
										<a href="https://opensource.org/licenses/MIT" target="_blank">
											Licenses
										</a>
									</li>
									<li>
										<a href="https://github.com/xizon/uix-kit" target="_blank">
											Download
										</a>
									</li>

									<li>
										<a href="https://github.com/xizon/uix-kit/wiki/Getting-Started" target="_blank">
											Documentation
										</a>
									</li>


								</ul>
							</div>

						</div>
					</div>

				</div><!-- .container  end -->
				
			</div>
        </footer>

