/* ====================================================== 
       <!-- Periodical Scroll -->      
/* ====================================================== */
.custom-periodical-scroll {
	position: relative;
	
	
	ul {
		display: block;
		overflow: hidden;
		height: 0;

		li {
			display: block;
			min-height: 6rem;/* The height of each scroll */
			
			span {
				display: block;
				@include icontxt-gradient();
				letter-spacing: 2px;
			}
		}
	}
}
