@@include('./src/components/ES5/_global/include-header.html')
     
  <body class="page">
  
  
    @@include('./src/components/ES5/_global/include-loader.html')
    @@include('./src/components/ES5/_global/include-toggle-trigger.html')
    
    
  
  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/ES5/_global/include-brand.html')
                        
                        @@include('./src/components/ES5/_global/include-menu.html')
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder"></div>
      
      
     
        <!-- Content 01
        ====================================================== -->
        <section>
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h2>Dynamic Drop Down List from JSON</h2>
							<p>Create a dynamic dropdown form that loads its data from a JSON file.</p>
                            
                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section>
     
       
    
       <!-- Content 02
        ====================================================== -->
        <section class="uix-spacing--m">
            <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
   
						       <p class="uix-striking-msg uix-striking-msg--info"><strong>Callback:</strong> <span id="dynamic-callback">-</span></p>
         
								<div class="uix-controls uix-controls__select">
									<label>
										<select 
												id="dynamic-dd-sort" 
												name="dynamic-dd-sort" 
												data-ajax-dynamic-dd-json="assets/json/catgories.json"
												data-ajax-dynamic-dd-method="POST" 
												data-ajax-dynamic-dd-event="change" 
												data-ajax-dynamic-dd-data="" 
												data-ajax-dynamic-dd-associated="#dynamic-dd-subsort">


											<option value="" selected>Sort</option>
										</select>

									</label>
									<span>Sort</span>

								</div>


								<!-- ////////   -->

								<div class="uix-controls uix-controls__select">
									<label>
										<select id="dynamic-dd-subsort" name="dynamic-dd-subsort">
										    <option value="" selected>Sub-sort</option>
										</select>

									</label>
									<span>Sub-sort</span>

								</div>			
                        
                       
                        </div>
                        <!-- .col-12 end -->
                    </div>
                    <!-- .row end -->
                    
                    
            </div>
            <!-- .container end -->
            
            
        </section>
        

        
    
       <!-- Content 03
        ====================================================== -->
        <section class="uix-spacing--m uix-spacing--no-top">
            <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
   
						       <p class="uix-striking-msg uix-striking-msg--info"><strong>(中国)区县:</strong> <span id="dynamic-callback2">-</span></p>
         

								<div class="uix-controls uix-controls__select uix-controls__select--top">
									<label>
										<select 
												id="dynamic-dd-china-province" 
												name="dynamic-dd-china-province" 
												data-ajax-dynamic-dd-json="assets/json/china.json"
												data-ajax-dynamic-dd-method="POST" 
												data-ajax-dynamic-dd-event="change" 
												data-ajax-dynamic-dd-data="" 
												data-ajax-dynamic-dd-associated="#dynamic-dd-china-city">	

											<option value="">- 省份 -</option>
										</select>

									</label>
								</div>


								<!-- ////////   -->

								<div class="uix-controls uix-controls__select uix-controls__select--top">
									<label>
										<select name="dynamic-dd-china-city" id="dynamic-dd-china-city">
											<option value="">- 城市 -</option>
										</select>

									</label>

								</div>		


								<!-- ////////   -->

								<div class="uix-controls uix-controls__select uix-controls__select--top">
									<label>
										<select name="dynamic-dd-china-area" id="dynamic-dd-china-area">
											<option value="">- 区县 -</option>
										</select>

									</label>

								</div>		

                                      
                       
                        </div>
                        <!-- .col-12 end -->
                    </div>
                    <!-- .row end -->
                    
                    
            </div>
            <!-- .container end -->
            
            
        </section>
        

        
        @@include('./src/components/ES5/_global/include-copyright.html')
        
        
    </div>
    <!-- .uix-wrapper end -->
       
		

	<script>
	( function( $ ) {
	"use strict";

		$( function() {
			/* 
			 ---------------------------
			 Callback from two-level classification
			 ---------------------------
			 */ 
			//Fire the three-level classification
			$( document ).on( 'change.DYNAMIC_DD_LIST', '#dynamic-dd-subsort', function( e ) {

				e.preventDefault();

				var $this        = $( this[ this.selectedIndex ] ),
					curVal       = $this.val(),
					curLongitude = $this.data( 'longitude' ),
					curLatitude  = $this.data( 'latitude' ),
					curAttributes = $this.data( 'attributes' ),
					curContents  = '';

				console.log( curAttributes );


				if ( Object.prototype.toString.call( curAttributes ) =='[object Array]' ) {
					for ( var k = 0; k < curAttributes.length; k++ ) {
						curContents += '<hr><strong>Level-3 Name</strong>: ' + curAttributes[k].attr_name + '<br> <strong>Level-3 Longitude</strong> : ' + curAttributes[k].attr_longitude + '<br> <strong>Level-3 Latitude</strong>: ' + curAttributes[k].attr_latitude + '<br> <strong>Level-3 Info</strong>: ' + curAttributes[k].attr_info; 
					}


				}

				$( '#dynamic-callback').html( '<br><strong>Level-2 Name</strong>: '+curVal+'<br> <strong>Level-2 Longitude</strong>: ' + curLongitude + '<br> <strong>Level-2 Latitude</strong>: ' + curLatitude + '<br> <strong>Level-2 Attributes</strong>: ' + curContents + ' <br>'  );


				return false;




			});		

			/* 
			 ---------------------------
			 Three-level classification for China Area
			 ---------------------------
			 */ 
			$( document ).on( 'change.DYNAMIC_DD_LIST', '#dynamic-dd-china-city', function( e ) {

				e.preventDefault();

				var $this        = $( this[ this.selectedIndex ] ),
					$areaSel     = $( '#dynamic-dd-china-area'),
					curVal       = $this.val(),
					curArea      = $this.data( 'area' );


				var optionsHtml = '';
				for ( var k = 0; k < curArea.length; k++ ) {
					optionsHtml += "<option value='"+curArea[k]+"'>"+curArea[k]+"</option>";
				}

				$areaSel.html( optionsHtml );

				//Render the custom select
				$( document ).UixRenderCustomSelect();
				$areaSel.attr( 'selected', 'selected' ).change();




				//Console
				var areaTxt = '';
				for ( var k = 0; k < curArea.length; k++ ) {
					areaTxt += JSON.stringify( curArea[k] ) + ',';
				}

				areaTxt = areaTxt.replace(/,\s*$/, '' );
				$( '#dynamic-callback2').html( '[' + areaTxt + ']' );



				return false;


			});			
			

		} );

	} ) ( jQuery );


	</script>


	  
       
    @@include('./src/components/ES5/_global/include-footer.html')

