/* ====================================================== 
   <!-- Team Focus --> 
/* ====================================================== */
.custom-team-focus {
	position: relative;

	.item {
		float: left;
		cursor: pointer;
		z-index: 4;
		text-align: center;
		
		
		img {
			width: 90%;
			border-radius: 100%;
		}
		
		&.wait {
			
		}
		
		&.active {
			position: absolute;
			top: 0;
			left: 50%;
			height: 100px;
			transform: translateX(-50%);
			z-index: 5;
			
			img {
				transform: scale(1.3);
				@include outer-shadow-large();
			}
			
		}
	
		
		
	}	
}

