<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
	<meta charset="@@{website_charset}" />
	<title>Pagination - @@{website_title}</title>	
	@@include('./src/components/ES5/_global/include-header.html')
</head>  

     
  <body class="page">
  
  
          
    @@include('./src/components/ES5/_global/include-loader.html')
    @@include('./src/components/ES5/_global/include-toggle-trigger.html')
    
    

  
  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/ES5/_global/include-brand.html')
                        
                        @@include('./src/components/ES5/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder"></div>
      
		<main id="uix-maincontent">
			
			<!-- Content 
			====================================================== -->
			<section>
				<div class="container uix-t-c">
						<div class="row">
							<div class="col-md-8 offset-md-2">
								<h2>Pagination</h2>

							</div>
						</div>
						<!-- .row end -->


				</div>
				<!-- .container end -->

			</section>




		   <!-- Content 
			====================================================== -->
			<section class="uix-spacing--m">
				<div class="container">

						<div class="row">
							<div class="col-md-8 offset-md-2">

									<div class="uix-pagination__container uix-t-c uix-trans">
										<ul>
											<li class="previous"><a class="prev page-numbers" href="#"><i class="fa fa-angle-left"></i></a></li>
											<li><a class='page-numbers' href='#'>1</a></li>
											<li class="active"><span class='page-numbers current'>2</span></li>
											<li><a class='page-numbers' href='#'>3</a></li>
											<li class="next"><a class="next page-numbers" href="#"><i class="fa fa-angle-right"></i></a></li>
										</ul>
									</div> 
									<!-- .uix-pagination__container  end -->    

									<hr>


									<div class="uix-pagination__container uix-t-c uix-trans">
										<ul>
											<li class="previous"><a class="prev page-numbers" href="#"><i class="fa fa-angle-left"></i></a></li>
											<li><a class='page-numbers' href='#'>1</a></li>
											<li class="active"><span class='page-numbers current'>2</span></li>
											<li><span>...</span></li>
											<li><a class='page-numbers' href='#'>133</a></li>
											<li><a class='page-numbers' href='#'>134</a></li>
											<li class="next"><a class="next page-numbers" href="#"><i class="fa fa-angle-right"></i></a></li>
										</ul>
									</div> 
									<!-- .uix-pagination__container  end -->    

									<hr>



									<div class="uix-pagination__container uix-trans uix-clearfix">
										<ul>
											<li class="previous uix-f-l"><a class="prev page-numbers" href="#"><i class="fa fa-angle-left"></i></a></li>
											<li class="next uix-f-r"><a class="next page-numbers" href="#"><i class="fa fa-angle-right"></i></a></li>
										</ul>
									</div> 
									<!-- .uix-pagination__container  end -->        

							</div>
						</div>
						<!-- .row end -->


				</div>
				<!-- .container end -->


			</section>

			
		</main>
     
			
        
        @@include('./src/components/ES5/_global/include-copyright.html')
        
        
    </div>
    <!-- .uix-wrapper end -->
       
       
    @@include('./src/components/ES5/_global/include-footer.html')

