/* ======================================================
        <!-- Image Shapes -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/mixins';
@import '@uixkit/core/_global/scss/functions';
@import '@uixkit/core/_global/scss/variables';

.uix-shape-img {

	opacity: 0;
	@include transition-default();

	&.is-active {
		opacity: 1;
	}

	img {
		display: none;
	}
}

.no-cssanimations {
	.uix-shape-img {
		img {
			display: block;
		}
	}
}
