<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
	<meta charset="@@{website_charset}" />
	<title>3D Background - @@{website_title}</title>	
	@@include('./src/components/ES5/_global/include-header.html')
</head>  

     
  <body class="page">
  
  
          
    @@include('./src/components/ES5/_global/include-loader.html')
    @@include('./src/components/ES5/_global/include-toggle-trigger.html')
    
    

  
  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/ES5/_global/include-brand.html')
                        
                        @@include('./src/components/ES5/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder js-uix-header__placeholder-autoheight"></div>
      
    
		<main id="uix-maincontent">
			
			<!-- Content 
			====================================================== -->
			<section class="uix-spacing--s uix-spacing--no-bottom">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h3>3D Background</h3>
							<p>Transform individual elements by spying to the entire window.</p>
							<hr>
							
							
						</div>
					</div>
					<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>

	
		


		   <!-- Content 
			====================================================== -->
			<section class="uix-spacing--s">
				<div class="container uix-t-c">
						<div class="row">
							<div class="col-12">


								<div class="uix-3d-bg">
									<img data-3d-animate='{"offset":10,"reset":true}' src="assets/images/demo/test-img-big-2.jpg" alt="" width="320" />
								</div>	




							</div>
						</div>
						<!-- .row end -->


				</div>
				<!-- .container end -->

			</section>


			<!-- Content 
			====================================================== -->
			<section>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h3>3D Parallax Background</h3>
							<p>This transitional effect can be seen when you move your mouse over a certain element that makes it change position or animate.</p>
							<hr>
							
							
						</div>
					</div>
					<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>

		


		   <!-- Content 
			====================================================== -->
			<section class="uix-spacing--s">
				<div class="container uix-t-c">
						<div class="row">
							<div class="col-12">

								<div class="uix-3d-bg">
									<div data-3d-animate='{"offset":[20,2],"reset":false}'>
										<img src="assets/images/demo/test-img-big-1.jpg" alt="" width="200" />
										<img src="assets/images/demo/test-img-big-2.jpg" alt="" width="300" />
										<img src="assets/images/demo/test-img-big-3.jpg" alt="" width="170" />
									</div>
								</div>



							</div>
						</div>
						<!-- .row end -->


				</div>
				<!-- .container end -->

			</section>

			
		</main>
		
		
			

       
        @@include('./src/components/ES5/_global/include-copyright.html')
        
        
    </div>
    <!-- .uix-wrapper end -->
       
       
    @@include('./src/components/ES5/_global/include-footer.html')

