

.sidr ul li ul li a,
.sidr ul li ul li span {
    padding-left: auto;
	padding-right: 30px;
}


.sidr li:not(.sidr-class-multi-column) ul ul {
    padding-left: auto;
	padding-right: .825em;
}

.sidr-nav-arrow {
    right: auto;
	left: 10px;
}
