/* ====================================================== 
   Parallax                                               
/* ====================================================== */

.parallax {
  position: relative;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover !important;
}

.pure-bg-parallax {
	background-size: cover !important;
	background-repeat: no-repeat !important;
}

.parallax-window {
  height: 100%;
  width: 100%;
}

.parallax-default-size {
  height: 300px;
  width: 100%;
}


.parallax-auto {
  height: auto;
  width: 100%;
  .parallax-img {
    visibility: hidden;
  }
}

