/* ====================================================== 
   <!-- Parallax -->                                           
/* ====================================================== */

.parallax {
	position: relative;
	width: 100%;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	
	height: auto;
	width: 100%;
	
	.parallax-img {
	    visibility: hidden;
	}
}

.pure-bg-parallax {
	background-size: cover;
	background-repeat: no-repeat;
}

