/* ====================================================== 
   <!-- Parallax -->                                           
/* ====================================================== */

.parallax {
	position: relative;
	width: 100%;
	background-attachment: fixed;
	@include background-cover();
	
	height: auto;
	width: 100%;
	
	.parallax-img {
	    visibility: hidden;
	}
}

.pure-bg-parallax {
	@include background-cover();
}

