/* ====================================================== 
   <!-- Content Placeholder Animated -->    
/* ====================================================== */
.uix-content-placeholder {
	
	.uix-content-placeholder__thumbSlot {
		float: right;
	
		~ .uix-content-placeholder__textSlot {
			margin-left: auto;
			margin-right: 20px;
			float: right;
		}
		
	}
	
}

