/* ======================================================
   <!-- Text effect -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';

.uix-letter {
	transform-origin: 50% 100%;
	display: inline-block;
	line-height: 1;
}
