/* ====================================================== 
   <!-- Floating Side Element -->     
/* ====================================================== */

.uix-floating-side-el {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 25;
	width: 138px;
	height: 428px;
	@include bg-gradient( 'to bottom' );
	@include outer-shadow( 'thick' );
	
	
	a {
		font-size: 0.875rem;
		color: #fff;
		display: block;
		width: 75px;
		margin-left: 30px;
		text-align: center;
		border-bottom: 1px solid rgba(255,255,255,.2);
		padding-bottom: .5rem;
		padding-top: .5rem;
		
		&:last-child {
			border-bottom: none;
		}
		
		&:hover {
			transform: scale(1.1);
		}
		
		&:first-child {
			margin-top: 50px;
		}
		
		span {
			display: block;
			
			i {
				color: #fff;
				font-size: 30px;
				
			}
		}
	}
}



