/* ====================================================== 
   <!-- Maintain Aspect Ratio List -->
/* ====================================================== */
@media all and (max-width: 768px) {
	.list-maintain-aspect-ratio {
		
		padding-right: auto;
		padding-left: 15px;

		.seamless-col-4 {
			float: right;
		}
		

	}

	
}