@@include('./src/components/_global/include-header.html')
     
  <body class="page">
  
  
          
    @@include('./src/components/_global/include-loader.html')
    @@include('./src/components/_global/include-toggle-trigger.html')
    
    

    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/_global/include-brand.html')
                        
                        @@include('./src/components/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder"></div>
      
       
    
        
        
     
        <!-- Content 01
        ====================================================== -->
        <section>
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h2>Tab Normal</h2>
                            
                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section>
     
       
       <!-- Content 02
        ====================================================== -->
        <section class="uix-spacing--m">
            <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            
                            
                            
                            <div class="uix-tabs uix-tabs--center">
                                <div class="uix-tabs__nav">
									<ul>
										<li class="active"><a href="javascript:void(0);">Tab 1</a></li>
										<li><a href="javascript:void(0);">Tab 2</a></li>
										<li><a href="javascript:void(0);">Tab 3</a></li>
									</ul>
								</div><!-- /.uix-tabs__nav -->

                                <div class="uix-tabs__content active">
                                    <p>Hi, this is the first tab.</p>
                                </div>
                                <div class="uix-tabs__content">
									<p>This is the 2nd tab.</p>
									<p>This is the 2nd tab.</p>
									<p>This is the 2nd tab.</p>
                                </div>
                                <div class="uix-tabs__content">
                                    <p>And this is the 3rd tab.</p>
                                </div>    

                            </div>
                            <!-- .uix-tabs end -->     
                            
                  
                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section>
        
         
           
        
        <section class="uix-spacing--m">
            <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            
               
                            
                            <div class="uix-tabs" data-fullwidth="1">
                                <div class="uix-tabs__nav">
									<ul>
										<li class="active"><a href="javascript:void(0);">Tab 1</a></li>
										<li><a href="javascript:void(0);">Tab 2</a></li>
										<li><a href="javascript:void(0);">Tab 3</a></li>
									</ul>
								</div><!-- /.uix-tabs__nav -->

                                <div class="uix-tabs__content active">
                                    <p>Hi, this is the first tab.</p>
                                </div>
                                <div class="uix-tabs__content">
									<p>This is the 2nd tab.</p>
									<p>This is the 2nd tab.</p>
									<p>This is the 2nd tab.</p>
                                </div>
                                <div class="uix-tabs__content">
                                    <p>And this is the 3rd tab.</p>
                                </div>    

                            </div>
                            <!-- .uix-tabs end -->  
                  
                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section>
        

     
        <!-- Content 01
        ====================================================== -->
        <section>
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h2>Tab Rotation Effect 1</h2>
                            
                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section>
     
       
       <!-- Content 02
        ====================================================== -->
        <section class="uix-spacing--m">
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            
                            <div class="uix-tabs uix-tabs--rotation" data-rotation="true" data-rotation-display="5" data-rotation-radius="130" data-rotation-wrapper-angle="0">
                                <div class="uix-tabs__nav">
									<ul>
										<li class="active"><a href="javascript:void(0);">Tab 1</a></li>
										<li><a href="javascript:void(0);">Tab 2</a></li>
										<li><a href="javascript:void(0);">Tab 3</a></li>
										<li><a href="javascript:void(0);">Tab 4</a></li>
										<li><a href="javascript:void(0);">Tab 5</a></li>
									</ul>
								</div><!-- /.uix-tabs__nav -->

                                <br><br><br><br>
                               
                                <div class="uix-tabs__content active">
                                    <p>Hi, this is the first tab.</p>
                                </div>
                                <div class="uix-tabs__content">
                                    <p>This is the 2nd tab.</p>
								    <p>This is the 2nd tab.</p>
								    <p>This is the 2nd tab.</p>
                                </div>
                                <div class="uix-tabs__content">
                                    <p>And this is the 3rd tab.</p>
                                </div>    
                                <div class="uix-tabs__content">
                                    <p>And this is the 4th tab.</p>
                                </div>  
                                <div class="uix-tabs__content">
                                    <p>And this is the 5th tab.</p>
                                </div>  
                                
                            </div>
                            <!-- .uix-tabs end -->  
                  
                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section> 
        
        
     
        <!-- Content 01
        ====================================================== -->
        <section>
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h2>Tab Rotation Effect 2</h2>
                            
                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section>
     
     
       
       <!-- Content 02
        ====================================================== -->
        <section class="uix-spacing--m">
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            
                            <div class="uix-tabs uix-tabs--rotation" data-rotation="true" data-rotation-display="4" data-rotation-radius="130" data-rotation-wrapper-angle="-45">
                                <div class="uix-tabs__nav">
									<ul>
										<li class="active"><a href="javascript:void(0);">Tab 1</a></li>
										<li><a href="javascript:void(0);">Tab 2</a></li>
										<li><a href="javascript:void(0);">Tab 3</a></li>
										<li><a href="javascript:void(0);">Tab 4</a></li>
									</ul>
								</div><!-- /.uix-tabs__nav -->
                                
                                <br><br><br><br>

                                <div class="uix-tabs__content active">
                                    <p>Hi, this is the first tab.</p>
                                </div>
                                <div class="uix-tabs__content">
                                    <p>This is the 2nd tab.</p>
								    <p>This is the 2nd tab.</p>
								    <p>This is the 2nd tab.</p>
                                </div>
                                <div class="uix-tabs__content">
                                    <p>And this is the 3rd tab.</p>
                                </div>    
                                <div class="uix-tabs__content">
                                    <p>And this is the 4th tab.</p>
                                </div>   
                                
                            </div>
                            <!-- .uix-tabs end -->  
                  
                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section>
        
        
        
        @@include('./src/components/_global/include-copyright.html')
        
        
    </div>
    <!-- .wrapper end -->
       
       
    @@include('./src/components/_global/include-footer.html')

