<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
	<meta charset="@@{website_charset}" />
	<title>Image Animation - @@{website_title}</title>	
	@@include('./src/components/_global/include-header.html')
</head>  

     
  <body class="page">
  
  
          
    @@include('./src/components/_global/include-loader.html')
    @@include('./src/components/_global/include-toggle-trigger.html')
    
    

  
  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/_global/include-brand.html')
                        
                        @@include('./src/components/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder js-uix-header__placeholder-autoheight"></div>
      
      
		<main id="uix-maincontent">
			
			
			<!-- Content 
			====================================================== -->
			<section class="uix-spacing--s uix-spacing--no-bottom">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h3>Image Animation</h3>
							<p>Scroll down your mouse to see the transition animation of the image</p>
							<hr>
							
							
						</div>
					</div>
					<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>
			
			


		   <!-- Content 
			====================================================== -->
			<section class="uix-spacing--s">
				<div class="container">
					<div class="row">
						<div class="col-12">

							<span class="uix-image-anim uix-image-anim--x" data-uix-anim='{"viewport":"50%","from":"","to":".is-active","delay":0.1,"infinite":false}'>
								<img src="assets/images/demo/test-img-big-1.jpg" style="max-width: 500px;" alt="">
							</span>

							 <br>

							<span class="uix-image-anim uix-image-anim--y" data-uix-anim='{"viewport":"50%","from":"","to":".is-active","delay":0.1,"infinite":false}'>
								<img src="assets/images/demo/test-img-big-2.jpg" style="max-width: 500px;" alt="">
							</span>  

							<br>

							<span class="uix-image-anim uix-image-anim--z" data-uix-anim='{"viewport":"50%","from":"","to":".is-active","delay":0.1,"infinite":false}'>
								<img src="assets/images/demo/test-img-big-3.jpg" style="max-width: 500px;" alt="">
							</span>	
							
							
						</div>
					</div>
					<!-- .row end -->



				</div>
				<!-- .container end -->


			</section>

			
		</main>
		

        
        
        @@include('./src/components/_global/include-copyright.html')
        
        
    </div>
    <!-- .uix-wrapper end -->
       
       
    @@include('./src/components/_global/include-footer.html')

