@@include('./src/components/_global/include-header.html')
     
  <body class="page">
  
  
          
    @@include('./src/components/_global/include-loader.html')
    @@include('./src/components/_global/include-toggle-trigger.html')
    
    

  
  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/_global/include-brand.html')
                        
                        @@include('./src/components/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clear"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder"></div>
      
    
       
       
        <div id="html3D-view" style="display:none;">
            <div class="html3D-view-content" data-position-x="0" data-position-y="0" data-position-z="100" data-rotation-x="0.7" data-rotation-y="3.14159265358979" data-rotation-z="0">
           
                   
				   <!-- Content 01  
					====================================================== -->
					<section style="margin-top: 5rem;">
						<div class="container uix-t-c">
								<div class="row">
									<div class="col-md-8 offset-md-2">
										<h2>3D Pages</h2>
										<p>Control Your Page Using Your Computer's Mouse</p>

									</div>
								</div>
								<!-- .row end -->


						</div>
						<!-- .container end -->

					</section>



				   <!-- Content 02 
					====================================================== -->
					<section class="uix-spacing--m">
						<div class="container">
								<div class="row">
									<div class="col-md-8 offset-md-2">

										<h4>Page is here</h4>
										<p><img src="assets/images/demo/test-img-big-1.jpg" alt="" /></p>
										<p>Hi. I'm a full-stack designer on the way of pursuing the dream. Focus on user interface, user experience, awesome websites, front-end and WordPress development. I want to build things I can be proud of. I approach some awesome design challenges with an eye on the latest trends and strive to align my work the industry current best practices, while leveraging the acquired experience on the field. I have been working so hard to build up self. My personal website: https://uiux.cc </p> 

									</div>
								</div>
								<!-- .row end -->


						</div>
						<!-- .container end -->

					</section>       
                   
                   
                    
            </div>
            <!-- .html3D-view-content end -->
 
        </div>   
        <!-- /#html3D-view -->
        <div id="3D-renderer"></div>
       
        
      
		
		
		
        @@include('./src/components/_global/include-copyright.html')
        
        
    </div>
    <!-- .wrapper end -->
       
       
    @@include('./src/components/_global/include-footer.html')

