/* ====================================================== 
   List of Split Posts
/* ====================================================== */

.list-split-container {
	
	.list-split-item {

		position: relative;
		margin-bottom: 4.8125rem;


		.list-split-item-info {
			p {
				font-size: 0.875rem;
			}
			> div {
				padding: 0 4rem;
			}
		}
		&.is-reversed .row > .col-sm-6,
		&.is-reversed .seamless-grid-container .seamless-col-1-2 {
			float: right;
		}
	}
	
	
}


@media all and (max-width: 768px) {
	
	.list-split-container {

		.list-split-item {

			margin-bottom: 3rem;

			&.is-reversed .row > .col-sm-6,
			&.is-reversed .seamless-grid-container .seamless-col-1-2 {
				&:first-child, &:nth-child(2) {
					transform: translateX(0);
				}
			}
			.list-split-item-info {
				margin-top: 1.5rem;

				> div {
					padding: 0;
				}
			}
		}	

	}
	
}
