/* ======================================================
   <!-- Vertical Separator -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';


$separator-h: 40px;

.uix-vertical-separator {
	font-size: 0.875rem;
	height: calc(#{$separator-h*2} + 2rem);
	width: 2rem;
	text-transform: uppercase;
	line-height: 2;
	display: inline-block;
	padding-top: 1rem;
	font-weight: bold;

	&::before,
	&::after {
		content: '';
		height: $separator-h;
		width: 3px;
		background: $sub-text-color;
		display: block;
		transform: translateX(1rem);
	}
	&::before {
		margin-top: -1rem;
	}

	&::after {
		margin-top: 0;
	}

}
