<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
	<meta charset="@@{website_charset}" />
	<title>Maintain Aspect Ratio List - @@{website_title}</title>	
	@@include('./src/components/ES5/_global/include-header.html')
</head>  

     
  <body class="page">
  
  
          
    @@include('./src/components/ES5/_global/include-loader.html')
    @@include('./src/components/ES5/_global/include-toggle-trigger.html')
    
    

  
  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/ES5/_global/include-brand.html')
                        
                        @@include('./src/components/ES5/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder js-uix-header__placeholder-autoheight"></div>
      
		
		<main id="uix-maincontent">
			
			<!-- Content 
			====================================================== -->
			<section class="uix-spacing--s uix-spacing--no-bottom">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h3>Maintain Aspect Ratio List</h3>
							<p>Create flexible elements that keep their aspect ratio (1:1, 4:3, 16:9, etc.) when resized. You can refer to the <strong>Uix Grid</strong> to customize the number of columns.</p>
							<hr>
							
							
						</div>
					</div>
					<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>
			

		   <!-- Content 
			====================================================== -->
			<section class="uix-spacing--s uix-spacing--no-bottom">
				<div class="container">

					   <div class="uix-list-aspect-ratio">
							<div class="uix-core-grid">


								<div class="uix-core-grid__row">
									<div class="uix-core-grid__col-4">
										<div class="uix-list-aspect-ratio__content">

											<a class="uix-list-aspect-ratio__item" href="#">
												<i class="fa fa-balance-scale" aria-hidden="true"></i>
											</a>

										</div>

									</div>

									<div class="uix-core-grid__col-4">
										<div class="uix-list-aspect-ratio__content">

											<a class="uix-list-aspect-ratio__item" href="#">
												<i class="fa fa-podcast" aria-hidden="true"></i>
											</a>

										</div>

									</div>

									<div class="uix-core-grid__col-4">
										<div class="uix-list-aspect-ratio__content">

											<a class="uix-list-aspect-ratio__item" href="#">
												<i class="fa fa-binoculars" aria-hidden="true"></i>
											</a>

										</div>

									</div>										

								</div>
								<!-- .uix-core-grid__row  end -->



							</div>
							<!-- /.uix-core-grid --> 
					   </div>
					   <!-- /.uix-list-aspect-ratio -->       


				</div>
				<!-- .container end -->

			</section>   

			
		</main>
		
      
			
        
        
        @@include('./src/components/ES5/_global/include-copyright.html')
        
        
    </div>
    <!-- .uix-wrapper end -->
       
       
    @@include('./src/components/ES5/_global/include-footer.html')

