/* ====================================================== 
   <!-- Text effect -->   
/* ====================================================== */
.letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1;
}