<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
	<meta charset="@@{website_charset}" />
	<title>Overlay - @@{website_title}</title>	
	@@include('./src/components/ES6/_global/include-header.html')
</head>  

     
  <body class="page">
  
  
          
    @@include('./src/components/ES6/_global/include-loader.html')
    @@include('./src/components/ES6/_global/include-toggle-trigger.html')
    
    

  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/ES6/_global/include-brand.html')
                        
                        @@include('./src/components/ES6/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder js-uix-header__placeholder-autoheight"></div>
      
    
		<main id="uix-maincontent">
			
			<!-- Content   
			====================================================== -->
			<section class="uix-spacing--s uix-spacing--no-bottom">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h3>Overlay</h3>
							<p>Create an image overlay effect.</p>
							<hr>
							
							
						</div>
					</div>
					<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>
			
		

		   <!-- Content  
			====================================================== -->
			<section class="uix-spacing--s">
				<div class="container">
						<div class="row">
							<div class="col-12">



								<div class="row">
									<div class="col-md-6 offset-md-3">

										<div class="uix-relative--inline uix-relative--inline-clip">
											<img src="assets/images/demo/test-img-big-1.jpg" alt="" />
											<div class="uix-overlay uix-overlay--white">
												<p>Bottom Text</p>
											</div>
										</div>



									</div>
                                    
                                </div>
                                <!-- .row end -->	

                                <p>&nbsp;</p>



                                <div class="row">
                        
									<div class="col-md-6 offset-md-3">

										<div class="uix-relative--inline uix-relative--inline-clip">
											<img src="assets/images/demo/test-img-big-2.jpg" alt="" />
											<div class="uix-overlay uix-overlay--black">
												<p>Bottom Text</p>
											</div>
										</div>



									</div>
								</div>
                                
                                <p>&nbsp;</p>


								<div class="row">
									<div class="col-md-6 offset-md-3">

										<div class="uix-relative--inline uix-relative--inline-clip">
											<img src="assets/images/demo/test-img-big-3.jpg" alt="" />
											<div class="uix-overlay uix-overlay--white uix-dir--top">
												<p>Top Text</p>
											</div>
										</div>	


									</div>
                                    
                                </div>
                                <!-- .row end -->	

                                <p>&nbsp;</p>



                                <div class="row">    
                                    
                                    
									<div class="col-md-6 offset-md-3">

										<div class="uix-relative--inline uix-relative--inline-clip">
											<img src="assets/images/demo/test-img-big-4.jpg" alt="" />
											<div class="uix-overlay uix-overlay--black uix-dir--top">
												<p>Top Text</p>
											</div>
										</div>	



									</div>
								</div>

                                
                                
                                <p>&nbsp;</p>



								<div class="row">
									<div class="col-md-6 offset-md-3">

										<div class="uix-relative--inline uix-relative--inline-clip">
											<img src="assets/images/demo/test-img-big-3.jpg" alt="" />
											<div class="uix-overlay uix-overlay--black uix-overlay--cover">

												<div class="uix-v-align--table">
													<div>

														<p>Fully filled (Vertically Center)</p>

													</div>
												</div>

											</div>
										</div>		


									</div>
                                    
                                </div>
                                <!-- .row end -->	

                                <p>&nbsp;</p>



                                <div class="row">
                                    
									<div class="col-md-6 offset-md-3">

										<div class="uix-relative--inline uix-relative--inline-clip">
											<img src="assets/images/demo/test-img-big-3.jpg" alt="" />
											<div class="uix-overlay uix-overlay--black uix-overlay--cover">

												<p>Fully filled</p>

											</div>
										</div>		   
                                        

									</div>
								</div>




							</div>
						</div>
						<!-- .row end -->


				</div>
				<!-- .container end -->

			</section>   


			
		</main> 
        
		   
        
        
        @@include('./src/components/ES6/_global/include-copyright.html')
        
        
    </div>
    <!-- .uix-wrapper end -->
       
       
    @@include('./src/components/ES6/_global/include-footer.html')

