/* ====================================================== 
   <!-- Show More Less --> 
/* ====================================================== */
.custom-more-text-link {
	> span:nth-child(2) {
		display: none;
	}
}
.custom-more-text {
	position: relative;
	max-height: 10rem;
	overflow: hidden;
	transition: max-height 0.7s;

	&:after {
		display: block;
		content: "...";
		text-align: right;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2em;
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 100%);
	}

	&.show {
		max-height: 100rem !important; 
		/* If the specified maximum height is affected by the container, priority is required */

		&:after {
			display: none;
		}

	}
}
