/* ====================================================== 
   <!-- Navs --> 
/* ====================================================== */

/*
 * 1. Base Nav
 * 5. Dropdown
*/



.uix-nav {
	
	
	/* 
	 ---------------------------
	 1. Base Nav
	 ---------------------------
	 */ 
	&.uix-t-r {
		ul {
			li {
				margin: 0 1rem 0 0;

			}	

		}	
	}

	/* 
	 ---------------------------
	 5. Dropdown	
	 ---------------------------
	 */ 
	ul {
		
		li {
			
			/*-- Fold Out --*/
			ul {
				left: auto;
				right: 0;
			}
		}	
		
		
	}

	


}

