/* ====================================================== 
   <!-- Badges --> 
/* ====================================================== */

/*
 * 1. Crazy Badges
 * 2. Status Badges 
*/

.uix-badge {
	
	.uix-badge__inner {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
	
	&.uix-badge--round {
		border-radius: 50%;
	}

	
	/* 
	 ---------------------------
	 1) Crazy Badges
	 ---------------------------
	 */ 
	&.uix-badge--crazy {
		width: 300px;
		height: 300px;
		position: relative;
		display: table;
		margin: 0 auto;
		margin-bottom: 3rem;
		@include border-gradient( $btn-gradient-color1, $btn-gradient-color2, 15px, 'to bottom', #fff );
		@include transition-default();




	}
	

	/* 
	 ---------------------------
	 2) Status Badges
	 ---------------------------
	 */ 
	&.uix-badge--status {
		position: relative;
		white-space: nowrap;
		margin-right: 1.5rem;
		padding-right: .625rem;


		&::after {
			content: attr(data-badge);
			position: absolute;
			text-align: center;
			top: -.625rem;
			right: -.625rem;
			font-weight: 600;
			font-size: 0.625rem;
			width: 20px;
			height: 20px;
			line-height: 20px;
			border-radius: 50%;
			background: $highlight-color1;
			color: #fff;
		}


	}
	
	
}



