/* ====================================================== 
        <!-- Image Shapes --> 
/* ====================================================== */
.uix-shape-img {
	
	opacity: 0;
	@include transition-default();

	&.is-active {
		opacity: 1;
	}
	
	img {
		display: none;
	}
}

.no-cssanimations {
	.uix-shape-img {
		img {
			display: block;
		}
	}
}