/* ====================================================== 
    <!-- Tabs -->      
/* ====================================================== */

/*
 * 1. Tab Normal Effect
 * 2. Tab Rotation Effect
*/



.uix-tabs {
	
	
	/* 
	 ---------------------------
	 1. Tab Normal Effect
	 ---------------------------
	 */ 
	&:not(.uix-tabs--rotation) {
	    @include outer-shadow();
		
		$maker-w: 100%;
		
		.uix-tabs__marker {
			height: 2px;
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 1;
			transition: .1s ease-in-out;
			
			&::after {
				position: absolute;
				left: calc(50% - #{$maker-w/2});
				top: 0;
				display: block;
				content: '';
				background: $primary-text-color1;
				height: 100%;
				width: $maker-w;
				z-index: 1;
			}
		}	
		
	}
	
	.uix-tabs__content {
		
		display: none;
		padding: 1.3125rem;
		text-align: left;
		
		&.active {
			display: block;
		}
	}
	
	.uix-tabs__nav {
		> ul {
			> li {
				position: relative;
				display: block;
				transition: .1s ease-in-out;
				list-style: none;
				float: left;
				box-shadow: inset 1px 0px 0px 0px rgba(230, 230, 230, 1);
				background: #f7f7f7;
				min-width: 7.5rem;

				> a {
					position: relative;
					padding: 0.625rem 1rem;
					display: block;
					text-align: center;
				}
				&.active {
					background: #fff;

				}
			}

			&::after {
				content: '';
				display: block;
				clear: both;
			}
		}	
	}

	

	&.uix-tabs--center {
		box-shadow: none;

		.uix-tabs__nav {
			
			> ul {
				font-size: 0; /*Fighting the Space Between Inline Block Elements*/
				display: block;
				width: 100%;
				text-align: center;
				/*require*/
				@include outer-shadow();

				li {
					font-size: 1rem;/*Fighting the Space Between Inline Block Elements*/
					display: inline-block;
					/*require*/
					float: none;

				}
			}	
			
		}
		

	}



	/* 
	 ---------------------------
	 2. Tab Rotation Effect
	 ---------------------------
	 */ 
	&.uix-tabs--rotation {
		
		.uix-tabs__content {
			position: relative;
			@include outer-shadow();
		}
		.uix-tabs__nav {
			position: relative;
			margin: 0;
			
			> ul {
				box-sizing: border-box;
				position: relative;
				width: 300px;
				height: 300px;
				border: 1px solid #ccc;
				border-radius: 50%;
				margin: 0;
				padding: 0;
				display: inline-block;
				
				> li {
					//transition: all 0.1s ease; //If you use a click effect, don't set it
					margin: 0;
					padding: 0;
					box-sizing: border-box;
					position: absolute;
					width: 80px;
					height: 80px;
					background: none;
					box-shadow: none;
					z-index: 2;
					top: 0;
					left: 50%;
					min-width: inherit; /* Required */
				
					> a {
						width: 80px;
						height: 80px;
						line-height: 60px;
						background: #fff;
						border-radius: 100%;
						@include outer-shadow();
					}

					&.active > a {
						background: $primary-text-color1;
						color: #fff;
					}

				}
			}	
			
		}

	}
}


/* Center alignment */ 
.uix-t-c .uix-tabs.uix-tabs--rotation {
	
	.uix-tabs__nav {
		margin: 0 auto;
	}
	
}



@media all and (max-width: 768px) { 
	.uix-tabs {

		&:not(.uix-tabs--rotation) li {
			width: 100% !important;
		}

		/* Tab Rotation Effect */
		&.uix-tabs--rotation {

			.uix-tabs__nav {
			    width: auto !important;
			}
		
			
		}

		
	}	

}

