@@include('./src/components/ES5/_global/include-header.html')
     
  <body class="page">
  
  
          
    @@include('./src/components/ES5/_global/include-loader.html')
    @@include('./src/components/ES5/_global/include-toggle-trigger.html')
    
    

  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/ES5/_global/include-brand.html')
                        
                        @@include('./src/components/ES5/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder"></div>
      
      
     
        <!-- Content 01
        ====================================================== -->
        <section>
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h2>Counter 1</h2>
                            
                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section>
     
       
    
        
       <!-- Content 02
        ====================================================== -->
        <section class="uix-spacing--m">
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-12 uix-trans">
   
							<div class="row">
								<div class="col-lg-3 col-md-3">
									<h3 class="uix-outer-shadow--regular" data-counter-number="23" data-counter-double-digits="true" data-counter-dilimiter="true" data-counter-duration="200">00</h3>
								</div>
								<div class="col-lg-3 col-md-3">
									<h3 class="uix-outer-shadow--regular" data-counter-number="30" data-counter-double-digits="true" data-counter-dilimiter="true" data-counter-duration="200">00</h3>
								</div>
								<div class="col-lg-3 col-md-3">
									<h3 class="uix-outer-shadow--regular" data-counter-number="06" data-counter-double-digits="true" data-counter-dilimiter="true" data-counter-duration="200">00</h3>
								</div>
								<div class="col-lg-3 col-md-3">
									<h3 class="uix-outer-shadow--regular" data-counter-number="344" data-counter-double-digits="true" data-counter-dilimiter="true" data-counter-duration="200">00</h3>
								</div>                 
							</div>
							<!-- .row end -->
                                  
                                   
                        </div>
                        <!-- .col-12 end -->
                    </div>
                    <!-- .row end -->
                    
                    
            </div>
            <!-- .container end -->
            
            
 
        </section>
        
         
     
        <!-- Content 01
        ====================================================== -->
        <section>
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h2>Counter 2</h2>
                            
                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section>
        
       <!-- Content 02
        ====================================================== -->
        <section class="uix-spacing--m">
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-12 uix-trans">
   
							<div class="row">
								<div class="col-lg-3 col-md-3">
									<h3 id="cccw42" class="uix-outer-shadow--regular" data-counter-number="1023" data-counter-double-digits="true" data-counter-dilimiter="true" data-counter-duration="200">00</h3>
								</div>
								<div class="col-lg-3 col-md-3">
									<h3 class="uix-outer-shadow--regular" data-counter-number="2230" data-counter-double-digits="true" data-counter-dilimiter="true" data-counter-duration="200">00</h3>
								</div>
								<div class="col-lg-3 col-md-3">
									<h3 class="uix-outer-shadow--regular" data-counter-number="156" data-counter-double-digits="true" data-counter-dilimiter="true" data-counter-duration="200">00</h3>
								</div>
								<div class="col-lg-3 col-md-3">
									<h3 class="uix-outer-shadow--regular" data-counter-number="1344" data-counter-double-digits="true" data-counter-dilimiter="true" data-counter-duration="200">00</h3>
								</div>                 
							</div>
							<!-- .row end -->
                                   
                        </div>
                        <!-- .col-12 end -->
                    </div>
                    <!-- .row end -->
                    
                    
            </div>
            <!-- .container end -->
            
            
 
        </section>
        
        
        
        
          <!-- Content 01
        ====================================================== -->
        <section>
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h2>Counter 3</h2>
                            
                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section>
        
       <!-- Content 02
        ====================================================== -->
        <section class="uix-spacing--m">
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-12 uix-trans">
   
							<div class="row">
								<div class="col-lg-3 col-md-3">
									<h3 class="uix-outer-shadow--regular" data-counter-number="55" data-counter-double-digits="true" data-counter-dilimiter="true" data-counter-duration="200">00</h3>
								</div>
								<div class="col-lg-3 col-md-3">
									<h3 class="uix-outer-shadow--regular" data-counter-number="1245" data-counter-double-digits="true" data-counter-dilimiter="true" data-counter-duration="200">00</h3>
								</div>
								<div class="col-lg-3 col-md-3">
									<h3 class="uix-outer-shadow--regular" data-counter-number="556" data-counter-double-digits="true" data-counter-dilimiter="true" data-counter-duration="200">00</h3>
								</div>
								<div class="col-lg-3 col-md-3">
									<h3 class="uix-outer-shadow--regular" data-counter-number="8" data-counter-double-digits="true" data-counter-dilimiter="true" data-counter-duration="200">00</h3>
								</div>                 
							</div>
							<!-- .row end -->
                                   
                        </div>
                        <!-- .col-12 end -->
                    </div>
                    <!-- .row end -->
                    
                    
            </div>
            <!-- .container end -->
            
            
 
        </section>
        
        
        @@include('./src/components/ES5/_global/include-copyright.html')
        
        
    </div>
    <!-- .wrapper end -->
       
       
    @@include('./src/components/ES5/_global/include-footer.html')

