/* ======================================================
   <!-- Advanced Slider (Special Effects) -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';

/*
 * 1. Initialize the slider style
 * 2. Pagination dots
 * 3. Next/Prev buttons
*/

/*
 ---------------------------
 1. Initialize the slider style
 ---------------------------
 */

.uix-advanced-slider-sp {

	canvas {
		left: auto;
		right: 0;
	}


	.uix-advanced-slider-sp__inner {


		.uix-advanced-slider-sp__item {
			left: auto;
			right: 0;

		}

	}




}



/*
 ---------------------------
 2. Pagination dots
 ---------------------------
 */
.uix-advanced-slider-sp__pagination {


	ul {
		left: auto;
		right: 0;
	}



}

/*
 ---------------------------
 3. Next/Prev buttons
 ---------------------------
 */
.uix-advanced-slider-sp__arrows {

	.uix-advanced-slider-sp__arrows--prev {
		left: auto;
		right: 15px;
	}
	.uix-advanced-slider-sp__arrows--next {
		right: auto;
		left: 15px;
		text-align: left;

	}

}
