@@include('./src/components/_global/include-header.html')
     
  <body class="page">
  
  
          
    @@include('./src/components/_global/include-loader.html')
    @@include('./src/components/_global/include-toggle-trigger.html')
    
    

  
  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/_global/include-brand.html')
                        
                        @@include('./src/components/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder"></div>
      
    
        <!-- Content 01
        ====================================================== -->
        <section>
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
							<h2>3D Particle Effect</h2>
							<p>Preview the effect when you click or drag & drop mouse</p>
                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section>
     
       
       <!-- Content 02
        ====================================================== -->
        <canvas id="3D-particle-effect-canvas" data-img-src="assets/images/logo-colorful.png"></canvas>
        
       
       
       
		
        @@include('./src/components/_global/include-copyright.html')
        
        
    </div>
    <!-- .wrapper end -->
       
       
    @@include('./src/components/_global/include-footer.html')

