/* ====================================================== 
   <!-- Basic -->                  
/* ====================================================== */
body {
	direction: rtl;
	unicode-bidi: embed;
}

caption, 
th, 
td {
    text-align: right;
}


.wp-block-quote,
blockquote {
	border-left-width: 1px !important;
	border-right-width: 5px !important;
	border-left-color: #F8F8F8 !important;
	border-right-color: #EC5E79 !important;
	
	&::before {
		margin-right: auto;
		margin-left: 0.21875rem;
	}
}



pre {
	
	&.uix-precode {
		
		label {
			
			left: auto;
			right: -5px;
			
		}
		code {
			margin: 0 3rem 0 0;
			border-left: none;
			border-right: 1px solid #d9d9d9;
			
		}
		
	}
  

}


