/* ====================================================== 
   <!-- Navigation -->                                      
/* ====================================================== */
.uix-menu__container:not(.is-mobile) {
  float: left;
  /* 
   ---------------------------
   1. Primary Menu
   ---------------------------
   */
  /* 
   ---------------------------
   3. Mega/Dropdown Menu
   ---------------------------
   */
  /* Multi-column */
  /* 
   ---------------------------
   4. Dropdown Arrow
   ---------------------------
   */ }
  .uix-menu__container:not(.is-mobile) ul.uix-menu {
    float: right;
    /* 
     ---------------------------
     2. Sub Menu (Using WordPress default class name )
     ---------------------------
     */ }
    .uix-menu__container:not(.is-mobile) ul.uix-menu > li {
      margin-right: auto;
      margin-left: 1.6875rem; }
      .uix-menu__container:not(.is-mobile) ul.uix-menu > li .uix-bubble {
        right: auto;
        left: 1rem; }
      .uix-menu__container:not(.is-mobile) ul.uix-menu > li:not(.multi-column) > ul ul {
        margin-left: auto;
        margin-right: -0.071875rem; }
        .uix-menu__container:not(.is-mobile) ul.uix-menu > li:not(.multi-column) > ul ul ul {
          margin-right: 0; }
      .uix-menu__container:not(.is-mobile) ul.uix-menu > li > ul::before {
        left: auto;
        right: 0; }
      .uix-menu__container:not(.is-mobile) ul.uix-menu > li > ul::after {
        left: auto;
        right: 3.5rem;
        margin-left: auto;
        margin-right: -0.15625rem; }
      .uix-menu__container:not(.is-mobile) ul.uix-menu > li li {
        padding-left: auto;
        padding-right: 0.875rem; }
      .uix-menu__container:not(.is-mobile) ul.uix-menu > li ul li {
        padding-left: auto;
        padding-right: 2.034375rem; }
    .uix-menu__container:not(.is-mobile) ul.uix-menu ul.sub-menu {
      left: auto;
      right: 0; }
    .uix-menu__container:not(.is-mobile) ul.uix-menu > li:not(.multi-column) > ul {
      right: 1.784375rem; }
      .uix-menu__container:not(.is-mobile) ul.uix-menu > li:not(.multi-column) > ul ul {
        left: auto;
        right: 100%; }
  .uix-menu__container:not(.is-mobile) li.multi-column span.multi-column-title {
    padding-left: auto;
    padding-right: 1.159375rem; }
  .uix-menu__container:not(.is-mobile) li.multi-column > ul li {
    padding-left: auto !important;
    padding-right: 1.159375rem !important; }
    .uix-menu__container:not(.is-mobile) li.multi-column > ul li .uix-bubble {
      right: auto;
      left: 1rem; }
  .uix-menu__container:not(.is-mobile) ul.uix-menu ul.sub-menu .uix-menu__arrow {
    right: auto;
    left: 1.159375rem; }
  .uix-menu__container:not(.is-mobile) .uix-menu__arrow {
    right: auto;
    left: 0.284375rem; }

@media all and (max-width: 1250px) {
  .uix-menu__container:not(.is-mobile) ul.uix-menu > li {
    margin-right: auto;
    margin-left: 1.125rem; } }
