/* ====================================================== 
   <!-- Navs --> 
/* ====================================================== */
/*
 * 1. Base Nav
 * 5. Dropdown
*/
.uix-nav {
  /* 
   ---------------------------
   1. Base Nav
   ---------------------------
   */
  /* 
   ---------------------------
   5. Dropdown	
   ---------------------------
   */ }
  .uix-nav.uix-t-r ul li {
    margin: 0 1rem 0 0; }
  .uix-nav ul li {
    /*-- Fold Out --*/ }
    .uix-nav ul li ul {
      left: auto;
      right: 0; }
