<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
	<meta charset="@@{website_charset}" />
	<title>Spacing - @@{website_title}</title>	
	@@include('./src/components/ES6/_global/include-header.html')
</head>  

     
  <body class="page">
  
  
          
    @@include('./src/components/ES6/_global/include-loader.html')
    @@include('./src/components/ES6/_global/include-toggle-trigger.html')
    
    

  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/ES6/_global/include-brand.html')
                        
                        @@include('./src/components/ES6/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder js-uix-header__placeholder-autoheight"></div>
      
    
		<main id="uix-maincontent">
			
			<!-- Content   
			====================================================== -->
			<section class="uix-spacing--s">
				<div class="container">
						<div class="row">
							<div class="col-12">
								<h3>Spacing</h3>
								<p>
									There are multiple wrapper modules per page, these elements will be used for flexible control of spacing. Usually using <code>&lt;section&gt;</code> tag to do it.
								</p>
								<hr>
								
							</div>
						</div>
						<!-- .row end -->


				</div>
				<!-- .container end -->

			</section>



		   <!-- Content  
			====================================================== -->
			<section style="background: #f2f2f2; box-shadow: inset 0px 0px 0px 1px #999;">
				<div class="container">
						<div class="row">
							<div class="col-12">
								<span class="uix-typo--h4"><code>class=""</code> or <code>class="uix-spacing--no"</code></span>
							</div>
						</div>
						<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>   



			<section class="uix-spacing--s" style="background: #f2f2f2; box-shadow: inset 0px 0px 0px 1px #999;">
				<div class="container">
						<div class="row">
							<div class="col-12">
								<span class="uix-typo--h4"><code>class="uix-spacing--s"</code></span>
							</div>
						</div>
						<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>   


		

			<section class="uix-spacing--m" style="background: #f2f2f2; box-shadow: inset 0px 0px 0px 1px #999;">
				<div class="container">
						<div class="row">
							<div class="col-12">
								<span class="uix-typo--h4"><code>class="uix-spacing--m"</code></span>
							</div>
						</div>
						<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>      




			<section class="uix-spacing--l" style="background: #f2f2f2; box-shadow: inset 0px 0px 0px 1px #999;">
				<div class="container">
						<div class="row">
							<div class="col-12">
								<span class="uix-typo--h4"><code>class="uix-spacing--l"</code></span>
							</div>
						</div>
						<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>      




			<section class="uix-spacing--s uix-spacing--no-top" style="background: #f2f2f2; box-shadow: inset 0px 0px 0px 1px #999;">
				<div class="container">
						<div class="row">
							<div class="col-12">
								<span class="uix-typo--h4"><code>class="uix-spacing--s uix-spacing--no-top"</code></span>
							</div>
						</div>
						<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>   

			<section class="uix-spacing--s uix-spacing--no-bottom" style="background: #f2f2f2; box-shadow: inset 0px 0px 0px 1px #999;">
				<div class="container">
						<div class="row">
							<div class="col-12">
								<span class="uix-typo--h4"><code>class="uix-spacing--s uix-spacing--no-bottom"</code></span>
							</div>
						</div>
						<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>   


			<section class="uix-spacing--m uix-spacing--no-top" style="background: #f2f2f2; box-shadow: inset 0px 0px 0px 1px #999;">
				<div class="container">
						<div class="row">
							<div class="col-12">
								<span class="uix-typo--h4"><code>class="uix-spacing--m uix-spacing--no-top"</code></span>
							</div>
						</div>
						<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>   

			<section class="uix-spacing--m uix-spacing--no-bottom" style="background: #f2f2f2; box-shadow: inset 0px 0px 0px 1px #999;">
				<div class="container">
						<div class="row">
							<div class="col-12">
								<span class="uix-typo--h4"><code>class="uix-spacing--m uix-spacing--no-bottom"</code></span>
							</div>
						</div>
						<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>   


			<section class="uix-spacing--l uix-spacing--no-top" style="background: #f2f2f2; box-shadow: inset 0px 0px 0px 1px #999;">
				<div class="container">
						<div class="row">
							<div class="col-12">
								<span class="uix-typo--h4"><code>class="uix-spacing--l uix-spacing--no-top"</code></span>
							</div>
						</div>
						<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>   

			<section class="uix-spacing--l uix-spacing--no-bottom" style="background: #f2f2f2; box-shadow: inset 0px 0px 0px 1px #999;">
				<div class="container">
						<div class="row">
							<div class="col-12">
								<span class="uix-typo--h4"><code>class="uix-spacing--l uix-spacing--no-bottom"</code></span>
							</div>
						</div>
						<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>   

			
		</main>
		
        
        
		   
       
        
        @@include('./src/components/ES6/_global/include-copyright.html')
        
        
    </div>
    <!-- .uix-wrapper end -->
       
       
    @@include('./src/components/ES6/_global/include-footer.html')

