/* ====================================================== 
   <!-- Striking --> 
/* ====================================================== */

.uix-striking-msg {
    padding: .5rem 1rem;
    margin: 1rem 0;
	display: block;
	font-size: 0.875rem;
	line-height: 1.2;
	font-family: 'Source Sans Pro', sans-serif;
	
	i:first-child {
		margin-right: .5rem;
	}
	
	
	&.is-pill {
		border-radius: 35px;
	}
	
	&.is-rounded {
		border-radius: 4px;
	}	
	
	&.uix-striking-msg--default {
		background-color: rgba(252,232,220,1);
		box-shadow:0 3px 15px 0 rgba(0,0,0,.03), 0 5px 10px -7px rgba(252,232,220,.2);		

	}

	&.uix-striking-msg--success {
		background-color: rgba(128,207,75,1);
		box-shadow:0 3px 15px 0 rgba(0,0,0,.03), 0 5px 10px -7px rgba(128,207,75,.2);
		color: #fff;
	}


	&.uix-striking-msg--alert {
		background-color: rgba(245,146,86,1);
		box-shadow:0 3px 15px 0 rgba(0,0,0,.03), 0 5px 10px -7px rgba(245,146,86,.2);
		color: #fff;
	}
	
	
	&.uix-striking-msg--danger {
		background-color: rgba(236, 94, 121,1);
		box-shadow:0 3px 15px 0 rgba(0,0,0,.03), 0 5px 10px -7px rgba(236, 94, 121,.2);
		color: #fff;
	}

	&.uix-striking-msg--info {
		background-color: rgba(216,245,254,1);
		box-shadow:0 3px 15px 0 rgba(0,0,0,.03), 0 5px 10px -7px rgba(216,245,254,.2);	
	}

}

