@@include('./src/components/ES5/_global/include-header.html')
     
  <body class="page">
  
  
          
    @@include('./src/components/ES5/_global/include-loader.html')
    @@include('./src/components/ES5/_global/include-toggle-trigger.html')
    
    

    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/ES5/_global/include-brand.html')
                        
                        @@include('./src/components/ES5/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder"></div>
      
       
		<main id="uix-maincontent">
			
			
			<!-- Content 
			====================================================== -->
			<section>
				<div class="container uix-t-c">
						<div class="row">
							<div class="col-md-8 offset-md-2">
								<h2>Multi-level Drop-down Navigation</h2>
								<p>Click the hyperlink to display the drop-down menu</p>
							</div>
						</div>
						<!-- .row end -->


				</div>
				<!-- .container end -->

			</section>


		   <!-- Content 
			====================================================== -->
			<section class="uix-spacing--m">
				<div class="container">
						<div class="row">
							<div class="col-md-8 offset-md-2">

									<ul class="uix-vertical-menu">
										<li><a href="#">Level 1</a></li>
										<li><a href="#">Level 1</a></li>
										<li><a href="#">Level 1</a>
											<ul>
												<li><a href="#">Level 2</a></li>
												<li><a href="#">Level 2</a></li>
												<li><a href="#">Level 2</a>
													<ul>
														<li><a href="#">Level 3</a></li>
														<li><a href="#">Level 3</a></li>
														<li><a href="#">Level 3</a></li>
													</ul>  
												</li>
											</ul>

										</li>
										<li><a href="#">Level 1</a>
											<ul>
												<li><a href="#">Level 2</a></li>
												<li><a href="#">Level 2</a></li>
											</ul>

										</li>	
										<li><a href="#">Level 1</a></li>				


									</ul>



							</div>
						</div>
						<!-- .row end -->


				</div>
				<!-- .container end -->

			</section>


			
		</main>
		
		

        
        @@include('./src/components/ES5/_global/include-copyright.html')
        
        
    </div>
    <!-- .uix-wrapper end -->
       
       
    @@include('./src/components/ES5/_global/include-footer.html')

