@@include('./src/components/_global/include-header.html')
     
  <body class="page">
  
  
          
    @@include('./src/components/_global/include-loader.html')
    @@include('./src/components/_global/include-toggle-trigger.html')
    
    

  
  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/_global/include-brand.html')
                        
                        @@include('./src/components/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clear"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder"></div>
      
      
     
        <!-- Content 01
        ====================================================== -->
        <section>
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h2>Message</h2>
							<p>You can use any of the available classes of Base Stylesheets to quickly create a custom style.</p>
                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section>
     
       
     
       <!-- Content 02
        ====================================================== -->
        <section class="uix-spacing--m">
            <div class="container">
                    <div class="row">
                        <div class="col-12">


						
							<p class="uix-striking-msg uix-striking-msg--default">
							   <i class="fa fa-uix-striking-msg--info-circle" aria-hidden="true"></i>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							</p>  

							<p class="uix-striking-msg uix-striking-msg--success">
							   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							</p>     

							<p class="uix-striking-msg uix-striking-msg--info">
							   Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							</p>   
							
							<p class="uix-striking-msg uix-striking-msg--alert">
							   Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							</p>      
							        
							<p class="uix-striking-msg uix-striking-msg--danger">
							   <i class="fa fa-uix-striking-msg--info-circle" aria-hidden="true"></i>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							</p>  
								 
                       
                       
                        </div>
                        <!-- .col-12 end -->
                    </div>
                    <!-- .row end -->
                    
             
            </div>
            <!-- .container end -->
            
            
        </section>
        
        
        
       
        
        @@include('./src/components/_global/include-copyright.html')
        
        
    </div>
    <!-- .wrapper end -->
       
       
    @@include('./src/components/_global/include-footer.html')

