@@include('./src/components/ES5/_global/include-header.html')
     
  <body class="page">
  
  
          
    @@include('./src/components/ES5/_global/include-loader.html')
    @@include('./src/components/ES5/_global/include-toggle-trigger.html')
    
    

  
  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/ES5/_global/include-brand.html')
                        
                        @@include('./src/components/ES5/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder"></div>
      
      
		<main id="uix-maincontent">
			
			
			<!-- Content 
			====================================================== -->
			<section>
				<div class="container uix-t-c">
						<div class="row">
							<div class="col-md-8 offset-md-2">
								<h2>Brands List</h2>
							</div>
						</div>
						<!-- .row end -->


				</div>
				<!-- .container end -->

			</section>



		   <!-- Content 
			====================================================== -->
			<section class="uix-spacing--m uix-spacing--no-bottom">
				<div class="container">



					<div class="row">
						<div class="col-lg-6 col-md-6">

							<ul class="uix-list-brands uix-list-brands--medium uix-outer-shadow--regular">
								<li><img src="assets/images/demo/brands/logo-1.jpg" alt=""><span>Title Here</span></li>
								<li><img src="assets/images/demo/brands/logo-2.jpg" alt=""><span>The Long Title Here</span></li>
								<li><img src="assets/images/demo/brands/logo-3.jpg" alt=""><span>Title Here</span></li>
								<li><img src="assets/images/demo/brands/logo-4.jpg" alt=""><span>Title Here</span></li>
								<li><img src="assets/images/demo/brands/logo-5.jpg" alt=""><span>The Long Title Here</span></li>

							</ul>  


						</div>
						<div class="col-lg-6 col-md-6">

							<ul class="uix-list-brands uix-list-brands--tiny uix-outer-shadow--regular">
								<li><img src="assets/images/demo/brands/logo-1.jpg" alt=""></li>
								<li><img src="assets/images/demo/brands/logo-2.jpg" alt=""></li>
								<li><img src="assets/images/demo/brands/logo-3.jpg" alt=""></li>
								<li><img src="assets/images/demo/brands/logo-4.jpg" alt=""></li>
								<li><img src="assets/images/demo/brands/logo-5.jpg" alt=""></li>
								<li><img src="assets/images/demo/brands/logo-1.jpg" alt=""></li>
								<li><img src="assets/images/demo/brands/logo-2.jpg" alt=""></li>
								<li><img src="assets/images/demo/brands/logo-3.jpg" alt=""></li>
								<li><img src="assets/images/demo/brands/logo-4.jpg" alt=""></li>
								<li><img src="assets/images/demo/brands/logo-5.jpg" alt=""></li>    
							</ul>  

						</div>

					</div>
					<!-- .row end -->	



				</div>
				<!-- .container end -->

			</section>   

		   <!-- Content 
			====================================================== -->
			<section>
				<div class="container">


					<div class="row">
						<div class="col-lg-6 col-md-6">

							<ul class="uix-list-brands uix-list-brands--small uix-outer-shadow--regular">
								<li><img src="assets/images/demo/brands/logo-1.jpg" alt=""></li>
								<li><img src="assets/images/demo/brands/logo-2.jpg" alt=""></li>
								<li><img src="assets/images/demo/brands/logo-3.jpg" alt=""></li>
								<li><img src="assets/images/demo/brands/logo-4.jpg" alt=""></li>
								<li><img src="assets/images/demo/brands/logo-5.jpg" alt=""></li>
								<li><img src="assets/images/demo/brands/logo-1.jpg" alt=""></li>
								<li><img src="assets/images/demo/brands/logo-2.jpg" alt=""></li>
								<li><img src="assets/images/demo/brands/logo-3.jpg" alt=""></li>
								<li><img src="assets/images/demo/brands/logo-4.jpg" alt=""></li>
								<li><img src="assets/images/demo/brands/logo-5.jpg" alt=""></li>    
							</ul>  

						</div>
						<div class="col-lg-6 col-md-6">

							<ul class="uix-list-brands uix-list-brands--large uix-outer-shadow--regular">
								<li><img src="assets/images/demo/brands/logo-1.jpg" alt=""></li>
								<li><img src="assets/images/demo/brands/logo-2.jpg" alt=""></li>
								<li><img src="assets/images/demo/brands/logo-3.jpg" alt=""></li>
								<li><img src="assets/images/demo/brands/logo-4.jpg" alt=""></li>
								<li><img src="assets/images/demo/brands/logo-5.jpg" alt=""></li>
								<li><img src="assets/images/demo/brands/logo-1.jpg" alt=""></li>
								<li><img src="assets/images/demo/brands/logo-2.jpg" alt=""></li>
								<li><img src="assets/images/demo/brands/logo-3.jpg" alt=""></li>
								<li><img src="assets/images/demo/brands/logo-4.jpg" alt=""></li>
								<li><img src="assets/images/demo/brands/logo-5.jpg" alt=""></li>    
							</ul>  

						</div>

					</div>
					<!-- .row end -->	



				</div>
				<!-- .container end -->

			</section>   

			
		</main>
		

        
        @@include('./src/components/ES5/_global/include-copyright.html')
        
        
    </div>
    <!-- .uix-wrapper end -->
       
       
    @@include('./src/components/ES5/_global/include-footer.html')

