<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
	<meta charset="@@{website_charset}" />
	<title>Gallery Grid - @@{website_title}</title>	
	@@include('./src/components/_global/include-header.html')
</head>  

     
  <body class="page">
  
  
          
    @@include('./src/components/_global/include-loader.html')
    @@include('./src/components/_global/include-toggle-trigger.html')
    
    

  
  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/_global/include-brand.html')
                        
                        @@include('./src/components/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder js-uix-header__placeholder-autoheight"></div>
      
      
		<main id="uix-maincontent">
		
			<!-- Content 
			====================================================== -->
			<section class="uix-spacing--s uix-spacing--no-bottom">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h3>1 Column</h3>
							<hr>
							
							
						</div>
					</div>
					<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>
			
            
            
		   <!-- Content 
			====================================================== -->
			<section class="uix-spacing--s">
				<div class="container">


					<div class="uix-gallery-grid">
						<ul class="uix-gallery-grid__tiles uix-gallery-grid__col-1">
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-1.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                      
							</li>
                                
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-2.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                
							</li>
                                
                                
						</ul>
					</div>
					<!-- /.uix-gallery-grid -->


				</div>
				<!-- .container end -->

			</section>   

               
            
            
			<!-- Content 
			====================================================== -->
			<section class="uix-spacing--s uix-spacing--no-bottom">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h3>2 Columns</h3>
							<hr>
							
							
						</div>
					</div>
					<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>
			
            
            
		   <!-- Content 
			====================================================== -->
			<section class="uix-spacing--s">
				<div class="container">


					<div class="uix-gallery-grid">
						<ul class="uix-gallery-grid__tiles uix-gallery-grid__col-2">
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-1.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                      
							</li>
                                
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-2.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                
							</li>
                                
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-3.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                  
							</li> 
                                
						</ul>
					</div>
					<!-- /.uix-gallery-grid -->


				</div>
				<!-- .container end -->

			</section>   

            
            
			<!-- Content 
			====================================================== -->
			<section class="uix-spacing--s uix-spacing--no-bottom">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h3>3 Columns</h3>
							<hr>
							
							
						</div>
					</div>
					<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>
			
            
            
		   <!-- Content 
			====================================================== -->
			<section class="uix-spacing--s">
				<div class="container">


					<div class="uix-gallery-grid">
						<ul class="uix-gallery-grid__tiles uix-gallery-grid__col-3">
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-1.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                      
							</li>
                                
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-2.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                
							</li>
                                
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-3.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                  
							</li> 
                            
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-4.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                
							</li>
                                
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-5.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                  
							</li>  
                            
                                
						</ul>
					</div>
					<!-- /.uix-gallery-grid -->


				</div>
				<!-- .container end -->

			</section>   
            

			
            
			<!-- Content 
			====================================================== -->
			<section class="uix-spacing--s uix-spacing--no-bottom">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h3>4 Columns</h3>
							<hr>
							
							
						</div>
					</div>
					<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>
			
            
            
		   <!-- Content 
			====================================================== -->
			<section class="uix-spacing--s">
				<div class="container">


					<div class="uix-gallery-grid">
						<ul class="uix-gallery-grid__tiles uix-gallery-grid__col-4">
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-1.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                      
							</li>
                                
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-2.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                
							</li>
                                
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-3.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                  
							</li> 
                            
                            
                            
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-4.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                
							</li>
                                
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-5.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                  
							</li>  
                                
						</ul>
					</div>
					<!-- /.uix-gallery-grid -->


				</div>
				<!-- .container end -->

			</section>   
            
            
            
            
			<!-- Content 
			====================================================== -->
			<section class="uix-spacing--s uix-spacing--no-bottom">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h3>5 Columns</h3>
							<hr>
							
							
						</div>
					</div>
					<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>
			
            
            
		   <!-- Content 
			====================================================== -->
			<section class="uix-spacing--s">
				<div class="container">


					<div class="uix-gallery-grid">
						<ul class="uix-gallery-grid__tiles uix-gallery-grid__col-5">
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-1.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                      
							</li>
                                
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-2.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                
							</li>
                                
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-3.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                  
							</li> 
                            
                            
                            
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-4.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                
							</li>
                                
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-5.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                  
							</li>  
                                
						</ul>
					</div>
					<!-- /.uix-gallery-grid -->


				</div>
				<!-- .container end -->

			</section>   
            
            
            
            
			<!-- Content 
			====================================================== -->
			<section class="uix-spacing--s uix-spacing--no-bottom">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h3>6 Columns</h3>
							<hr>
							
							
						</div>
					</div>
					<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>
			
            
            
		   <!-- Content 
			====================================================== -->
			<section class="uix-spacing--s">
				<div class="container">


					<div class="uix-gallery-grid">
						<ul class="uix-gallery-grid__tiles uix-gallery-grid__col-6">
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-1.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                      
							</li>
                                
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-2.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                
							</li>
                                
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-3.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                  
							</li> 
                            
                            
                            
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-4.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                
							</li>
                                
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-5.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                  
							</li>  
                                
                            
                            
                            
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-4.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                
							</li>
             
                            
                            
						</ul>
					</div>
					<!-- /.uix-gallery-grid -->


				</div>
				<!-- .container end -->

			</section>   
            
            
            
			<!-- Content 
			====================================================== -->
			<section class="uix-spacing--s uix-spacing--no-bottom">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h3>7 Columns</h3>
							<hr>
							
							
						</div>
					</div>
					<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>
			
            
            
		   <!-- Content 
			====================================================== -->
			<section class="uix-spacing--s">
				<div class="container">


					<div class="uix-gallery-grid">
						<ul class="uix-gallery-grid__tiles uix-gallery-grid__col-7">
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-1.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                      
							</li>
                                
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-2.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                
							</li>
                                
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-3.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                  
							</li> 
                            
                            
                            
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-4.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                
							</li>
                                
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-5.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                  
							</li>  
                            
                            
                            
                            
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-4.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                
							</li>
                                
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-5.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                  
							</li>  
                            
                            
                            
                            
                            
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-4.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                
							</li>
                                
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-5.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                  
							</li>   
                            
                                
						</ul>
					</div>
					<!-- /.uix-gallery-grid -->


				</div>
				<!-- .container end -->

			</section>   
            
            
            
            
			<!-- Content 
			====================================================== -->
			<section class="uix-spacing--s uix-spacing--no-bottom">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h3>8 Columns</h3>
							<hr>
							
							
						</div>
					</div>
					<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>
			
            
            
		   <!-- Content 
			====================================================== -->
			<section class="uix-spacing--s">
				<div class="container">


					<div class="uix-gallery-grid">
						<ul class="uix-gallery-grid__tiles uix-gallery-grid__col-8">
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-1.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                      
							</li>
                                
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-2.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                
							</li>
                                
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-3.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                  
							</li> 
                            
                            
                            
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-4.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                
							</li>
                                
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-5.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                  
							</li>  
                            
                            
                            
                            
                            
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-4.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                
							</li>
                                
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-5.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                  
							</li>  
                            
                            
                            
                            
                            
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-4.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                
							</li>
                                
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-5.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                  
							</li>  
                            
                            
                            
                            
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-4.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                
							</li>
                                
							<li class="uix-gallery-grid__item">
                                <figure>
                                    <img src="assets/images/demo/test-img-big-5.jpg" alt="">		
                                    <figcaption>A pink flamingo.</figcaption>
                                </figure>                                  
							</li>     
                            
                                
						</ul>
					</div>
					<!-- /.uix-gallery-grid -->


				</div>
				<!-- .container end -->

			</section>   
              
            
            
			
		</main>
		
		

        
        
        @@include('./src/components/_global/include-copyright.html')
        
        
    </div>
    <!-- .uix-wrapper end -->
       
       
    @@include('./src/components/_global/include-footer.html')

