/* ====================================================== 
   <!-- Dropdown Menu -->   
/* ====================================================== */
/* Do not use <a> tag */
.uix-dropdown-menu {

	> ul {
		left: auto;
		right: 0;


		&::before {
			left: auto; 
			right: 20px;
		}

	}	

}





