<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
	<meta charset="@@{website_charset}" />
	<title>Breadcrumbs - @@{website_title}</title>	
	@@include('./src/components/ES5/_global/include-header.html')
</head>  

     
  <body class="page">
  
  
          
    @@include('./src/components/ES5/_global/include-loader.html')
    @@include('./src/components/ES5/_global/include-toggle-trigger.html')
    
    

  
  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/ES5/_global/include-brand.html')
                        
                        @@include('./src/components/ES5/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder js-uix-header__placeholder-autoheight"></div>
      
      
		<main id="uix-maincontent">
			
			<!-- Content 
			====================================================== -->
			<section class="uix-spacing--s uix-spacing--no-bottom">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h3>Breadcrumbs</h3>
							<p>A breadcrumb navigation provide links back to each previous page the user navigated through.</p>
							<hr>
							
							
						</div>
					</div>
					<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>
			
		


		   <!-- Content 
			====================================================== -->
			<section class="uix-spacing--s">
				<div class="container">


						<div class="uix-breadcrumbs uix-t-c">
							<ul>
								<li class="active"><a href="#">Web Design</a></li>
								<li><a href="#">UI</a></li>
								<li><a href="#">SEO</a></li>  
								<li><a href="#">Interaction</a></li>  
							</ul>
						</div>
						<!-- .uix-breadcrumbs  end -->


						<br>


						<div class="uix-breadcrumbs is-fullwidth uix-t-c">
							<ul>
								<li class="active"><a href="#">Web Design</a></li>
								<li><a href="#">UI</a></li>
								<li><a href="#">SEO</a></li>  
								<li><a href="#">Interaction</a></li>  
							</ul>
						</div>
						<!-- .uix-breadcrumbs  end -->






				</div>
				<!-- .container end -->


			</section>
			
		</main>
		
     
			
     
        
        @@include('./src/components/ES5/_global/include-copyright.html')
        
        
    </div>
    <!-- .uix-wrapper end -->
       
       
    @@include('./src/components/ES5/_global/include-footer.html')

