/* ====================================================== 
   Features
/* ====================================================== */
.custom-feature .icon i {
  border: 1px #090909 solid;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  -moz-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  font-size: 32px; }
.custom-feature .icon-side i {
  margin-right: .4em; }
.custom-feature .title {
  font-size: 18px;
  letter-spacing: 0; }
  .custom-feature .title i {
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out; }
  .custom-feature .title:hover i {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg); }
.custom-feature .desc {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 1.6;
  padding: .2em 0 1.5em; }
  .custom-feature .desc.desc-singlerow {
    padding-bottom: 1.5em; }
