/* ====================================================== 
   <!-- Header Pinlines --> 
/* ====================================================== */
.pinline {
    text-align: center;
    display: block;
    overflow: hidden;
    margin: 1.5rem 0;
	
	span {
		position: relative;
		display: inline-block;
		max-width: 80%;
		line-height: 1;
		

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			height: 1px;
			background: $primary-text-color1;
			width: 99999px;
		}

		&::before {
			left: 100%;
			margin-left: 1.5rem;
		}

		&::after {
			right: 100%;
			margin-right: 1.5rem;
		}	
		
		
	}

	
}

