@@include('./src/components/_global/include-header.html')
     
  <body class="page">
  
  
          
    @@include('./src/components/_global/include-loader.html')
    @@include('./src/components/_global/include-toggle-trigger.html')
    
    

  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/_global/include-brand.html')
                        
                        @@include('./src/components/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clear"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder"></div>
      
    
        
        
       <!-- Content 01  
        ====================================================== -->
        <section>
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h2>Card</h2>
                           

                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section>
        
        
        
       <!-- Content 02 
        ====================================================== -->
        <section class="uix-spacing--m">
            <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                           
                           

							
                           
                            <div class="uix-card1">
                                <div class="uix-card1__headline">
                                    <div class="uix-card1__text">
                                        <h3>Full-stack Designer</h3> <a href="https://uiux.cc" target="_blank">@https://uiux.cc</a> 
                                    </div>
                                    <div class="uix-card1__pic uix-border--circle uix-border--circle-only-img"> <img alt='' src='http://1.gravatar.com/avatar/4cb1d4e35df5f93e9d826edc0dc43fd0?s=100&#038;d=mm&#038;r=g' class='avatar avatar-100 photo' height='100' width='100' /> </div>
                                </div>
                                <div class="uix-card1__content"> Hi. I'm a full-stack designer on the way of pursuing the dream. Focus on user interface, user experience, awesome websites, front-end and WordPress development. I want to build things I can be proud of. I approach some awesome design challenges with an eye on the latest trends and strive to align my work the industry current best practices, while leveraging the acquired experience on the field. I have been working so hard to build up self. My personal website: https://uiux.cc </div> 
                                <a class="uix-card1__jump" href="#" rel="author">&rarr;</a> 
                            </div>
                            <!-- .uix-card1  end --> 
                               

                            <hr>


							<div class="uix-card2" data-bg='{"src":"assets/images/demo/test-img-big-3.jpg","position":"top left","size":"cover","repeat":"no-repeat","fill":false,"parallax":0}'>
								<div class="uix-card2__content">
									<div class="uix-card2__tagline">Full-stack Designer</div>
									<h3 class="uix-card2__headline uix-el-grid__col-5">I'm a full-stack designer on the way of pursuing the dream.</h3>
									<div class="uix-clear"></div>
									<a href="#" class="uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--secondary is-pill is-fill-white">Check Out</a>
								</div>   
							</div>
						   <!-- .uix-card2  end --> 
						
						
						    <hr>
						
							<div class="row">
								<div class="col-lg-6 col-md-6">
									<div class="uix-card2" data-bg='{"src":"assets/images/demo/test-img-big-1.jpg","position":"top left","size":"cover","repeat":"no-repeat","fill":false,"parallax":0}'>
										<div class="uix-card2__content">
											<div class="uix-card2__tagline">Full-stack Designer</div>
											<h3 class="uix-card2__headline">Focus on user interface, user experience, awesome websites, front-end and WordPress development.</h3>
											<a href="#" class="uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--secondary is-pill is-fill-white">Check Out</a>
										</div>   
									</div>
								   <!-- .uix-card2  end --> 

								</div>     

							
								<div class="col-lg-6 col-md-6">
									<div class="uix-card2" data-bg='{"src":"assets/images/demo/test-img-big-2.jpg","position":"top left","size":"cover","repeat":"no-repeat","fill":false,"parallax":0}'>
										<div class="uix-card2__content">
											<div class="uix-card2__tagline">Full-stack Designer</div>
											<h3 class="uix-card2__headline">I want to build things I can be proud of. </h3>
											<a href="#" class="uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--secondary is-pill is-fill-white">Check Out</a>
										</div>   
									</div>
								   <!-- .uix-card2  end --> 
	
								</div>     
							</div>
							<!-- .row end -->



                           
                           
                           <hr>
                           

							<div class="uix-card3">
							   <div class="uix-card3__pic" data-bg='{"src":"assets/images/demo/test-img-big-2.jpg","position":"top left","size":"cover","repeat":"no-repeat","fill":false,"parallax":0}'></div>
							   <div class="uix-card3__content">
								   <div>
									   <div class="uix-card3__tagline">Categories</div>
									   <h3 class="uix-card3__headline">Full-stack Designer</h3>
								   </div>
								</div>
							</div>  

                           
                           <hr>
                           

							<div class="uix-card4 uix-el-grid__row">
								<div class="uix-card4__pic uix-el-grid__col-8 uix-el-grid__col-stack" data-bg='{"src":"assets/images/demo/test-img-big-4.jpg","position":"top left","size":"cover","repeat":"no-repeat","fill":false,"parallax":0}'></div>
								<div class="uix-card4__content uix-el-grid__col-4 uix-el-grid__col-stack">
									<div class="uix-card4__title">
										<div class="uix-card4__tagline">Categories</div>
										<h3 class="uix-card4__headline">Full-stack Designer</h3>
										<p>Focus on user interface, user experience, awesome websites, front-end and WordPress development.</p>
									</div>
								</div>
							</div>
                           
                           
                           <hr>
                           

							<div class="uix-card4 uix-el-grid__row js-uix-common-height">
								<div class="uix-card4__pic uix-el-grid__col-3 uix-el-grid__col-stack" data-bg='{"src":"assets/images/demo/test-img-big-1.jpg","position":"top left","size":"cover","repeat":"no-repeat","fill":false,"parallax":0}'><img src="assets/images/demo/test-img-big-4.jpg" alt=""></div>
								<div class="uix-card4__content uix-el-grid__col-9 uix-el-grid__col-stack">
									<div class="uix-card4__title">
										<h3 class="uix-card4__headline">Embed pictures and adaptive height</h3>
										<p>Focus on user interface, user experience, awesome websites, front-end and WordPress development.<br>Focus on user interface, user experience, awesome websites, front-end and WordPress development.</p>
									</div>
								</div>
							</div>
                           
                           
                           
                        </div>
                    </div>
                    <!-- .row end -->
           
                    
            </div>
            <!-- .container end -->
 
        </section>   

     
        
        
        @@include('./src/components/_global/include-copyright.html')
        
        
    </div>
    <!-- .wrapper end -->
       
       
    @@include('./src/components/_global/include-footer.html')

