/* ======================================================
    <!-- Hybrid Content Slider -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';

/*
 * 1. Initialize the core style
 * 2. Next/Prev buttons
 * 3. Pagination dots
 * 
*/


/*
 ---------------------------
 1. Initialize the core style
 ---------------------------
 */

.uix-hybrid-content-slider {
	/* Required */
	overflow: hidden;
    width: 100%;
    height: auto;

	.uix-hybrid-content-slider__items {
		height: 100%;
		position: relative;

		> .uix-hybrid-content-slider__item {
			height: 100%;
            
            img {
                pointer-events: none;
            }
            
            &.js-is-ready { 
                position: absolute; /* required */
            }

			&.is-active { }


		}
        
        
        
	}

    
}


/*
 ---------------------------
 2. Next/Prev buttons
 ---------------------------
 */

.uix-hybrid-content-slider__controls {
	margin-top: 30px;
	text-align: center;
	pointer-events: none;

	.uix-hybrid-content-slider__controls--prev {
	    padding-left: 2px;
	}
	.uix-hybrid-content-slider__controls--next {
	    padding-right: 2px;
	}
	a {
		pointer-events: all;
		margin-left: 10px;
		margin-right: 10px;
		outline: 0;
		border: 0;
		color: #000;
		font-weight: bold;
		border-radius: 50%;
		height: 50px;
		width: 50px;
		font-size: 32px;
		cursor: pointer;
		opacity: 1;
		text-decoration: none;
		font-family: Arial, "sans-serif";

		&.is-disabled {
			opacity: .3;
            pointer-events: none;
		}
	}

    
}






/*
 ---------------------------
 3. Pagination dots
 ---------------------------
 */
.uix-hybrid-content-slider__pagination {

	position: relative;
	z-index: 2;
	margin-top: 40px;

	ul.uix-hybrid-content-slider__pagination--default {
		list-style: none;
		left: 0;
		bottom: 0;
		font-size: 0;/*Fighting the Space Between Inline Block Elements*/
		display: block;
		width: 100%;
		text-align: center; /*require*/
		position: relative;
        margin: 0;
        padding: 0;

		li {
			font-size: 1rem;/*Fighting the Space Between Inline Block Elements*/
			display: inline-block; /*require*/
			margin: 0 .2rem;

			a {
				width: 12px;
				height: 12px;
				display: block;
				background: rgba( 0, 0, 0, 0.5);
				cursor: pointer;
				text-indent: -9999px;
				border-radius: 20px;
				box-shadow: 0px 6px 23px -2px rgba(0, 0, 0, 0.36);
			}
            
            &:hover a,
            &.is-active a {
                background: rgba(0, 0, 0, 1);
                width: 25px;
            }
            
		}


	}


	ul.uix-hybrid-content-slider__pagination--custom {
		list-style: none;
		left: 0;
		bottom: 0;
		font-size: 0;/*Fighting the Space Between Inline Block Elements*/
		display: block;
		width: 100%;
		text-align: center; /*require*/
		position: relative;
		transform: translateY(.5rem);
        margin: 0;
        padding: 0;
        
		li {
			font-size: 0.75rem;/*Fighting the Space Between Inline Block Elements*/
			display: inline-block; /*require*/
			margin: 0 .2rem;

			a {
				display: block;
				background: rgba( 0, 0, 0, 0.5);
				cursor: pointer;
				border-radius: 20px;
				box-shadow: 0px 6px 23px -2px rgba(0, 0, 0, 0.36);
				color: #fff;
				padding: .2rem 1rem;
			}
            
            &:hover a,
            &.is-active a {
                background: rgba(0, 0, 0, 1);
            }

		}


	}


}


