/* ====================================================== 
   <!-- Back to Top -->                                               
/* ====================================================== */

#uix-to-top {
	transform: scale(0);
	position: fixed;
	bottom: 12px;
	right: 12px;
	width: 50px;
	height: 50px;
	z-index: 1;
	text-align: center;
	
	i {
		font-size: 1.5rem;
	}
	
	&.active {
		transform: scale(1);
	}
	
	&:active, 
	&:focus {
	    outline: none;
	}
	
	
}


