@@include('./src/components/_global/include-header.html')
     
  <body class="page">
  
  
          
    @@include('./src/components/_global/include-loader.html')
    @@include('./src/components/_global/include-toggle-trigger.html')
    
    

    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/_global/include-brand.html')
                        
                        @@include('./src/components/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clear"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder"></div>
      
       
    
        
        
     
        <!-- Content 01
        ====================================================== -->
        <section>
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h2>Periodical Scroll</h2>
                            
                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section>
     
       
       <!-- Content 02
        ====================================================== -->
        <section class="uix-spacing--m">
            <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            
                            
							<div class="uix-periodical-scroll" data-periodical-scroll-container="ul" data-periodical-scroll-speed="600" data-periodical-scroll-timing="2000">
								<ul>
									<li><span>February 8, 2018</span><a href="#" target="_blank">An underlying front-end system that makes it easy to extend and modify core files.</a></li>
									<li><span>February 3, 2018</span><a href="#" target="_blank">This spec is a living document that will be updated.</a></li>
									<li><span>July 22, 2017</span><a href="#" target="_blank">We continue to develop the tenets and specifics of Uix Kit.</a></li>

								</ul>


							</div>
                            <!-- .uix-periodical-scroll end -->     
                            
                  
                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section>
        
         
        
        
        @@include('./src/components/_global/include-copyright.html')
        
        
    </div>
    <!-- .wrapper end -->
       
       
    @@include('./src/components/_global/include-footer.html')

