/* ====================================================== 
   Progress Bar
/* ====================================================== */

$bar-size       : 100px;
$bar-line-size  : 8px;
$bar-bg         : $primary-text-color1;
$bar-track-bg   : rgba(236,236,236,1.00);
$bar-fill-color : $highlight-color1;

/*! 
 ---------------------------
 1) Radial Progress Bar
 ---------------------------
 */ 
@mixin size($w, $h){
  height: $h;
  width: $w;
}

.custom-radial-progressbar {
  @include size($bar-size, $bar-size);
  
  display: inline-block;
  margin: 1rem;
  position: relative;
  
 
	.title {
	    color: $primary-text-color1;
		padding-top: 1rem;
	}

  .pie {
    @include size(100%, 100%);
    clip: rect(0, $bar-size, $bar-size, $bar-size / 2);
    left: 0;
    position: absolute;
    top: 0;

    .half-circle {
	  @include transition-default();
      @include size(100%, 100%);
      border: $bar-line-size solid;
      border-radius: 50%;
      clip: rect(0, $bar-size / 2, $bar-size, 0);
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  .track {
	border: $bar-line-size solid $bar-track-bg;
    background: $bar-bg;
    border-radius: 100%;
    display: block;
	width: 100%;
	height: 100%;
	line-height: $bar-size;
    font-size: 1rem;
    position: relative;
    text-align: center;
	color: #fff;
	  
	  > span {
		  margin-top: -.5rem;
		  position: absolute;
		  width: 100%;
		  left: 0;
		  top: 0;
	  }

    .unit {
      color: $sub-text-color;
	  font-size: 0.875rem;
	  display: inline-block;
	  margin-left: .1rem;
      font-style: normal;
    }
  }


  &.no-c-bg {
    .track {
	  color: $primary-text-color1;
      background: none;
    }
  }

    @for $i from 1 to 101 {

	  &.progress-#{$i} {
		  
			@if $i <= 50 {
			  .pie {
				.right-side {
				  display: none;
				}
			  }
			}

			 @if $i > 50 {
				  .pie {
					clip: rect(auto, auto, auto, auto);

					.right-side {
					  transform: rotate(180deg);
					}
				  }

			 }   
		  
		  .pie {
			.half-circle {
			  border-color: $bar-fill-color;
			}

			.left-side {
			   transform: rotate(#{$i*3.5}deg);
			}

		  }	
		  
		  
		  @if $i == 100 {
			  .pie {
				.right-side {
				  transform: rotate(170deg);
				}   
			  }

		  }
		
		  


		  
	  }	
	
    }	  
	

}

/*! 
 ---------------------------
 2) Rectangle Progress Bar
 ---------------------------
 */ 
.custom-rectangle-progressbar {
	display: block;
	margin: 1rem;
	position: relative;
	width: calc(100% - 2rem);
	
	.title {
		color: $primary-text-color1;
	}
  
	.bar {
		height: $bar-line-size;
		background-color: $bar-track-bg;


		> span {
			position: absolute;
			top: 0;
			right: 0;
			font-weight: bold;
			
			.unit {
				color: $sub-text-color;
				font-size: 0.875rem;
				display: inline-block;
				margin-left: .1rem;
				font-style: normal;
			}	
		}
		
		.track {
			@include transition-default();
			position: relative;
			height: 100%;
			width: 0;
			background-color: $bar-fill-color;
			color: $primary-text-color1;
		}

	}
	
	@for $i from 1 to 101 {
		&.progress-#{$i} .track {
			width: #{$i}#{"%"};
		}
	}

	
	
}



