/* ====================================================== 
    <!-- Slideshow ( with custom flexslider ) -->  
/* ====================================================== */


/* 
   Thumbnail ControlNav Pattern                   
-------------------------- 
*/
.custom-theme-flexslider-thumbs {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	width: 100%;
	overflow: hidden;
	overflow-x: auto;
	white-space: nowrap;
	margin-top: 1.5rem;
	
	
	&::-webkit-scrollbar-track {
		border-radius: 0px;
		background-color: #E6E3E3;
	}

	&::-webkit-scrollbar {
		height: 5px;
		background-color: $highlight-color1;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 0px;
		background-color: $highlight-color1;
	}

	ul {

		margin: 0;
		padding: 0;


		li {
			width: 100px;
			max-height: 100px;
			display: inline-block;
			cursor: pointer;
			margin-right: 10px;
			margin-bottom: 10px;
			padding: 0;
			transform: scale(.9);

			&.active {
				transform: scale(1);
			}


			img {

				box-shadow: 0px 6px 11px 1px rgba(0,0,0,0.15);
			}

		}	
	}


}


/* 
   Default Slideshow                                
-------------------------- 
*/
.custom-theme-flexslider, .custom-theme-flex-viewport {
	transition: .1s ease;
}

.custom-theme-flexslider {
	margin: 0;
	padding: 0;
	position: relative;
	zoom: 1;
	width: 100%;
	overflow: hidden;
	z-index: 0;
}

.custom-theme-flex-viewport {
    max-height: 200vh;
}

.custom-theme-flexslider .custom-theme-slides {
	> .item {
		display: none;
		-webkit-backface-visibility: hidden;
	}
	img {
		max-width: 100%;
		display: block;
		border: none;
		box-shadow: none;
		margin: 0;
		padding: 0;
	}
}

html[xmlns] .custom-theme-flexslider .custom-theme-slides {
    display: block;
}

* html .custom-theme-flexslider .custom-theme-slides {
    height: 1%;
}

.no-js .custom-theme-flexslider .custom-theme-slides > .item:first-child {
    display: block;
}

.custom-theme-flexslider .custom-theme-slides {
	zoom: 1;
	
	img {
		height: auto;
		width: 100%;
	}
}

.custom-theme-flex-direction-nav {
	
	.custom-theme-flex-prev {
	    left: -100px;
	}
	.custom-theme-flex-next {
		right: -100px;
		text-align: right;
	}
	
	a:before {
	    display: none;
	}
	margin: 0;
	padding: 0;
	list-style: none;
	
	li {
		margin: 0;
		padding: 0;
		list-style: none;
		
		a {
			display: block;
			z-index: 9;
			position: absolute;
			top: 50%;
			height: 40px;
			margin-top: -20px;
			line-height: 40px;
			width: 50px;
			text-align: center;
			opacity: 0.8;
			color: #fff;
			font-size: 1.3125rem;
			opacity: 0.66;

			&:hover {
				opacity: 1;
				color: #fff;
				text-decoration: none;
			}
		}
	}
}

.custom-theme-flexslider:hover a {
	&.custom-theme-flex-prev {
	    left: 0;
	}
	&.custom-theme-flex-next {
	    right: 20px;
	}
}

.custom-theme-flex-control-nav {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
	
	li {
		margin: 0;
		padding: 0;
		list-style: none;
		margin: 0 6px;
		display: inline-block;
		zoom: 1;
		*display: inline;
	}

}

.custom-theme-flex-control-paging {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		margin: 0;
		padding: 0;
		list-style: none;
		margin-right: 10px;
		
		a {
			width: 12px;
			height: 12px;
			display: block;
			background: rgba(255, 255, 255, 0.5);
			cursor: pointer;
			text-indent: -9999px;
			border-radius: 20px;
			box-shadow: 0px 6px 23px -2px rgba(0, 0, 0, 0.36);

			&:hover, 
			&.custom-theme-flex-active {
				background: rgba(255, 255, 255, 1);
				width: 25px;
			}
		}
	}
}

.custom-theme-flex-control-thumbs {
	margin: 5px 0 0;
	position: static;
	overflow: hidden;
	
	li {
		width: 25%;
		float: left;
		margin: 0;
	}
	img {
		width: 100%;
		height: auto;
		display: block;
		opacity: .7;
		cursor: pointer;
		transition: .1s ease;
		
		&:hover {
			opacity: 1;
		}
	}
	.custom-theme-flex-active {
		opacity: 1;
		cursor: default;
	}
}

/* Custom Controls */

.custom-navigation {
	display: table;
	width: 100%;
	table-layout: fixed;
	margin-top: 1.75rem;
	
	> {
		* {
			display: table-cell;
		}
		a {
			width: 50px;
		}
	}
	
	.custom-theme-flex-prev {
		&.custom-theme-flex-disabled {
			
		}
	}
	.custom-theme-flex-next {
		&.custom-theme-flex-disabled {
			
		}	
	}

}

.custom-controls-container {
	.custom-theme-flex-control-nav {
		margin: 0;
		padding: 0;
		list-style: none;
		width: 100%;
		text-align: center;
		position: relative;
		bottom: -6px;
		
		li {
			margin: 0;
			padding: 0;
			list-style: none;
			margin: 0 6px;
			display: inline-block;
			zoom: 1;
			*display: inline;
	    }

	}
	.custom-theme-flex-control-paging {
		margin: 0;
		padding: 0;
		list-style: none;
		
		li {
			margin: 0;
			padding: 0;
			list-style: none;
			margin-right: 10px;

			a {
				width: 12px;
				height: 12px;
				display: block;
				background: rgba(233, 47, 22, 0.5);
				cursor: pointer;
				text-indent: -9999px;
				border-radius: 20px;
				box-shadow: 0px 6px 23px -2px rgba(0, 0, 0, 0.36);

				&:hover, 
				&.custom-theme-flex-active {
					background: rgba(233, 47, 22, 1);
					width: 25px;
				}
			}
		}
	}
}



/* 
   Primary Slideshow  (with dynamic min/max ranges )                            
-------------------------- 
*/
.custom-theme-flexslider.custom-itemgrid {
	
	.item {
		transition: .1s ease;
		opacity: 0.2;

		&.custom-theme-flex-active-slide {
			opacity: 1;
		}
	}
	
	
}
	
	
	

/* 
   Primary Slideshow                                
-------------------------- 
*/
.custom-theme-flexslider.custom-primary-flexslider {
	max-height: 100vh;
	overflow: hidden;

	
	/* Full Screen Slider
	 * You need add an attribute "data-slider-bg" to ".item"
	*/
	&.fullscreen {
		img {
			height: 100vh;
			visibility: hidden;
		}
	}

	.custom-theme-slides {

		> .item {

			background-size: cover;
			background-repeat: no-repeat;
			position: relative;

			.slides-info {
				position: absolute;
				top: 0;
				left: 0;
				color: white;
				width: 100%;
				/* Vertical Center */
				top: 50%;
				transform: translateY(-50%);

				.container {

					.level {
						animation-delay: .5s;
						animation-duration: .6s;
						animation-fill-mode: both;
						animation-name: fadeOutLeft;
					}
					.level-1, 
					.level-2 {
						color: #fff;
					}
				}
			}

			&.custom-theme-flex-active-slide {

				.slides-info .container {

					.level {
						animation-delay: .4s;
						animation-duration: .6s;
						animation-fill-mode: both;
						animation-name: fadeInLeft;
					}

					.level-1 {
						animation-delay: .4s;
					}
					.level-2 {
						animation-delay: .5s;
					}
					.level-3 {
						animation-delay: .6s;
					}  

				}
			}
		}
	}
}

@media all and (max-width: 991px) {
	
	.custom-theme-flexslider.custom-primary-flexslider .custom-theme-slides > .item {

		.slides-info {

			.container {
				.level-1 {
					font-size: 7vw !important;
					line-height: 7vw !important;
					margin-bottom: 0;
					line-height: 1.5 !important;
					
				}
				.level-2 {
					font-size: 4vw !important;
					line-height: 4vw !important;
				}
			}

		}

	}
}

@media all and (max-width: 768px) {

	.custom-theme-flexslider.custom-primary-flexslider {
		.custom-theme-slides > .item .button {
			font-size: 2vw !important;
		}
	}
}



@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}


@keyframes fadeOutLeft {
	0% {
	    opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}
}




/* 
   Parallax Slideshow                                
-------------------------- 
*/
.custom-theme-flexslider.custom-parallax-flexslider {
	max-height: 100vh;
	overflow: hidden;

	img {
	    max-height: 100vh;
	}

	.custom-theme-slides {

		> .item {

			background-size: cover;
			background-repeat: no-repeat;
			position: relative;

			.level {
				position: absolute;
				transition: all 1.5s ease; /* Note: The duration can not be less than 1.5 */
				width: auto;
				box-shadow: 0px 0px 34px -6px rgba(0,0,0,0.55);
				transform: translateY(-50%);
				top: 50%;
			}

			.level-1 {
				left: 55%;
				z-index: 3;
			}

			.level-2 {
				left: 30%;
				z-index: 2;
			}

			&.left {
				.level-1 {
					transform: translate(-300px,-50%);
				}
				.level-2 {
					transform: translate(-50px,-50%);
				}	
			}

			&.right {
				.level-1 {
					transform: translate(300px,-50%);
				}
				.level-2 {
					transform: translate(50px,-50%);
				}	
			}		

		}
		
	}
}


