<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
	<meta charset="@@{website_charset}" />
	<title>Progress Line - @@{website_title}</title>	
	@@include('./src/components/ES6/_global/include-header.html')
</head>  

     
  <body class="page">
  
  
          
    @@include('./src/components/ES6/_global/include-loader.html')
    @@include('./src/components/ES6/_global/include-toggle-trigger.html')
    
    

  
  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/ES6/_global/include-brand.html')
                        
                        @@include('./src/components/ES6/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder js-uix-header__placeholder-autoheight"></div>
      
		<main id="uix-maincontent">
			
			<!-- Content 
			====================================================== -->
			<section class="uix-spacing--s uix-spacing--no-bottom">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h3>Progress Line</h3>
							<p>Move the mouse over the element to see the effect</p>
							<hr>
							
							
						</div>
					</div>
					<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>
			
		


		   <!-- Content 
			====================================================== -->
			<section class="uix-spacing--s">
				<div class="container uix-t-c">


					<div class="uix-progress-line">

						<div class="uix-progress-line__circle"> 
							<span class="uix-progress-line__circle__label"><i class="fa fa-flag" aria-hidden="true"></i></span> 
							<span class="uix-progress-line__circle__num">01</span> 
							<span class="uix-progress-line__circle__title">Title</span> 
						</div> 
						<span class="uix-progress-line__bar"></span>


						<div class="uix-progress-line__circle"> 
							<span class="uix-progress-line__circle__label"><i class="fa fa-ban" aria-hidden="true"></i></span> 
							<span class="uix-progress-line__circle__num">02</span> 
							<span class="uix-progress-line__circle__title">Title Title Title</span> 
						</div> 
						<span class="uix-progress-line__bar"></span>


						<div class="uix-progress-line__circle"> 
							<span class="uix-progress-line__circle__label"><i class="fa fa-arrows-alt" aria-hidden="true"></i></span> 
							<span class="uix-progress-line__circle__num">03</span> 
							<span class="uix-progress-line__circle__title">Title</span> 
						</div> 
						<span class="uix-progress-line__bar"></span>



						<div class="uix-progress-line__circle"> 
							<span class="uix-progress-line__circle__label"><i class="fa fa-microphone" aria-hidden="true"></i></span> 
							<span class="uix-progress-line__circle__num">04</span> 
							<span class="uix-progress-line__circle__title">Title</span> 
						</div> 
						<span class="uix-progress-line__bar"></span>


						<div class="uix-progress-line__circle"> 
							<span class="uix-progress-line__circle__label"><i class="fa fa-pencil" aria-hidden="true"></i></span> 
							<span class="uix-progress-line__circle__num">05</span> 
							<span class="uix-progress-line__circle__title">Title</span> 
						</div> 
						<span class="uix-progress-line__bar"></span>


						<div class="uix-progress-line__circle"> 
							<span class="uix-progress-line__circle__label"><i class="fa fa-eye" aria-hidden="true"></i></span> 
							<span class="uix-progress-line__circle__num">06</span> 
							<span class="uix-progress-line__circle__title">Title</span> 
						</div> 
						<span class="uix-progress-line__bar"></span>



					</div>



				</div>
				<!-- .container end -->




			</section>
			
		</main>    
     
			
        
     
        @@include('./src/components/ES6/_global/include-copyright.html')
        
        
    </div>
    <!-- .uix-wrapper end -->
       
       
    @@include('./src/components/ES6/_global/include-footer.html')

