@@include('./src/components/ES5/_global/include-header.html')
     
  <body class="page">
  
  
          
    @@include('./src/components/ES5/_global/include-loader.html')
    @@include('./src/components/ES5/_global/include-toggle-trigger.html')
    
    

    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/ES5/_global/include-brand.html')
                        
                        @@include('./src/components/ES5/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder"></div>
      
       
    
       
       
        <!-- Content 01
        ====================================================== -->
        <section>
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h2>Fullwidth List of Split</h2>
                            
                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section>
     
       
    
       <!-- Content 02
        ====================================================== -->
		 <section class="uix-spacing--s uix-spacing--no-bottom">
		     <div class="uix-list-split-imagery">
					<div class="uix-list-split-imagery__img-container">
						<div class="imagery-background uix-list-split-imagery__img is-loaded uix-filter-hover--color">
							<img src="assets/images/demo/test-img-big-1.jpg" alt=""> 
						</div>
					</div>
					<div class="uix-list-split-imagery__info">
					    <div class="uix-v-align--relative">
							<h3>Style One</h3>
							<h4>Reach and grow your&nbsp;audience.</h4>
							<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. </p>

						</div>

					</div>
			 </div>
			 <!-- /.uix-list-split-imagery -->

		</section>

        
		 <section class="uix-spacing--s uix-spacing--no-bottom">
		     <div class="uix-list-split-imagery is-reversed">
					<div class="uix-list-split-imagery__img-container">
						<div class="imagery-background uix-list-split-imagery__img is-loaded uix-filter-hover--color">
							<img src="assets/images/demo/test-img-big-2.jpg" alt=""> 
						</div>
					</div>
					<div class="uix-list-split-imagery__info">
					    <div class="uix-v-align--relative">
							<h3>Style Two (Reversed)</h3>
							<h4>Reach and grow your&nbsp;audience.</h4>
							<p>Uix Kit provides you with a comprehensive set of marketing tools to engage with your audience, get found across search and social, and grow your&nbsp;following. </p>

						</div>

					</div>
			 </div>
			 <!-- /.uix-list-split-imagery -->

		</section>

         
           
   
        
        
        @@include('./src/components/ES5/_global/include-copyright.html')
        
        
    </div>
    <!-- .wrapper end -->
       
       
    @@include('./src/components/ES5/_global/include-footer.html')

