@@include('./src/components/_global/include-header.html')
     
  <body class="page">
  
  
          
    @@include('./src/components/_global/include-loader.html')
    @@include('./src/components/_global/include-toggle-trigger.html')
    
    

  
  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/_global/include-brand.html')
                        
                        @@include('./src/components/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder"></div>
      
      
     
        <!-- Content 01
        ====================================================== -->
        <section>
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h2>Pricing</h2>
                            
                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section>
     
       
    
       <!-- Content 02
        ====================================================== -->
        <section class="uix-spacing--m">
            <div class="container">
                    <div class="row">
                        <div class="col-12 uix-trans">
   
							<div class="uix-price">
							    <div class="row">

										<div class="col-lg-4 col-md-4 uix-price__outline--hover" data-bcolor="#DD514C" data-tcolor="#EC5E79">
											<div class="js-uix-init-height">
												<div class="uix-price__outline">
													<div class="uix-price__level">free</div>
													<div class="uix-price__num"><span class="uix-price__currency">$</span><span class="uix-price__num--im">49</span><span class="uix-price__period">per month</span></div>
													<div class="uix-price__excerpt">
														<p>Some description text here.</p>
													</div> 

													<div class="uix-t-c">
														<a href="#" class="uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary is-pill">TRY FOR FREE</a>  
													</div>


													<div class="uix-price__hr"></div>
													<div class="uix-price__detail">
														<ul>
															<li>Feature Description</li>
															<li>Another Feature Description</li>
															<li>Invalid Feature Description</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-4 col-md-4 uix-price__outline--hover" data-bcolor="#DD514C" data-tcolor="#EC5E79">
											<div class="js-uix-init-height">
												<div class="uix-price__outline active">
													<div class="uix-price__level">premium</div>
													<div class="uix-price__num"><span class="uix-price__currency">$</span><span class="uix-price__num--im">69</span><span class="uix-price__period">per month</span></div>
													<div class="uix-price__excerpt">
														<p>Some description text here.</p>
													</div> 

													<div class="uix-t-c">
														<a href="#" class="uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary is-pill">BUY</a>   
													</div>



													<div class="uix-price__hr"></div>
													<div class="uix-price__detail">
														<ul>
															<li>Feature Description</li>
															<li>Another Feature Description</li>
															<li>Another Feature Description</li>
															<li>Invalid Feature Description</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-4 col-md-4 uix-price__outline--hover" data-bcolor="#DD514C" data-tcolor="#EC5E79">
											<div class="js-uix-init-height">
												<div class="uix-price__outline">
													<div class="uix-price__level">professional</div>
													<div class="uix-price__num"><span class="uix-price__currency">$</span><span class="uix-price__num--im">109</span><span class="uix-price__period">per month</span></div>
													<div class="uix-price__excerpt">
														<p>Some description text here.</p>
													</div>


													<div class="uix-t-c">
														<a href="#" class="uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary is-pill">BUY</a>
													</div>   


													<div class="uix-price__hr"></div>

													<div class="uix-price__detail">
														<ul>
															<li>Feature Description</li>
															<li>Another Feature Description</li>
															<li>Another Feature Description</li>
															<li>Invalid Feature Description</li>
															<li>Another Feature Description</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
    
							    </div>
                                 <!-- .row end -->  

							</div>
							<!-- /.uix-price -->   
                      
                      
                       
                        </div>
                        <!-- .col-12 end -->
                    </div>
                    <!-- .row end -->
                    
             
            </div>
            <!-- .container end -->
            
            
            
 
        </section>
        
         
        
        
        
        
        @@include('./src/components/_global/include-copyright.html')
        
        
    </div>
    <!-- .wrapper end -->
       
       
    @@include('./src/components/_global/include-footer.html')

