/* ====================================================== 
   11. Back to Top                                               
/* ====================================================== */

#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 12px;
  right: 12px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border: none;
  text-indent: 100%;
  background: url(../images/back-top.png) no-repeat left top;
  z-index: 1;
}

#toTopHover {
  background: url(../images/back-top.png) no-repeat left -50px;
  width: 50px;
  height: 50px;
  display: block;
  overflow: hidden;
  float: left;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity = 0);
}

#toTop {
  &:active, &:focus {
    outline: none;
  }
}