
/* ====================================================== 
   25. Style of Irregular Shape                                        
/* ====================================================== */
.skew-element {
    -ms-transform: skew(0deg, -2deg); /* IE 9 */
    -webkit-transform: skew(0deg, -2deg); /* Chrome, Safari, Opera */
    transform: skew(0deg, -2deg);	
}
