
/* ====================================================== 
   29. Single Page        
/* ====================================================== */

/* Post edit link */
.post-edit-link {
	display: inline-block;
	background: #F9F9F9;
	padding: 0.175rem 0.4375rem;
	border: 1px solid #DDDDDD;
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px; 
	border-radius: 2px;
	text-decoration: none !important;
	margin-top: 1.09375rem;
}
