/* ====================================================== 
   34. Themes    
/* ====================================================== */
/*------- 34.1 White  --------*/

/* Navigation Area  */

.theme-white {
  ul.menu-main > li {
    > a {
      color: #fff;
    }
    &.active, &.current-menu-item, &:hover {
      -webkit-box-shadow: 0 1.15px 0 rgba(255, 255, 255, 1);
      -moz-box-shadow: 0 1.15px 0 rgba(255, 255, 255, 1);
      box-shadow: 0 1.15px 0 rgba(255, 255, 255, 1);
    }
    > .nav-arrow {
      background-color: #fff;
    }
  }
  .header-area {
    background-color: rgba(255, 255, 255, 0.15);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    &.spy-scroll-fixed {
      background-color: #DA304A;
    }
    .menu-right a {
      color: #fff;
    }
  }
}

/* Header Area   */