/* ======================================================
    <!-- Form ( Layout )- -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/mixins';
@import '@uixkit/core/_global/scss/functions';
@import '@uixkit/core/_global/scss/variables';@import '_variable-and-mixin.scss';

.uix-controls-layout {

    .uix-controls-layout__content {

        .uix-controls-layout__content__inner {

            > div {
                &:first-child {
                    margin-right: auto;
                    margin-left: 1.5rem;
                }
            }
        }


    }   

    .uix-controls-layout__icon {
        margin-left: auto;
        margin-right: 1rem;
    }
}  



@media all and (max-width: 768px) {
    
    .uix-controls-layout {

        .uix-controls-layout__content {

            .uix-controls-layout__content__inner {

                > div {
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }


        }

    }  
}