<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
	<meta charset="@@{website_charset}" />
	<title>Form Progress - @@{website_title}</title>	
	@@include('./src/components/ES5/_global/include-header.html')
</head>  

     
  <body class="page">
  
  
          
    @@include('./src/components/ES5/_global/include-loader.html')
    @@include('./src/components/ES5/_global/include-toggle-trigger.html')
    
    

    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/ES5/_global/include-brand.html')
                        
                        @@include('./src/components/ES5/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder"></div>
      
       
		<main id="uix-maincontent">
			
			<!-- Content 
			====================================================== -->
			<section>
				<div class="container uix-t-c">
						<div class="row">
							<div class="col-md-8 offset-md-2">
								<h2>Form Progress</h2>

							</div>
						</div>
						<!-- .row end -->


				</div>
				<!-- .container end -->

			</section>



		   <!-- Content 
			====================================================== -->
			<section class="uix-spacing--m">
				<div class="container">
						<div class="row">
							<div class="col-md-8 offset-md-2">


									<div class="uix-form-progress">
										<div class="uix-form-progress__indicator"><span>Step 1</span></div>
										<div class="uix-form-progress__indicator"><span>Step 2</span></div>
										<div class="uix-form-progress__indicator"><span>Step 3</span></div>
										<div class="uix-form-progress__indicator"><span>Step 4</span></div>
										<div class="uix-form-progress__line"><span></span></div>
									</div>
									<!-- /.uix-form-progress -->


									<div class="uix-form-progress__target" data-anime-speed="0.2s">

										<form method="post" action="#">

											<!-- Step -->
											<div class="uix-form-progress__target__step">

												<div class="uix-form-progress__content">

													<!-- ////////////  content begin  ////////////-->
													<h4>Step 1</h4>


													<div class="uix-controls is-fullwidth">
													  <input type="text" class="js-uix-float-label" name="label-1">
													  <label>Label 1</label>
													</div>

													<div class="uix-controls is-fullwidth">
													  <input type="text" class="js-uix-float-label" name="label-2">
													  <label>Label 2</label>
													</div>

													<div class="uix-controls">
													  <a href="javascript:void(0);" class="uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary go-step">Next</a>
													</div>  

													<!-- ////////////  content end  ////////////-->


												</div>
												<!-- /.uix-form-progress__content -->



											</div>

											<!-- Step -->
											<div class="uix-form-progress__target__step">

												<div class="uix-form-progress__content">

													<!-- ////////////  content begin  ////////////-->

													<h4>Step 2</h4>

													<div class="uix-controls is-fullwidth">
													  <input type="text" class="js-uix-float-label" name="label-1">
													  <label>Label 1</label>
													</div>

													<div class="uix-controls">
													  <a href="javascript:void(0);" class="uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary go-step">Next</a>
													</div>     

													<!-- ////////////  content end  ////////////-->

												</div>
												<!-- /.uix-form-progress__content -->



											</div>

											<!-- Step -->
											<div class="uix-form-progress__target__step">

												<div class="uix-form-progress__content">
													<!-- ////////////  content begin  ////////////-->
													<h4>Step 3</h4>

													<div class="uix-controls is-fullwidth">
													  <input type="text" class="js-uix-float-label" name="label-1">
													  <label>Label 1</label>
													</div>

													<div class="uix-controls is-fullwidth">
													  <input type="text" class="js-uix-float-label" name="label-2">
													  <label>Label 2</label>
													</div>

													<p>This is demo.</p>
													<p>This is demo.</p>

													<div class="uix-controls">
													  <a href="javascript:void(0);" class="uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary go-step">Next</a>
													</div>  
													<!-- ////////////  content end  ////////////-->


												</div>
												<!-- /.uix-form-progress__content -->




											</div>

											<!-- Step -->
											<div class="uix-form-progress__target__step">

												<div class="uix-form-progress__content">

													<!-- ////////////  content begin  ////////////-->
													<h4>Step 4</h4>

													<div class="uix-controls is-fullwidth">
													  <input type="text" class="js-uix-float-label" name="label-1">
													  <label>Label 1</label>
													</div>

													<div class="uix-controls is-fullwidth">
													  <input type="text" class="js-uix-float-label" name="label-2">
													  <label>Label 2</label>
													</div>

													<div class="uix-controls">
													  <button type="submit" class="uix-btn uix-btn__border--thin uix-btn__margin--r uix-btn__size--s uix-btn__bg--primary">Submit</button>
													  <a href="javascript:void(0);" class="go-reset">Reset</a>
													</div>  
													<!-- ////////////  content end  ////////////-->


												</div>
												<!-- /.uix-form-progress__content -->




											</div>


										</form>	

									</div>
									<!-- /.uix-form-progress__target -->



							</div>
						</div>
						<!-- .row end -->


				</div>
				<!-- .container end -->

			</section>


			
		</main>
       
       
			
           
   
        
        
        @@include('./src/components/ES5/_global/include-copyright.html')
        
        
    </div>
    <!-- .uix-wrapper end -->
       
       
    @@include('./src/components/ES5/_global/include-footer.html')

