@@include('./src/components/ES5/_global/include-header.html')
     
  <body class="page">
  
  
          
    @@include('./src/components/ES5/_global/include-loader.html')
    @@include('./src/components/ES5/_global/include-toggle-trigger.html')
    
    

  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/ES5/_global/include-brand.html')
                        
                        @@include('./src/components/ES5/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder"></div>
      
    
        
        
       <!-- Content 01  
        ====================================================== -->
        <section>
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h2>Overlay</h2>
							<p>Create an image overlay effect.</p>
                            

                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section>
        
        
        
       <!-- Content 02 
        ====================================================== -->
        <section class="uix-spacing--m">
            <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                           
                           
							
							<div class="row">
								<div class="col-lg-6 col-md-6">
									
									<div class="uix-relative--inline uix-relative--inline-clip">
										<img src="assets/images/demo/test-img-big-1.jpg" alt="" />
										<div class="uix-overlay uix-overlay--white">
											<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
										</div>
									</div>
									
									
									
								</div>
								<div class="col-lg-6 col-md-6">
									
									<div class="uix-relative--inline uix-relative--inline-clip">
										<img src="assets/images/demo/test-img-big-2.jpg" alt="" />
										<div class="uix-overlay uix-overlay--black">
											<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
										</div>
									</div>
									

									
								</div>
							</div>
							

							
                            <hr>

                           
							
							<div class="row">
								<div class="col-lg-6 col-md-6">
						
									<div class="uix-relative--inline uix-relative--inline-clip">
										<img src="assets/images/demo/test-img-big-3.jpg" alt="" />
										<div class="uix-overlay uix-overlay--black uix-overlay--cover">
											<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
										</div>
									</div>	
									
									
								</div>
								<div class="col-lg-6 col-md-6">
	
									<div class="uix-relative--inline uix-relative--inline-clip">
										<img src="assets/images/demo/test-img-big-4.jpg" alt="" />
										<div class="uix-overlay uix-overlay--black uix-dir--top">
											<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
										</div>
									</div>	
										
									
									
								</div>
							</div>
							
                         
                         
                            <hr>

                           
							
							<div class="row">
								<div class="col-lg-6 col-md-6">
						
									<div class="uix-relative--inline uix-relative--inline-clip">
										<img src="assets/images/demo/test-img-big-3.jpg" alt="" />
										<div class="uix-overlay uix-overlay--black uix-overlay--cover">
										
										    <div class="uix-v-align--table">
										        <div>
										        
													<p>Vertically Center</p>

												</div>
											</div>
			
										</div>
									</div>		
										
									
								</div>
								<div class="col-lg-6 col-md-6">
	
							
								</div>
							</div>
							
			
                          
                           
                        </div>
                    </div>
                    <!-- .row end -->
           
                    
            </div>
            <!-- .container end -->
 
        </section>   

     
        
        
        @@include('./src/components/ES5/_global/include-copyright.html')
        
        
    </div>
    <!-- .uix-wrapper end -->
       
       
    @@include('./src/components/ES5/_global/include-footer.html')

