<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
	<meta charset="@@{website_charset}" />
	<title>Heading - @@{website_title}</title>	
	@@include('./src/components/ES6/_global/include-header.html')
</head>  

     
  <body class="page">
  
  
          
    @@include('./src/components/ES6/_global/include-loader.html')
    @@include('./src/components/ES6/_global/include-toggle-trigger.html')
    
    

  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/ES6/_global/include-brand.html')
                        
                        @@include('./src/components/ES6/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder js-uix-header__placeholder-autoheight"></div>
      
		<main id="uix-maincontent">
			
			
		   <!-- Content 
			====================================================== -->
			<section class="uix-spacing--s">
				<div class="container">
						<div class="row">
							<div class="col-12">


								  <h3 class="uix-heading--pinline"><span>Header Pinline</span></h3>	
								  <h3 class="uix-heading--pinline"><span>I'm a full-stack designer on the way of pursuing the dream. Focus on user interface, user experience</span></h3>	
								  <h3 class="uix-heading--pinline uix-heading--pinline--left"><span>Header Pinline</span></h3>	
								  <h3 class="uix-heading--pinline uix-heading--pinline--right"><span>Header Pinline</span></h3>

								  <br><br>

								  <h2 class="uix-heading--overlay" data-text="EFFECT"><em>Text Overlay 1</em></h2>

								  <br><br>


								  <h2 class="uix-heading--overlay uix-heading--overlay--bottom" data-text="EFFECT"><em>Text Overlay 2</em></h2>

								  <br><br>


								  <h2 class="uix-heading--overlay uix-heading--overlay--bottom uix-heading--overlay--sub" data-text="EFFECT"><em>Text Overlay 3</em></h2>

								  <br><br>            


								  <h2 class="uix-heading--fill" data-bg='{"src":"assets/images/demo/test-img-big-4.jpg","position":"top left","size":"cover","repeat":"no-repeat","fill":true,"parallax":0}'>SHOW IMAGE UNDER TEXT</h2> 

								  <br><br>

								  <h2 class="uix-heading--underline"><span>My Custom Underline</span></h2> 

								  <br><br>

								  <h2 class="uix-heading--hybrid">Hybrid Heading<span>Should I make design before or after sobering?</span></h2>  


								  <br><br>

								  <h2 class="uix-heading--placeholder-line">Placeholder Line Heading</h2>  





							</div>
						</div>
						<!-- .row end -->


				</div>
				<!-- .container end -->

			</section>   


			
		</main>
		
		

      
        
        @@include('./src/components/ES6/_global/include-copyright.html')
        
        
    </div>
    <!-- .uix-wrapper end -->
       
       
    @@include('./src/components/ES6/_global/include-footer.html')

