<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
	<meta charset="@@{website_charset}" />
	<title>Cascading DropDown List - @@{website_title}</title>	
	@@include('./src/components/_global/include-header.html')
</head>  

     
  <body class="page">
  
  
    @@include('./src/components/_global/include-loader.html')
    @@include('./src/components/_global/include-toggle-trigger.html')
    
    
  
  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/_global/include-brand.html')
                        
                        @@include('./src/components/_global/include-menu.html')
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder js-uix-header__placeholder-autoheight"></div>
      
		<main id="uix-maincontent">
			
			<!-- Content 
			====================================================== -->
			<section class="uix-spacing--s uix-spacing--no-bottom">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h3>Cascading DropDown List</h3>
							<p>Create a dynamic dropdown form that loads its data from a JSON file. Support infinite recursion.</p>
							<hr>
							
							
						</div>
					</div>
					<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>


			


		   <!-- Content 
			====================================================== -->
			<section class="uix-spacing--s">
				<div class="container">
						<div class="row">
							<div class="col-12">
                                
                                    <h4>Empty value</h4>

                                    <!-- control begin -->
                                    <div 
                                        class="uix-cascading-dropdown-list" 
                                        data-cascading-dd-json="assets/json/dropdown-list.json" 
                                        data-cascading-dd-method="GET"
										data-cascading-dd-loading-tmpl="<div>loading...</div>"
                                    >
                                        <input class="uix-cascading-dropdown-list__res" name="myname1" type="hidden" value=""/>
                                        <a role="button" href="#" class="uix-cascading-dropdown-list__trigger" style="border: 1px solid #dadcdf;padding: 0.25rem 1rem;border-radius: 25px;font-size: .875rem;">Select</a>
                                    </div>
                                    <!-- control end -->
                                    
								
							</div>
							<!-- .col-12 end -->
						</div>
						<!-- .row end -->


				</div>
				<!-- .container end -->


			</section>

            
            
		   <!-- Content 
			====================================================== -->
			<section class="uix-spacing--s">
				<div class="container">
						<div class="row">
							<div class="col-12">
                                
                                    <h4>The default value is specified</h4>

                                    <!-- control begin -->
                                    <div 
                                        class="uix-cascading-dropdown-list" 
                                        data-cascading-dd-json="assets/json/dropdown-list.json" 
                                        data-cascading-dd-method="GET"
										data-cascading-dd-loading-tmpl="<div>loading...</div>"
                                    >
                                        <input class="uix-cascading-dropdown-list__res" name="myname2" type="hidden" value="1_2"/>
                                        <a role="button" href="#" class="uix-cascading-dropdown-list__trigger" style="border: 1px solid #dadcdf;padding: 0.25rem 1rem;border-radius: 25px;font-size: .875rem;">Select</a>
                                    </div>
                                    <!-- control end -->

								
							</div>
							<!-- .col-12 end -->
						</div>
						<!-- .row end -->


				</div>
				<!-- .container end -->


			</section>

            
            
            
		

		   <!-- Content 
			====================================================== -->
			<section class="uix-spacing--s">
				<div class="container">
						<div class="row">
							<div class="col-12">
                                
                                    <h4>Show city list of China as per state select in dropdown select box</h4>
									
                                    <!-- control begin -->
                                    <div 
                                        class="uix-cascading-dropdown-list" 
                                        data-cascading-dd-json="assets/json/province-city-china-level.json" 
                                        data-cascading-dd-method="GET"
										data-cascading-dd-loading-tmpl="<div>loading...</div>"
                                    >
                                        <input class="uix-cascading-dropdown-list__res" name="myname3" type="hidden" value=""/>
                                        <a role="button" href="#" class="uix-cascading-dropdown-list__trigger" style="border: 1px solid #dadcdf;padding: 0.25rem 1rem;border-radius: 25px;font-size: .875rem;">Select Province</a>
                                    </div>
                                    <!-- control end --> 

                                    <br><br><br><br><br><br>

								
							</div>
							<!-- .col-12 end -->
						</div>
						<!-- .row end -->


				</div>
				<!-- .container end -->


			</section>
            
            
            
			
			
		</main>
		
     
			

        
        @@include('./src/components/_global/include-copyright.html')
        
        
    </div>
    <!-- .uix-wrapper end -->
       
		

       
       
    @@include('./src/components/_global/include-footer.html')

