/* ====================================================== 
    <!-- Flexslider -->  
/* ====================================================== */

/* 
 ---------------------------
 1) Thumbnail ControlNav Pattern 
 ---------------------------
 */ 
.custom-theme-flexslider-thumbs {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	width: 100%;
	overflow: hidden;
	overflow-x: auto;
	white-space: nowrap;
	margin-top: 1.5rem;
	
	
	&::-webkit-scrollbar-track {
		border-radius: 0px;
		background-color: #E6E3E3;
	}

	&::-webkit-scrollbar {
		height: 5px;
		background-color: $highlight-color1;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 0px;
		background-color: $highlight-color1;
	}

	ul {

		margin: 0;
		padding: 0;


		li {
			width: 100px;
			max-height: 100px;
			display: inline-block;
			cursor: pointer;
			margin-right: 10px;
			margin-bottom: 10px;
			padding: 0;
			transform: scale(.9);

			&.active {
				transform: scale(1);
			}


			img {

				box-shadow: 0px 6px 11px 1px rgba(0,0,0,0.15);
			}

		}	
	}


}

/* 
 ---------------------------
 2) Default Slideshow        
 ---------------------------
 */ 
.custom-theme-flexslider, .custom-theme-flex-viewport {
	transition: .1s ease;
}

.custom-theme-flexslider {
	margin: 0;
	padding: 0;
	position: relative;
	zoom: 1;
	width: 100%;
	overflow: hidden;
	z-index: 0;
}

.custom-theme-flex-viewport {
    max-height: 200vh;
}

.custom-theme-flexslider .custom-theme-slides {
	> .item {
		display: none;
		-webkit-backface-visibility: hidden;
		position: relative;

	}
	img {
		max-width: 100%;
		display: block;
		border: none;
		box-shadow: none;
		margin: 0;
		padding: 0;
	}
}

html[xmlns] .custom-theme-flexslider .custom-theme-slides {
    display: block;
}

* html .custom-theme-flexslider .custom-theme-slides {
    height: 1%;
}

.no-js .custom-theme-flexslider .custom-theme-slides > .item:first-child {
    display: block;
}

.custom-theme-flexslider .custom-theme-slides {
	zoom: 1;
	
	img {
		height: auto;
		width: 100%;
	}
}

/*----- Left and right arrows by default -----*/
.custom-theme-flex-direction-nav {
	
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	
	
	.custom-theme-flex-prev {
	    left: -100px;
	}
	.custom-theme-flex-next {
		right: -100px;
		text-align: right;
	}
	
	li {
		margin: 0;
		padding: 0;
		list-style: none;
		position: relative;
		
		a {
			display: block;
			z-index: 9;
			position: absolute;
			top: 50%;
			height: 40px;
			margin-top: -20px;
			line-height: 40px;
			width: 50px;
			text-align: center;
			opacity: 0.8;
			color: #fff;
			font-size: 1.3125rem;
			opacity: 0.66;

			&:hover {
				opacity: 1;
				color: #fff;
				text-decoration: none;
			}
		}
	}
}

.custom-theme-flexslider:hover a {
	&.custom-theme-flex-prev {
	    left: 0;
	}
	&.custom-theme-flex-next {
	    right: 20px;
	}
}

/*----- Pagination dots -----*/
.custom-theme-flex-control-nav.custom-theme-flex-control-paging {
	list-style: none;
	left: 0;
	bottom: 0;
	font-size: 0;/*Fighting the Space Between Inline Block Elements*/
	display: block;
	width: 100%;
	text-align: center; /*require*/
	position: absolute;

	li {
		font-size: 16px;/*Fighting the Space Between Inline Block Elements*/
		display: inline-block; /*require*/
		margin: 0 .2rem;

		a {
			width: 12px;
			height: 12px;
			display: block;
			background: rgba(255, 255, 255, 0.5);
			cursor: pointer;
			text-indent: -9999px;
			border-radius: 20px;
			box-shadow: 0px 6px 23px -2px rgba(0, 0, 0, 0.36);

			&:hover, 
			&.custom-theme-flex-active {
				background: rgba(255, 255, 255, 1);
				width: 25px;
			}
		}	

	}

}

/* Custom Style */
.custom-controls-container {
	.custom-theme-flex-control-nav.custom-theme-flex-control-paging {
		
		position: relative;
		transform: translateY(.5rem);
		
		li {
			a {
				background: rgba(233, 47, 22, 0.5);

				&:hover, 
				&.custom-theme-flex-active {
					background: rgba(233, 47, 22, 1);
				}
			}	
			
	    }

	}
}


/*----- Thumbnail -----*/
.custom-theme-flex-control-thumbs {
	margin: 5px 0 0;
	position: static;
	overflow: hidden;
	
	li {
		width: 25%;
		float: left;
		margin: 0;
	}
	img {
		width: 100%;
		height: auto;
		display: block;
		opacity: .7;
		cursor: pointer;
		transition: .1s ease;
		
		&:hover {
			opacity: 1;
		}
	}
	.custom-theme-flex-active {
		opacity: 1;
		cursor: default;
	}
}


/*----- Left and right arrows by Custom Controls -----*/
.custom-navigation {
	display: table;
	width: 100%;
	table-layout: fixed;
	margin-top: 1.75rem;
	
	
	&.custom-navigation-thumb {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: calc(100% - 30px);
		
		
	}
	
	.thumb {
		@include transition-default();
		width: 100px;
		height: 100px;
		border-radius: 50%;
		display: inline-block;
		overflow: hidden;
		transform: scale(.7);
		opacity: .5;
		@include outer-shadow();
		
		img {
			width: 100%;
			height: 100%;
		}
	}
	
	
	> {
		* {
			display: table-cell;
		}
		a {
			width: 50px;
			
			&:hover {
				.thumb {
					transform: scale(1);
					opacity: 1;
				}
			}	

		}
	}
	
	.custom-theme-flex-prev {
		&.custom-theme-flex-disabled {
			visibility: hidden;
			
		}
		
	}
	.custom-theme-flex-next {
		
		text-align: right;
		
		&.custom-theme-flex-disabled {
			visibility: hidden;
		}	
		
	
		
	}

}


/*----- Next/Prev Image Thumbnail In Navigation -----*/
.custom-prevnext-thumb-nav {
	display: table;
	width: 100%;
	table-layout: fixed;
	margin-top: 1.75rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: calc(100% - 30px);

	
	a > span {
		@include transition-default();
		width: 100px;
		height: 100px;
		border-radius: 50%;
		display: inline-block;
		overflow: hidden;
		transform: scale(.7);
		opacity: .5;
		@include outer-shadow();
		
		img {
			width: 100%;
			height: 100%;
		}
	}
	
	
	> {
		* {
			display: table-cell;
		}
		a {
			width: 50px;
			
			&:hover {
				> span {
					transform: scale(1);
					opacity: 1;
				}
			}	

		}
	}
	
	.thumb-prev {
		&.disabled {
			display: none;
		}
		
	}
	.thumb-next {
		
		text-align: right;
		
		&.disabled {
			display: none;
		}	
		
	
		
	}

}



/*----- Timeline -----*/
.custom-timeline-nav {
	
	height: 3px;
	position: relative;
	width: 100%;
	background: rgba(0,0,0,.1);
	margin: 1rem 0;
	
	> span {
		display: block;
		width: 0;
		height: 100%;
		background: $highlight-color1;
		@include transition-default();
	}
	
}


/* 
 ---------------------------
 3) Primary Slideshow  (with dynamic min/max ranges )      
 ---------------------------
 */ 
.custom-theme-flexslider.custom-itemgrid {
	
	.item {
		transition: .1s ease;
		opacity: 0.2;

		&.custom-theme-flex-active-slide {
			opacity: 1;
		}
	}
	
	
}
	
@media all and (max-width: 768px) {
	.custom-theme-flexslider.custom-itemgrid {

		.item {
			opacity: 1;
		}


	}
		
}

	
	
/* 
 ---------------------------
 4) Primary Slideshow    
 ---------------------------
 */ 
.custom-theme-flexslider.custom-primary-flexslider {
	overflow: hidden;

	
	/* Full Screen Slider
	 * You need add an attribute "data-slider-bg" to ".item"
	*/
	&.fullscreen {
		min-height: 100vh;
		
		img {
			height: 100vh;
			visibility: hidden;
		}
	}

	.custom-theme-slides {

		> .item {

			background-size: cover;
			background-repeat: no-repeat;
			position: relative;

			.slides-info {
				position: absolute;
				top: 0;
				left: 0;
				color: white;
				width: 100%;
				/* Vertical Center */
				top: 50%;
				transform: translateY(-50%);

				.container {

					.level {
						animation-delay: .5s;
						animation-duration: .6s;
						animation-fill-mode: both;
						animation-name: fadeOutLeft;
					}
					.level-1, 
					.level-2 {
						color: #fff;
					}
				}
			}

			&.custom-theme-flex-active-slide {

				.slides-info .container {

					.level {
						animation-delay: .4s;
						animation-duration: .6s;
						animation-fill-mode: both;
						animation-name: fadeInLeft;
					}

					.level-1 {
						animation-delay: .4s;
					}
					.level-2 {
						animation-delay: .5s;
					}
					.level-3 {
						animation-delay: .6s;
					}  

				}
			}
		}
	}
}

@media all and (max-width: 991px) {
	
	.custom-theme-flexslider.custom-primary-flexslider .custom-theme-slides > .item {

		.slides-info {

			.container {
				.level-1 {
					font-size: 7vw !important;
					line-height: 7vw !important;
					margin-bottom: 0;
					line-height: 1.2 !important;
					
				}
				.level-2 {
					font-size: 4vw !important;
					line-height: 4vw !important;
				}
			}

		}

	}
}

@media all and (max-width: 768px) {

	.custom-theme-flexslider.custom-primary-flexslider {
		
		&.fullscreen {
			min-height: inherit;
			
			img {
				height: auto;
			}
		}	
			
		
		.custom-theme-slides > .item .button {
			font-size: 2vw !important;
		}

		
	}
}



@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}


@keyframes fadeOutLeft {
	0% {
	    opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}
}



/* 
 ---------------------------
 5) Parallax Slideshow                
 ---------------------------
 */ 
.custom-theme-flexslider.custom-parallax-flexslider {
	max-height: 100vh;
	overflow: hidden;

	img {
	    max-height: 100vh;
	}

	.custom-theme-slides {

		> .item {

			background-size: cover;
			background-repeat: no-repeat;
			position: relative;
			
			img {
				max-height: calc( 100% - 2rem );
			}

			.level {
				position: absolute;
				transition: all 1.5s ease; /* Note: The duration can not be less than 1.5 */
				width: auto;
				box-shadow: 0px 0px 34px -6px rgba(0,0,0,0.55);
				transform: translateY(-50%);
				top: 50%;
			}

			.level-1 {
				left: 55%;
				z-index: 3;
			}

			.level-2 {
				left: 30%;
				z-index: 2;
			}

			&.left {
				.level-1 {
					transform: translate(-300px,-50%);
				}
				.level-2 {
					transform: translate(-50px,-50%);
				}	
			}

			&.right {
				.level-1 {
					transform: translate(300px,-50%);
				}
				.level-2 {
					transform: translate(50px,-50%);
				}	
			}		

		}
		
	}
}


