@@include('./src/components/ES5/_global/include-header.html')
     
  <body class="page">
  
  
          
    @@include('./src/components/ES5/_global/include-loader.html')
    @@include('./src/components/ES5/_global/include-toggle-trigger.html')
    
    

    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/ES5/_global/include-brand.html')
                        
                        @@include('./src/components/ES5/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder"></div>
      
       
    
       
       
        <!-- Content 01
        ====================================================== -->
        <section>
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h2>Fullwidth List of Split 2</h2>
                            
                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section>
     
       
    
       <!-- Content 02
        ====================================================== -->
		 <section class="uix-spacing--s uix-spacing--no-bottom">

		     <div class="uix-list-split-full">
					<div class="uix-list-split-full__left">

						<h3>Title Here</h3>
						
					</div>
					<!-- /.uix-list-split-full__left -->
					
					
					<div class="uix-list-split-full__right uix-typo--color-white">

					    <br>
						<p>Uix Kit provides you with a comprehensive set of marketing tools to engage with your audience, get found across search and social, and grow your&nbsp;following.</p>

					</div>
					<!-- /.uix-list-split-full__right -->
					
			 </div>
			 <!-- /.uix-list-split-full -->
		

		</section>

       
    
        
        
        @@include('./src/components/ES5/_global/include-copyright.html')
        
        
    </div>
    <!-- .wrapper end -->
       
       
    @@include('./src/components/ES5/_global/include-footer.html')

