@@include('./src/components/ES5/_global/include-header.html')
     
  <body class="page">
  
  
          
    @@include('./src/components/ES5/_global/include-loader.html')
    @@include('./src/components/ES5/_global/include-toggle-trigger.html')
    
    

  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/ES5/_global/include-brand.html')
                        
                        @@include('./src/components/ES5/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder"></div>
      
    
        
        
       <!-- Content 01  
        ====================================================== -->
        <section>
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h2>Dividing Line</h2>
							<p>You can control the styling and color. </p>

                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section>
        
        
        
       <!-- Content 02 
        ====================================================== -->
        <section class="uix-spacing--m">
            <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">

							<p><code>&lt;hr&gt;</code></p>
							<hr>
							<p>solid line</p>
							<div class="uix-separator-base uix-separator-base--solid"></div>
							<p>double line</p>
							<div class="uix-separator-base uix-separator-base--double"></div>
							<p>dashed line</p>
							<div class="uix-separator-base uix-separator-base--dashed"></div>
							<p>dotted line</p>
							<div class="uix-separator-base uix-separator-base--dotted"></div>
							<p>shadow line</strong></p>
							<div class="uix-separator-shadow"><span><i ></i></span></div>
							<p>gradient line</strong></p>
							<div class="uix-separator-gradient"></div>

                        </div>
                    </div>
                    <!-- .row end -->
           
                    
            </div>
            <!-- .container end -->
 
        </section>   

    
        
       <!-- Content 02 
        ====================================================== -->
        <section class="uix-spacing--m">
            <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">

                            <div class="uix-t-c uix-typo--color-white" style="background: #333; padding: 1.5rem 0 0; margin-top: 1rem;">
                                <p><code>&lt;hr class=&quot;black&quot;&gt;</code></p>
                                <hr class="black">
								<p>solid line</p>
								<div class="uix-separator-base uix-separator-base--solid uix-separator-base--black"></div>
								<p>double line</p>
								<div class="uix-separator-base uix-separator-base--double uix-separator-base--black"></div>
								<p>dashed line</p>
								<div class="uix-separator-base uix-separator-base--dashed uix-separator-base--black"></div>
								<p>dotted line</p>
								<div class="uix-separator-base uix-separator-base--dotted uix-separator-base--black"></div>
								<p>shadow line</strong></p>
								<div class="uix-separator-shadow uix-separator-shadow--black"><span><i ></i></span></div>
								<p>gradient line</strong></p>
								<div class="uix-separator-gradient uix-separator-gradient--black"></div>
								
								<br>
  
                            
							</div>
						
						

                        </div>
                    </div>
                    <!-- .row end -->
           
                    
            </div>
            <!-- .container end -->
 
        </section>        
        
        
        @@include('./src/components/ES5/_global/include-copyright.html')
        
        
    </div>
    <!-- .uix-wrapper end -->
       
       
    @@include('./src/components/ES5/_global/include-footer.html')

