@@include('./src/components/_global/include-header.html')
     
  <body class="page">
  
  
          
    @@include('./src/components/_global/include-loader.html')
    @@include('./src/components/_global/include-toggle-trigger.html')
    
    

  
  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/_global/include-brand.html')
                        
                        @@include('./src/components/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clear"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder"></div>
      
      
        <!-- Content 01
        ====================================================== -->
        <section>
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h2>Social Media Icons</h2>
                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section>
     
       
    
       <!-- Content 02
        ====================================================== -->
        <section class="uix-spacing--m uix-spacing--no-bottom">
            <div class="container">
                    
				<div class="row">
					<div class="col-lg-6 col-md-6">
											
						<!-- ///////  -->				
						<a href="#" class="uix-social-btn uix-social-btn--large"><i class="fa fa-facebook"></i></a>
						<a href="#" class="uix-social-btn uix-social-btn--large"><i class="fa fa-twitter"></i></a>
						<a href="#" class="uix-social-btn uix-social-btn--large"><i class="fa fa-google-plus"></i></a>
						<a href="#" class="uix-social-btn uix-social-btn--large"><i class="fa fa-dribbble"></i></a>
				
				        <hr>
				        
				        <!-- ///////  -->
						<a href="#" class="uix-social-btn uix-social-btn--medium"><i class="fa fa-facebook"></i></a>
						<a href="#" class="uix-social-btn uix-social-btn--medium"><i class="fa fa-twitter"></i></a>
						<a href="#" class="uix-social-btn uix-social-btn--medium"><i class="fa fa-google-plus"></i></a>
						<a href="#" class="uix-social-btn uix-social-btn--medium"><i class="fa fa-dribbble"></i></a>
						
			            <hr>
			        
				        <!-- ///////  -->
						<a href="#" class="uix-social-btn uix-social-btn--small"><i class="fa fa-facebook"></i></a>
						<a href="#" class="uix-social-btn uix-social-btn--small"><i class="fa fa-twitter"></i></a>
						<a href="#" class="uix-social-btn uix-social-btn--small"><i class="fa fa-google-plus"></i></a>
						<a href="#" class="uix-social-btn uix-social-btn--small"><i class="fa fa-dribbble"></i></a>	
						
						<hr>
						
				
				
						<!-- ///////  -->				
						<a href="#" class="uix-social-btn uix-social-btn--large uix-social-btn--thin"><i class="fa fa-facebook"></i></a>
						<a href="#" class="uix-social-btn uix-social-btn--large uix-social-btn--thin"><i class="fa fa-twitter"></i></a>
						<a href="#" class="uix-social-btn uix-social-btn--large uix-social-btn--thin"><i class="fa fa-google-plus"></i></a>
						<a href="#" class="uix-social-btn uix-social-btn--large uix-social-btn--thin"><i class="fa fa-dribbble"></i></a>
				
				        <hr>
				        
				        <!-- ///////  -->
						<a href="#" class="uix-social-btn uix-social-btn--medium uix-social-btn--thin"><i class="fa fa-facebook"></i></a>
						<a href="#" class="uix-social-btn uix-social-btn--medium uix-social-btn--thin"><i class="fa fa-twitter"></i></a>
						<a href="#" class="uix-social-btn uix-social-btn--medium uix-social-btn--thin"><i class="fa fa-google-plus"></i></a>
						<a href="#" class="uix-social-btn uix-social-btn--medium uix-social-btn--thin"><i class="fa fa-dribbble"></i></a>
						
			            <hr>
			        
				        <!-- ///////  -->
						<a href="#" class="uix-social-btn uix-social-btn--small uix-social-btn--thin"><i class="fa fa-facebook"></i></a>
						<a href="#" class="uix-social-btn uix-social-btn--small uix-social-btn--thin"><i class="fa fa-twitter"></i></a>
						<a href="#" class="uix-social-btn uix-social-btn--small uix-social-btn--thin"><i class="fa fa-google-plus"></i></a>
						<a href="#" class="uix-social-btn uix-social-btn--small uix-social-btn--thin"><i class="fa fa-dribbble"></i></a>	
						
						<hr>
						
				
				
						<!-- ///////  -->				
						<a href="#" class="uix-social-btn uix-social-btn--large uix-social-btn--circle"><i class="fa fa-facebook"></i></a>
						<a href="#" class="uix-social-btn uix-social-btn--large uix-social-btn--circle"><i class="fa fa-twitter"></i></a>
						<a href="#" class="uix-social-btn uix-social-btn--large uix-social-btn--circle"><i class="fa fa-google-plus"></i></a>
						<a href="#" class="uix-social-btn uix-social-btn--large uix-social-btn--circle"><i class="fa fa-dribbble"></i></a>
				
				        <hr>
				        
				        <!-- ///////  -->
						<a href="#" class="uix-social-btn uix-social-btn--medium uix-social-btn--circle"><i class="fa fa-facebook"></i></a>
						<a href="#" class="uix-social-btn uix-social-btn--medium uix-social-btn--circle"><i class="fa fa-twitter"></i></a>
						<a href="#" class="uix-social-btn uix-social-btn--medium uix-social-btn--circle"><i class="fa fa-google-plus"></i></a>
						<a href="#" class="uix-social-btn uix-social-btn--medium uix-social-btn--circle"><i class="fa fa-dribbble"></i></a>
						
			            <hr>
			        
				        <!-- ///////  -->
						<a href="#" class="uix-social-btn uix-social-btn--small uix-social-btn--circle"><i class="fa fa-facebook"></i></a>
						<a href="#" class="uix-social-btn uix-social-btn--small uix-social-btn--circle"><i class="fa fa-twitter"></i></a>
						<a href="#" class="uix-social-btn uix-social-btn--small uix-social-btn--circle"><i class="fa fa-google-plus"></i></a>
						<a href="#" class="uix-social-btn uix-social-btn--small uix-social-btn--circle"><i class="fa fa-dribbble"></i></a>	
						
						<hr>
						
				
				
						<!-- ///////  -->				
						<a href="#" class="uix-social-btn uix-social-btn--large uix-social-btn--circle uix-social-btn--thin"><i class="fa fa-facebook"></i></a>
						<a href="#" class="uix-social-btn uix-social-btn--large uix-social-btn--circle uix-social-btn--thin"><i class="fa fa-twitter"></i></a>
						<a href="#" class="uix-social-btn uix-social-btn--large uix-social-btn--circle uix-social-btn--thin"><i class="fa fa-google-plus"></i></a>
						<a href="#" class="uix-social-btn uix-social-btn--large uix-social-btn--circle uix-social-btn--thin"><i class="fa fa-dribbble"></i></a>
				
				        <hr>
				        
				        <!-- ///////  -->
						<a href="#" class="uix-social-btn uix-social-btn--medium uix-social-btn--circle uix-social-btn--thin"><i class="fa fa-facebook"></i></a>
						<a href="#" class="uix-social-btn uix-social-btn--medium uix-social-btn--circle uix-social-btn--thin"><i class="fa fa-twitter"></i></a>
						<a href="#" class="uix-social-btn uix-social-btn--medium uix-social-btn--circle uix-social-btn--thin"><i class="fa fa-google-plus"></i></a>
						<a href="#" class="uix-social-btn uix-social-btn--medium uix-social-btn--circle uix-social-btn--thin"><i class="fa fa-dribbble"></i></a>
						
			            <hr>
			        
				        <!-- ///////  -->
						<a href="#" class="uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin"><i class="fa fa-facebook"></i></a>
						<a href="#" class="uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin"><i class="fa fa-twitter"></i></a>
						<a href="#" class="uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin"><i class="fa fa-google-plus"></i></a>
						<a href="#" class="uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin"><i class="fa fa-dribbble"></i></a>	
						
						<hr>
					
				
									
					
					    <!-- ///////  -->		
						<div style="display: inline-block; background: #333; padding: 1.5rem;">

							<a href="#" class="uix-social-btn uix-social-btn--large uix-social-btn--white"><i class="fa fa-facebook"></i></a>
							<a href="#" class="uix-social-btn uix-social-btn--large uix-social-btn--white"><i class="fa fa-twitter"></i></a>
							<a href="#" class="uix-social-btn uix-social-btn--large uix-social-btn--white"><i class="fa fa-google-plus"></i></a>
							<a href="#" class="uix-social-btn uix-social-btn--large uix-social-btn--white"><i class="fa fa-dribbble"></i></a>


						</div>

						<hr>								
								
				
				
					</div>
					
					
					<div class="col-lg-6 col-md-6">
											
						<!-- ///////  -->				
						<a href="https://facebook.com" class="uix-social-btn uix-social-btn--large uix-social-bg--colourful"><i class="fa fa-facebook"></i></a>
						<a href="https://twitter.com" class="uix-social-btn uix-social-btn--large uix-social-bg--colourful"><i class="fa fa-twitter"></i></a>
						<a href="https://google.com" class="uix-social-btn uix-social-btn--large uix-social-bg--colourful"><i class="fa fa-google-plus"></i></a>
						<a href="https://dribbble.com" class="uix-social-btn uix-social-btn--large uix-social-bg--colourful"><i class="fa fa-dribbble"></i></a>
						
						<hr>
				
						<!-- ///////  -->				
						<a href="https://facebook.com" class="uix-social-btn uix-social-btn--large uix-social-bg uix-social-bg--facebook"><i class="fa fa-facebook"></i></a>
						<a href="https://twitter.com" class="uix-social-btn uix-social-btn--large uix-social-bg uix-social-bg--twitter"><i class="fa fa-twitter"></i></a>
						<a href="https://google.com" class="uix-social-btn uix-social-btn--large uix-social-bg uix-social-bg--google"><i class="fa fa-google-plus"></i></a>
						<a href="https://dribbble.com" class="uix-social-btn uix-social-btn--large uix-social-bg uix-social-bg--dribbble"><i class="fa fa-dribbble"></i></a>
						
						<hr>
							    
						<!-- ///////  -->				
						<a href="https://facebook.com" class="uix-social-btn uix-social-btn--large uix-social-bg--colourful uix-social-btn--circle"><i class="fa fa-facebook"></i></a>
						<a href="https://twitter.com" class="uix-social-btn uix-social-btn--large uix-social-bg--colourful uix-social-btn--circle"><i class="fa fa-twitter"></i></a>
						<a href="https://google.com" class="uix-social-btn uix-social-btn--large uix-social-bg--colourful uix-social-btn--circle"><i class="fa fa-google-plus"></i></a>
						<a href="https://dribbble.com" class="uix-social-btn uix-social-btn--large uix-social-bg--colourful uix-social-btn--circle"><i class="fa fa-dribbble"></i></a>
						
						<hr>
				
						<!-- ///////  -->				
						<a href="https://facebook.com" class="uix-social-btn uix-social-btn--large uix-social-bg uix-social-bg--facebook uix-social-btn--circle"><i class="fa fa-facebook"></i></a>
						<a href="https://twitter.com" class="uix-social-btn uix-social-btn--large uix-social-bg uix-social-bg--twitter uix-social-btn--circle"><i class="fa fa-twitter"></i></a>
						<a href="https://google.com" class="uix-social-btn uix-social-btn--large uix-social-bg uix-social-bg--google uix-social-btn--circle"><i class="fa fa-google-plus"></i></a>
						<a href="https://dribbble.com" class="uix-social-btn uix-social-btn--large uix-social-bg uix-social-bg--dribbble uix-social-btn--circle"><i class="fa fa-dribbble"></i></a>
						
						<hr>
							    
							    
					</div>	
					
					
					
				</div>
				<!-- .row end -->	
                 
                  
                    
            </div>
            <!-- .container end -->
 
        </section>   
     
        
        
        @@include('./src/components/_global/include-copyright.html')
        
        
    </div>
    <!-- .wrapper end -->
       
       
    @@include('./src/components/_global/include-footer.html')

