/* ====================================================== 
   <!-- Parallax -->                                           
/* ====================================================== */

.uix-parallax {
	position: relative;
	width: 100%;
	background-attachment: fixed;
	@include background-cover();
	
	height: auto;
	width: 100%;
	
	.uix-parallax__img {
	    visibility: hidden;
	}
}
