<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
	<meta charset="@@{website_charset}" />
	<title>Form Layout - @@{website_title}</title>	
	@@include('./src/components/ES6/_global/include-header.html')
</head>  

     
  <body class="page">
  
  
          
    @@include('./src/components/ES6/_global/include-loader.html')
    @@include('./src/components/ES6/_global/include-toggle-trigger.html')
    
    

  
  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/ES6/_global/include-brand.html')
                        
                        @@include('./src/components/ES6/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder js-uix-header__placeholder-autoheight"></div>
      
     
		<main id="uix-maincontent">
			
			<!-- Content 
			====================================================== -->
			<section class="uix-spacing--s uix-spacing--no-bottom">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h3>Form Layout</h3>
							<hr>
							
							
						</div>
					</div>
					<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>
			
			


		   <!-- Content 
			====================================================== -->
			<section class="uix-spacing--s">
				<div class="container">


						<div class="row">
							<div class="col-12">



									 <form method="post" action="#" id="app-my-form">


                                        <div class="uix-controls-layout">
                                            <div class="uix-controls-layout__content">
                                                <div class="uix-controls-layout__content__inner">
                                                    <div>
                                                        <!-- // -->
                                                        <h3 class="uix-typo--color-sub uix-typo--h6 uix-spacing--no uix-typo--style-uppercase">Left Title</h3>
                                                        <!-- // -->
                                                    </div>
                                                    <div>
                                                        <!-- // -->
                                                        <div class="uix-controls is-fullwidth is-rounded uix-spacing--no">
                                                          <input type="text" class="js-uix-float-label" name="field-name">
                                                          <label>Field Name</label>
                                                        </div>                      
                                                        <!-- // -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="uix-controls-layout__icon">
                                                <i class="fa fa-angle-right"></i>
                                            </div>
                                        </div>     
                                         
                                         
                                         <div class="uix-controls-layout">
                                            <div class="uix-controls-layout__content">
                                                <div class="uix-controls-layout__content__inner">
                                                    <div>
                                                        <!-- // -->
                                                        <h3 class="uix-typo--color-sub uix-typo--h6 uix-spacing--no uix-typo--style-uppercase">Left Title</h3>
                                                        <!-- // -->
                                                    </div>
                                                    <div>
                                                        <!-- // -->
                                                        <div class="uix-controls is-fullwidth is-rounded uix-spacing--no">
                                                          <input type="text" class="js-uix-float-label" name="field-name">
                                                          <label>Field Name</label>
                                                        </div>                      
                                                        <!-- // -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="uix-controls-layout__icon">
                                                <i class="fa fa-angle-right"></i>
                                            </div>
                                        </div>     
                                         
                                        <div class="uix-controls-layout">
                                            <div class="uix-controls-layout__content">
                                                <div class="uix-controls-layout__content__inner">
                                                    <div class="uix-t-r">
                                                        <!-- // -->
                                                        <h3 class="uix-typo--color-sub uix-typo--h6 uix-spacing--no uix-typo--style-uppercase">Right Title</h3>
                                                        <!-- // -->
                                                    </div>
                                                    <div>
                                                        <!-- // -->
                                                        <div class="uix-controls is-fullwidth is-rounded uix-spacing--no">
                                                          <input type="text" class="js-uix-float-label" name="field-name">
                                                          <label>Field Name</label>
                                                        </div>                      
                                                        <!-- // -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="uix-controls-layout__icon">
                                                <i class="fa fa-angle-right"></i>
                                            </div>
                                        </div>     
                                         
                                         
                                        <div class="uix-controls-layout">
                                            <div class="uix-controls-layout__content">
                                                <div class="uix-controls-layout__content__inner">
                                                    <div class="uix-t-r">
                                                        <!-- // -->
                                                        <h3 class="uix-typo--color-sub uix-typo--h6 uix-spacing--no uix-typo--style-uppercase">Right Title</h3>
                                                        <!-- // -->
                                                    </div>
                                                    <div>
                                                        <!-- // -->
                                                        <div class="uix-controls is-fullwidth is-rounded uix-spacing--no">
                                                          <input type="text" class="js-uix-float-label" name="field-name">
                                                          <label>Field Name</label>
                                                        </div>                      
                                                        <!-- // -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="uix-controls-layout__icon">
                                                <i class="fa fa-angle-right"></i>
                                            </div>
                                        </div>     
                                                                           
                                         
                                        <div class="uix-controls-layout">
                                            <div class="uix-controls-layout__content">
                                                <div class="uix-controls-layout__content__inner">
                                                    <div>
                                                        <!-- // -->
                                                        <h3 class="uix-typo--color-sub uix-typo--h6 uix-spacing--no uix-typo--style-uppercase">No Icon</h3>
                                                        <!-- // -->
                                                    </div>
                                                    <div>
                                                        <!-- // -->
                                                        <div class="uix-controls is-fullwidth is-rounded uix-spacing--no">
                                                          <input type="text" class="js-uix-float-label" name="field-name">
                                                          <label>Field Name</label>
                                                        </div>                      
                                                        <!-- // -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>     
                                         
                                         
                                         <div class="uix-controls-layout">
                                            <div class="uix-controls-layout__content">
                                                <div class="uix-controls-layout__content__inner">
                                                    <div>
                                                        <!-- // -->
                                                        <h3 class="uix-typo--color-sub uix-typo--h6 uix-spacing--no uix-typo--style-uppercase">No Icon</h3>
                                                        <!-- // -->
                                                    </div>
                                                    <div>
                                                        <!-- // -->
                                                        <div class="uix-controls is-fullwidth is-rounded uix-spacing--no">
                                                          <input type="text" class="js-uix-float-label" name="field-name">
                                                          <label>Field Name</label>
                                                        </div>                      
                                                        <!-- // -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>          
                                         
                                         
                                         <div class="uix-controls-layout">
                                            <div class="uix-controls-layout__content">
                                                <div class="uix-controls-layout__content__inner">
                                                    <div>
                                                        <!-- // -->
                                                       
                                                        <!-- // -->
                                                    </div>
                                                    <div>
                                                        <!-- // -->
                                                        <button type="submit" class="uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary">Submit Your Info</button>   
                                                        <!-- // -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>          
                                                                 
							

									</form>


							</div>     


						</div>
						<!-- .row end -->  


				</div>
				<!-- .container end -->



			</section>
			
		</main>
		
		
			
        

        
        @@include('./src/components/ES6/_global/include-copyright.html')
        
        
    </div>
    <!-- .uix-wrapper end -->
       
       
    @@include('./src/components/ES6/_global/include-footer.html')

