/* ====================================================== 
   <!-- Cards -->    
/* ====================================================== */
/*
 * 1. Style One
 * 2. Style Two
 * 3. Style Three
 * 4. Style Four
*/

$card-radius: 8px;

/* 
 ---------------------------
 1. Style One
 ---------------------------
 */ 

.uix-card1 {
	margin: 0 auto;
	border: 1px solid #eaeaea;
	position: relative;
	border-top: 8px solid $highlight-color1;
	border-radius: $card-radius;
	@include outer-shadow( 'thick' );
	
	&::before,
	&::after {
		content: " ";
		display: table;
		clear: both;
	}
	
	.uix-card1__headline {
		min-height: 2.086538461rem;
		background: #fff;
		padding: 0.65625rem 1.75rem 0 1.75rem;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;

		h3 {
			margin: 0;
			padding: 0;
			font-size: 1.125rem;
			
		}
		.uix-card1__text {
			margin-top: 0.4375rem;
			float: left;
			width: calc(100% - 105px );
			a {
				font-size: 0.75rem;
			}
		}
		.uix-card1__pic {
			position: relative;
			top: 0.175rem;
			height: 4.375rem;
			width: 4.375rem;
			float: right;
			width: 100px;
			height: 100px;

			img {
				width: 90px !important;
				height: 90px !important;
				margin: 0.3125rem 0 0 0.3125rem;
				border: 1px solid #eaeaea;
			}
		}
	}

	.uix-card1__content {
		background: #fff;
		padding: 1.75rem 1.75rem 1.3125rem 1.75rem;
		line-height: 1.5;

		&::after {
			content: '';
			position: relative;
			height: 0;
			width: 0;
			border-left: 0.4375rem solid transparent;
			border-right: 0.4375rem solid transparent;
			border-top: 0.4375rem solid #fff;
			position: absolute;
			bottom: 25px;
			left: 1.75rem;
		}

		p {
			margin-top: 0.875rem;
			padding: 0 0.875rem 0 1.75rem;
		}
	}

	.uix-card1__jump {
		height: 30px;
		font-size: 0.75rem;
		display: block;
		background: #F6F6F6;
		padding: 0.525rem 2.1875rem;
		text-align: right;
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
		transition: all 500ms ease-in-out;
		color: #BDBDBD;
	}
	
	
}


/* 
 ---------------------------
 2. Style Two
 ---------------------------
 */ 
.uix-card2 {
    position: relative;
    min-height: 21.25rem;
    padding: 1.5rem;
    border-radius: $card-radius;
	background-position: 50% 50%;
	background-size: cover;
	margin-bottom: 1.5rem;
    @include transition-default();
	@include outer-shadow( 'thick' );
	
	&::before,
	&::after {
		content: " ";
		display: table;
		clear: both;
	}
	
	
	.uix-card2__tagline {
		font-size: 0.75rem;
		font-weight: 500;
		text-transform: uppercase;
		color: rgba(51, 51, 51, .4);
	}
	

	.uix-card2__headline {
		margin-top: 10px;
		color: #fff;

	}

	.uix-card2__content {
		position: relative;
	}

}


/* 
 ---------------------------
 3. Style Three
 ---------------------------
 */ 
.uix-card3 {
	position: relative;
    border-radius: $card-radius;
    background-color: #fff;
	margin-bottom: 1.5rem;
    @include transition-default();
	@include outer-shadow( 'thick' );
	
	&::before,
	&::after {
		content: " ";
		display: table;
		clear: both;
	}
	
	.uix-card3__tagline {
		font-size: 0.75rem;
		font-weight: 500;
		text-transform: uppercase;
		color: rgba(51, 51, 51, .4);
	}
	

	.uix-card3__headline {
		margin-top: 10px;
		margin: 0;
	}
	
	.uix-card3__pic {
		height: 21.25rem;
		border-top-left-radius: $card-radius;
		border-top-right-radius: $card-radius;
		background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 96%, .5), hsla(0, 0%, 96%, .5));
		background-image: linear-gradient(180deg, hsla(0, 0%, 96%, .5), hsla(0, 0%, 96%, .5));
		background-position: 50% 50%;
		background-size: cover;
		
		img {
			visibility: hidden;
		}	
		
	}

	.uix-card3__content {
		padding: 1rem 1.5rem;
	}
	
	
	&.js-uix-common-height {
		.uix-card3__pic {
			height: auto;
		}
	}

	

}


/* 
 ---------------------------
 4. Style Four
 ---------------------------
 */ 
.uix-card4 {
	position: relative;
    border-radius: $card-radius;
    background-color: #fff;
	margin-bottom: 1.5rem;
    @include transition-default();
	@include outer-shadow( 'thick' );
	
	&::before,
	&::after {
		content: " ";
		display: table;
		clear: both;
	}
	

	.uix-card4__tagline {
		font-size: 0.75rem;
		font-weight: 500;
		text-transform: uppercase;
		color: rgba(51, 51, 51, .4);
	}
	
	.uix-card4__headline {
		margin-top: 10px;
		margin: 0;
	}
	
	

	.uix-card4__pic {
		height: 21.25rem;
		border-top-left-radius: $card-radius;
		border-bottom-left-radius: $card-radius;
		background-position: 50% 50%;
		background-size: cover;
		
		img {
			visibility: hidden;
		}
		
	}
	

	.uix-card4__content {
		height: 21.25rem;
		padding: 1.5rem 3rem;
	}
	
	.uix-card4__title {
		padding-bottom: 1.5rem;
	}
	
	&.js-uix-common-height {
		.uix-card4__pic,
		.uix-card4__content {
			height: auto;
		}
	}


	
}


@media all and (max-width: 768px) {
	.uix-card4 {
		
		.uix-card4__pic {
			border-bottom-left-radius: 0;
		}

		.uix-card4__content {
			height: auto;
		}



	}
	
}



