@@include('./src/components/_global/include-header.html')
     
  <body class="page">
  
  
          
    @@include('./src/components/_global/include-loader.html')
    @@include('./src/components/_global/include-toggle-trigger.html')
    
    

  
  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/_global/include-brand.html')
                        
                        @@include('./src/components/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder"></div>
      
      
     
        <!-- Content 01
        ====================================================== -->
        <section>
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h2>Seamless Grid Filterable</h2>
                            <p>
                            This is a description.
                            </p>
                            
                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section> 
       
       
       <!-- Content 02
        ====================================================== -->
        <section>
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <div class="uix-nav uix-nav--separation" id="js-uix-navfilter-1">
                                <ul>
                                    <li class="current-cat"><a data-group="all" href="#">All</a></li>
                                    <li><a data-group="web-design" href="#">Web Design</a></li>
                                    <li><a data-group="ui" href="#">UI</a></li>
                                    <li><a data-group="seo" href="#">SEO</a></li>  
                                </ul>
                            </div>
                            <!-- .uix-nav uix-nav--separation  end -->

                        </div>
                    </div>
                    <!-- .row end -->
            </div>
            <!-- .container end -->
 
        </section>     
        
       <!-- Content 03
        ====================================================== -->
        <section class="uix-spacing--m">
            <div class="container uix-t-c">
            
               
                 <div class="uix-core-grid">
					<div class="uix-core-grid__row uix-core-grid__row--loop">
						<div class="uix-gallery" data-show-type="filter" data-filter-id="#js-uix-navfilter-1">

							<div class="uix-gallery-tiles">

								<!-- Item -->
								<div class="uix-core-grid__col-4 uix-gallery__item" data-groups='["web-design","seo"]'>

									<div>
										<a href="#" class="uix-gallery__image" >
											<div class="uix-gallery__image-cover">
												<img src="assets/images/demo/test-img-big-1.jpg" alt="" />
											</div>
										</a>
										<h3>
											<a href="#">Project Title Here</a>
											<span class="uix-gallery__title">Beautiful WordPress Theme</span>
											<span class="uix-gallery__cat"><a href="#">Free</a></span>
										</h3>
									
									</div>



								</div>
								<!--  .uix-gallery__item  end -->  





								<!-- Item -->
								<div class="uix-core-grid__col-4 uix-gallery__item" data-groups='["web-design"]'>

									<div>

										<a href="#" class="uix-gallery__image" >
											<div class="uix-gallery__image-cover">
												<img src="assets/images/demo/test-img-big-2.jpg" alt="" />
											</div>
										</a>
										<h3>
											<a href="#">Project Title Here</a>
											<span class="uix-gallery__title">Beautiful WordPress Theme</span>
											<span class="uix-gallery__cat"><a href="#">Free</a></span>
										</h3>
										
									 
									</div>


								</div>
								<!--  .uix-gallery__item  end -->             

								<!-- Item -->
								<div class="uix-core-grid__col-4 uix-gallery__item" data-groups='["web-design"]'>

									<div>

										<a href="#" class="uix-gallery__image" >
											<div class="uix-gallery__image-cover">
												<img src="assets/images/demo/test-img-big-3.jpg" alt="" />
											</div>
										</a>
										<h3>
											<a href="#">Project Title Here</a>
											<span class="uix-gallery__title">Beautiful WordPress Theme</span>
											<span class="uix-gallery__cat"><a href="#">Free</a></span>
										</h3>
								
									</div>


								</div>
								<!--  .uix-gallery__item  end -->  


								 <!-- Item -->
								<div class="uix-core-grid__col-4 uix-gallery__item" data-groups='["seo"]'>

									<div>
										<a href="#" class="uix-gallery__image" >
											<div class="uix-gallery__image-cover">
												<img src="assets/images/demo/test-img-big-4.jpg" alt="" />
											</div>
										</a>
										<h3>
											<a href="#">Project Title Here</a>
											<span class="uix-gallery__title">Commerce Theme</span>
											<span class="uix-gallery__cat"><a href="#">Free</a></span>
										</h3>
									
									</div>



								</div>
								<!--  .uix-gallery__item  end -->  


								<!-- Item -->
								<div class="uix-core-grid__col-4 uix-gallery__item" data-groups='["ui"]'>

									<div>

										<a href="#" class="uix-gallery__image" >
											<div class="uix-gallery__image-cover">
												<img src="assets/images/demo/test-img-big-5.jpg" alt="" />
											</div>
										</a>
										<h3>
											<a href="#">Project Title Here</a>
											<span class="uix-gallery__title">Simple WordPress Theme</span>
											<span class="uix-gallery__cat"><a href="#">Free</a></span>
										</h3>
								
									</div>


								</div>
								<!--  .uix-gallery__item  end -->            

							</div>
							<!-- .uix-gallery-tiles end -->


						</div>
						<!-- .uix-gallery end -->

					</div>
					<!-- .uix-core-grid__row  end -->       
                  
				</div>
                  <!-- /.uix-core-grid -->
               
               



                      
				<div class="uix-pagination__container uix-t-c uix-trans">
					<ul class="uix-pagination">
						<li class="previous"><a class="prev page-numbers" href="#"><i class="fa fa-angle-left"></i></a></li>
						<li><a class='page-numbers' href='#'>1</a></li>
						<li class="active"><span class='page-numbers current'>2</span></li>
						<li><a class='page-numbers' href='#'>3</a></li>
						<li class="next"><a class="next page-numbers" href="#"><i class="fa fa-angle-right"></i></a></li>
					</ul>
				</div> 
				<!-- .uix-pagination__container  end -->    


            </div>
            <!-- .container end -->
            
            
            
 
        </section>
        
         
        
        
        
        
        @@include('./src/components/_global/include-copyright.html')
        
        
    </div>
    <!-- .wrapper end -->
       
       
    @@include('./src/components/_global/include-footer.html')

