@@include('./src/components/ES5/_global/include-header.html')
     
  <body class="page">
  
  
          
    @@include('./src/components/ES5/_global/include-loader.html')
    @@include('./src/components/ES5/_global/include-toggle-trigger.html')
    
    

  
  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/ES5/_global/include-brand.html')
                        
                        @@include('./src/components/ES5/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder"></div>
      
      
     
        <!-- Content 01
        ====================================================== -->
        <section>
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h2>Message</h2>
							<p>You can use any of the available classes of Base Stylesheets to quickly create a custom style.</p>
                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section>
     
       
     
       <!-- Content 02
        ====================================================== -->
        <section class="uix-spacing--m">
            <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">


						
							<p class="uix-striking-msg uix-striking-msg--default is-pill">
							   <i class="fa fa-info-circle" aria-hidden="true"></i><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
							</p>  

							<p class="uix-striking-msg uix-striking-msg--success is-pill">
							   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							</p>     

							<p class="uix-striking-msg uix-striking-msg--info is-pill">
							   Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							</p>   
							
							<p class="uix-striking-msg uix-striking-msg--alert is-pill">
							   Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							</p>      
							        
							<p class="uix-striking-msg uix-striking-msg--danger is-pill">
							   <i class="fa fa-info-circle" aria-hidden="true"></i><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
							</p>  
								 
							

							<hr>
						
							<p class="uix-striking-msg uix-striking-msg--default is-rounded">
							   <i class="fa fa-info-circle" aria-hidden="true"></i><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
							</p>  

							<p class="uix-striking-msg uix-striking-msg--success is-rounded">
							   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							</p>     

							<p class="uix-striking-msg uix-striking-msg--info is-rounded">
							   Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							</p>   
							
							<p class="uix-striking-msg uix-striking-msg--alert is-rounded">
							   Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							</p>      
							        
							<p class="uix-striking-msg uix-striking-msg--danger is-rounded">
							   <i class="fa fa-info-circle" aria-hidden="true"></i><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
							</p>  
								 
							

							<hr>
						
							<p class="uix-striking-msg uix-striking-msg--default is-rounded uix-striking-msg--hasarrow">
							   <i class="fa fa-info-circle" aria-hidden="true"></i><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
							</p>  

							<p class="uix-striking-msg uix-striking-msg--success is-rounded uix-striking-msg--hasarrow">
							   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							</p>     

							<p class="uix-striking-msg uix-striking-msg--info is-rounded uix-striking-msg--hasarrow">
							   Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							</p>   
							
							<p class="uix-striking-msg uix-striking-msg--alert is-rounded uix-striking-msg--hasarrow">
							   Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							</p>      
							        
							<p class="uix-striking-msg uix-striking-msg--danger is-rounded uix-striking-msg--hasarrow">
							   <i class="fa fa-info-circle" aria-hidden="true"></i><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
							</p>  
								 
							
							<hr>
						
							<p class="uix-striking-msg uix-striking-msg--default is-rounded uix-striking-msg--hasarrow /Applications/MAMP/htdocs/uix-kit/">
							   <i class="fa fa-info-circle" aria-hidden="true"></i><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
							</p>  

							<p class="uix-striking-msg uix-striking-msg--success is-rounded uix-striking-msg--hasarrow uix-striking-msg--inline">
							   Inline text.
							</p>     

							<p class="uix-striking-msg uix-striking-msg--info is-rounded uix-striking-msg--hasarrow uix-striking-msg--inline">
							   Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							</p>   
							
							<p class="uix-striking-msg uix-striking-msg--alert is-rounded uix-striking-msg--hasarrow uix-striking-msg--inline">
							   Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							</p>      
							        
							<p class="uix-striking-msg uix-striking-msg--danger is-rounded uix-striking-msg--hasarrow uix-striking-msg--inline">
							   <i class="fa fa-info-circle" aria-hidden="true"></i><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
							</p>  
								 			
							
							
							
							
                       
                       
                        </div>
                        <!-- .col-12 end -->
                    </div>
                    <!-- .row end -->
                    
             
            </div>
            <!-- .container end -->
            
            
        </section>
        
        
        
       
        
        @@include('./src/components/ES5/_global/include-copyright.html')
        
        
    </div>
    <!-- .uix-wrapper end -->
       
       
    @@include('./src/components/ES5/_global/include-footer.html')

