/* ====================================================== 
   <!-- Basic -->                  
/* ====================================================== */
body {
	direction: rtl;
	unicode-bidi: embed;
}

caption, 
th, 
td {
    text-align: right;
}


ul.uix-list--normal, 
ol.uix-list--normal {
	  padding-left: auto;
	  padding-right: 0.875rem;
}

.uix-list--normal {
	ul, 
	ol {
		padding-left: auto;
		padding-right: 0.875rem;
	}
}

.uix-table table th, 
table.uix-table th {
    text-align: right;
}

blockquote {
	border-left-width: 1px;
	border-right-width: 5px;
	border-left-color: #F8F8F8;
	border-right-color: #EC5E79;
	
	&::before {
		margin-right: auto;
		margin-left: 0.21875rem;
	}
}



