/* ====================================================== 
   <!-- Helper Classes -->                                 
/* ====================================================== */
.fl {
    float: right;
}

.fr {
    float: left;
}

.t-r {
    text-align: left;
}

.t-l {
    text-align: right;
}
