/* ====================================================== 
   5. Basic Layout Styles                                        
/* ====================================================== */
.fl {
    float: right;
}

.fr {
    float: left;
}

.t-r {
    text-align: left;
}

.t-l {
    text-align: right;
}



/* Custom Grid */
$pad: 15px;

.seamless-grid {

	/* Opt-in outside padding */
	&.pad {
	  padding: 0 $pad 0 0;
	  [class*='seamless-col-']:last-of-type {
		padding-right: auto;
		padding-left: $pad;
	  }
	}	
	
}

[class*='seamless-col-'] {
	float: right;
	padding-right: auto;
	padding-left: $pad;


	.seamless-grid &:last-of-type {
		padding-left: 0;
	}
}


@media all and (max-width: 991px) {

	.seamless-col-1-4:nth-child(2n+0),
	.seamless-col-1-8:nth-child(2n+0) {
		padding-left: 0;
	}
	

	.seamless-grid.pad .seamless-col-1-4:nth-child(2n+0),
	.seamless-grid.pad .seamless-col-1-8:nth-child(2n+0) {
		padding-left: $pad;
	}
	
}


@media all and (max-width: 768px) {

	.seamless-grid.pad [class*='seamless-col-'] {
		padding-left: $pad;
	 }	
	

	.seamless-grid.use-2 .seamless-col-1-4,
	.seamless-grid.use-2 .seamless-col-1-8 {
		float: right;
	}
	.seamless-grid.use-2 .seamless-col-1-4:nth-child(2n+1),
	.seamless-grid.use-2 .seamless-col-1-8:nth-child(2n+1) {
		padding-left: $pad;

	}
	
	.seamless-grid.use-2 .seamless-col-1-4:nth-child(2n+0),
	.seamless-grid.use-2 .seamless-col-1-8:nth-child(2n+0) {
		padding-left: 0;
		
	}
	
	.seamless-grid.pad.use-2 .seamless-col-1-4:nth-child(2n+0),
	.seamless-grid.pad.use-2 .seamless-col-1-8:nth-child(2n+0) {
		padding-left: $pad;
	}
}