/* ====================================================== 
   5. Basic Layout Styles                                        
/* ====================================================== */
/* 5.1 Basic */
.fl {
    float: right;
}

.fr {
    float: left;
}

.t-r {
    text-align: left;
}

.t-l {
    text-align: right;
}


/* 5.3 Seamless Grid */
$seamless-grid-pad : 15px;

.seamless-grid-container {


	[class*='seamless-col-'] {
		float: right;
		padding-right: auto;
		padding-left: $seamless-grid-pad;

		.seamless-grid &:last-of-type {
			padding-left: 0;
		}
	}

	
}




@media all and (max-width: 991px) {
	
	.seamless-grid-container {
		
	
		
		/* 2 columns */
		.seamless-grid.use-2 .seamless-col-1-6,
		.seamless-grid.use-2 .seamless-col-1-4,
		.seamless-grid.use-2 .seamless-col-1-3 {
			float: right;
		}

		.seamless-grid.use-2 .seamless-col-1-6:nth-child(2n+1),
		.seamless-grid.use-2 .seamless-col-1-4:nth-child(2n+1),
		.seamless-grid.use-2 .seamless-col-1-3:nth-child(2n+1) {
			padding-left: $seamless-grid-pad;

		}


	}
	


	
}


@media all and (max-width: 768px) {
	
	
	.seamless-grid-container {
	
		
		/* Loop */
		.seamless-grid.loop .seamless-col-1-2:last-of-type,
		.seamless-grid.loop .seamless-col-1-3:last-of-type,
		.seamless-grid.loop .seamless-col-1-4:last-of-type,
		.seamless-grid.loop .seamless-col-1-6:last-of-type {
			padding-left: $seamless-grid-pad;
		}


		
		/* 2 columns */
		.seamless-grid.use-2 .seamless-col-1-6,
		.seamless-grid.use-2 .seamless-col-1-4,
		.seamless-grid.use-2 .seamless-col-1-3 {
			float: right;
		}


		.seamless-grid.use-2 .seamless-col-1-6:nth-child(2n+0),
		.seamless-grid.use-2 .seamless-col-1-4:nth-child(2n+0),
		.seamless-grid.use-2 .seamless-col-1-3:nth-child(2n+0) {
			padding-left: $seamless-grid-pad;

		}


	}


	
}