/* ====================================================== 
   <!-- Basic Layout Styles -->                                      
/* ====================================================== */

/* 
 ---------------------------
 4. Seamless Grid
 ---------------------------
 */ 
$seamless-grid-pad: 15px;

.seamless-grid-container {


	[class*='seamless-col-'] {
		float: right;
		padding-right: auto;
		padding-left: $seamless-grid-pad;

		.seamless-grid &:last-of-type {
			padding-left: 0;
		}
	}

	
}




@media all and (max-width: 991px) {
	
	.seamless-grid-container {
		
	
		
		/* 2 columns */
		.seamless-grid.use-2 .seamless-col-2,
		.seamless-grid.use-2 .seamless-col-3,
		.seamless-grid.use-2 .seamless-col-4 {
			float: right;
		}

		.seamless-grid.use-2 .seamless-col-2:nth-child(2n+1),
		.seamless-grid.use-2 .seamless-col-3:nth-child(2n+1),
		.seamless-grid.use-2 .seamless-col-4:nth-child(2n+1) {
			padding-left: $seamless-grid-pad;

		}


	}
	


	
}


@media all and (max-width: 768px) {
	
	
	.seamless-grid-container {

		
		/* 2 columns */
		.seamless-grid.use-2 .seamless-col-2,
		.seamless-grid.use-2 .seamless-col-3,
		.seamless-grid.use-2 .seamless-col-4 {
			float: right;
		}


		.seamless-grid.use-2 .seamless-col-2:nth-child(2n+0),
		.seamless-grid.use-2 .seamless-col-3:nth-child(2n+0),
		.seamless-grid.use-2 .seamless-col-4:nth-child(2n+0) {
			padding-left: $seamless-grid-pad;

		}


	}


	
}





/* 
 ---------------------------
 5. Auxiliary Grid System for Inline Elements
 ---------------------------
 */ 
.el-col {
    float: right;

}

