/* ====================================================== 
   <!-- Basic Layout Styles -->                                      
/* ====================================================== */

/* 
 ---------------------------
 4. Seamless Grid
 ---------------------------
 */ 
@mixin seamlessGridGenerateRTL( $classname: '.uix-core-grid', $pad: '15px' ) {
	// @include seamlessGridGenerate( '.uix-core-grid', '15px' );
	
	$pad : #{$pad};
	
    @if ( $classname != '' ) {
	
		#{$classname} {


			[class*='uix-core-grid__col-'] {
				float: right;
				padding-right: auto;
				padding-left: $pad;

				.uix-core-grid__row &:last-of-type {
					padding-left: 0;
				}
			}


		}




		@media all and (max-width: 991px) {

			#{$classname} {



				/* 2 columns */
				.uix-core-grid__row.uix-core-grid__row--col-2 .uix-core-grid__col-2,
				.uix-core-grid__row.uix-core-grid__row--col-2 .uix-core-grid__col-3,
				.uix-core-grid__row.uix-core-grid__row--col-2 .uix-core-grid__col-4 {
					float: right;
				}

				.uix-core-grid__row.uix-core-grid__row--col-2 .uix-core-grid__col-2:nth-child(2n+1),
				.uix-core-grid__row.uix-core-grid__row--col-2 .uix-core-grid__col-3:nth-child(2n+1),
				.uix-core-grid__row.uix-core-grid__row--col-2 .uix-core-grid__col-4:nth-child(2n+1) {
					padding-left: $pad;

				}


			}




		}


		@media all and (max-width: 768px) {


			#{$classname} {


				/* 2 columns */
				.uix-core-grid__row.uix-core-grid__row--col-2 .uix-core-grid__col-2,
				.uix-core-grid__row.uix-core-grid__row--col-2 .uix-core-grid__col-3,
				.uix-core-grid__row.uix-core-grid__row--col-2 .uix-core-grid__col-4 {
					float: right;
				}


				.uix-core-grid__row.uix-core-grid__row--col-2 .uix-core-grid__col-2:nth-child(2n+0),
				.uix-core-grid__row.uix-core-grid__row--col-2 .uix-core-grid__col-3:nth-child(2n+0),
				.uix-core-grid__row.uix-core-grid__row--col-2 .uix-core-grid__col-4:nth-child(2n+0) {
					padding-left: $pad;

				}


			}



		}


		
	}
	
}


@include seamlessGridGenerateRTL( '.uix-core-grid', '15px' );
@include seamlessGridGenerateRTL( '.uix-core-grid-large', '30px' );





/* 
 ---------------------------
 5. Auxiliary Grid System for Inline Elements
 ---------------------------
 */ 
[class*='uix-el-grid__col-'] {
    float: right;

}

