/* ====================================================== 
   16. Sidebar            
/* ====================================================== */
.uix-iso-grid-widget .uix-iso-grid-recent-item {
  .item-thumb {
    float: right;
    margin-right: auto;
    margin-left: 0.875rem;
    text-align: right;
  }
  .item-info {
    float: right;
  }
}

.sidebar-container {
  padding-left: auto;
  padding-right: 2.1875rem;
}

.widget_calendar {
  caption {
    text-align: right;
  }
  #next {
    text-align: left;
  }
}

.sidebar-container .widget-title:after {
  margin-left: auto;
  margin-right: 0.4375rem;
}

.post-img-list-box li {
  .item-thumb {
    float: right;
    margin-right: auto;
    margin-left: 0.875rem;
  }
  .item-info {
    float: right;
  }
}