/* ====================================================== 
   <!-- Filterable Navigation -->                     
/* ====================================================== */
.uix-nav-links--filters {
	
	ul {
	
		li {
			
			margin-right: auto;
			margin-left: 0.203125rem;

			&::after {
				margin-left: auto;
				margin-right: 0.203125rem;
			}	
			
			&:last-child {
				margin-left: 0;
			}

		}
	}
}