/* ====================================================== 
   <!-- Sidebar -->                  
/* ====================================================== */

.uix-sidebar__container {
	padding-left: auto;
	padding-right: 2.1875rem;
}

.widget_calendar {
	
	caption {
        text-align: right;
	}
	#next {
	    text-align: left;
	}
}

.uix-sidebar__container .widget-title::after {
	margin-left: auto;
	margin-right: 0.4375rem;
}

.uix-sidebar__posts-img li {
	.uix-sidebar__posts-img__thumb {
		float: right;
		margin-right: auto;
		margin-left: 0.875rem;
	}
	.uix-sidebar__posts-img__desc {
		float: right;
	}
}


/* With Uix Plugins */
.uix-iso-grid-widget .uix-iso-grid-recent-item {
	.uix-sidebar__posts-img__thumb {
		float: right;
		margin-right: auto;
		margin-left: 0.875rem;
		text-align: right;
	}
	.uix-sidebar__posts-img__desc {
	    float: right;
	}
}
