/* ====================================================== 
   <!-- Mobile Menu -->
/* ====================================================== */

/* Mobile Menu Toggle */
.uix-menu-mobile__toggle {
    right: auto;
    left: 30px;
	
    span {
        left: auto;
        right: 12px;
    }
	
    &.is-opened {
	    span {
		    right: 7px;
	    } 
	  
    }	
	
}


/* Mobile Menu Container */
.uix-menu__container.is-mobile {
	left: auto;
	right: 0;
	transform: translateX(300px);

  
    ul li ul li {
        a, span {
            padding-left: auto;
            padding-right: 30px;
        }
    }
	
    li:not(.multi-column) ul ul {
        padding-left: auto;
        padding-right: .825em;
    }
	
    > .uix-menu__inner {
	    > .uix-menu__right-box {
		    padding-left: auto;
		    padding-right: .5rem;
		
		    a {
			    margin-right: auto;
			    margin-left: .3rem;
		    }
	    }  
    }
	
	.uix-menu__arrow-mobile {
	    right: auto;
	    left: 10px;
	}	
			
}

.js-uix-menu-opened .uix-menu__container.is-mobile {
    transform: translateX(0);
}