/*


	FONT SIZE HIERARCHY
	---------------------------
	
    Default font-size for HTML :    16px
    blockquote                 :    1rem
    body                       :    1rem
    form                       :    0.875rem
    h1                         :    3.5rem
    h2                         :    2.5rem
    h3                         :    1.75rem
    h4                         :    1.25rem
    h5                         :    1rem
    h6                         :    0.75rem


	GLOBAL SPACING HIERARCHY WITH <section>
	---------------------------
	
    Default                    :    6.5625rem
    Large                      :    11.375rem
    Small                      :    4.8125rem
    Default (mobile)           :    4.265625rem
    Large (mobile)             :    4.265625rem
    Small (mobile)             :    2.625rem



	COLOR PALETTE
	---------------------------

    Placeholder Text Color     :    #E6E6E8
	Primary Background Color   :    transparent
	Highlight Color            :    #EC5E79, #E8588C
	Primary Text Color         :    #212121, #474747
    Heading Text Color         :    #212121
	Subordinate Text Color     :    #AEAEAE
	Dividing Line Color        :    #F4F4F4
    Button Gradient Color      :    #EC5E79, #f60, #d83ba0





	TABLE OF CONTENTS
	---------------------------
	
    ${{TOC}}


*/


// FONTS
// ---------------------------
// Files: 00.global/scss/01.basic.scss, 00.global/scss/05.typography.scss, 01.form/scss/form.scss
//
//Default font-size for HTML
$basic-font-size       : 16px;
$font-stack            : 'Helvetica Neue', Helvetica, 'Microsoft YaHei', STXihei, 'PingFang SC','Hiragino Sans GB', Arial, sans-serif;
$font-mobile-stack     : "lucida grande", tahoma, verdana, arial, sans-serif;
$font-size-body        : 1rem;
$font-size-blockquote  : 1rem;
$font-size-form        : 0.875rem;
$font-size-h1          : 3.5rem;
$font-size-h2          : 2.5rem;
$font-size-h3          : 1.75rem;
$font-size-h4          : 1.25rem;
$font-size-h5          : 1rem;
$font-size-h6          : 0.75rem;	


// GLOBAL SPACING HIERARCHY WITH <section>
// ---------------------------
// Files: 00.global/scss/06.spacing.scss
//
$spacing-default        : 6.5625rem;
$spacing-large          : 11.375rem;
$spacing-small          : 4.8125rem;
$spacing-default-mobile : 4.265625rem;
$spacing-large-mobile   : 4.265625rem;
$spacing-small-mobile   : 2.625rem;


// COLOR PALETTE
// ---------------------------
//
//Placeholder Text Color
$placeholder-text-color: #E6E6E8;

//Highlight Color
$highlight-color1      : #EC5E79; //rgba(236, 94, 121, 1)
$highlight-color2      : #E8588C; //rgba(232, 88, 140, 1)

//Primary Text Color
$primary-text-color1   : #212121;
$primary-text-color2   : #474747;

//Heading Text Color
$heading-text-color    : #212121;

//Subordinate Text Color
$sub-text-color        : #AEAEAE;

//Dividing Line Color
$dividing-line-color   : #F4F4F4;

//Button Gradient Color
$btn-gradient-color1   : #EC5E79;
$btn-gradient-color2   : #f60;
$btn-gradient-color3   : #d83ba0;


//Primary Background Color
$primary-bg-color      : transparent;


// Easing Transition
// ---------------------------
//
@mixin transition-cubic-bezier() {
	/* @include transition-cubic-bezier(); */
	  transition: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}



// Default Transition
// ---------------------------
//
@mixin transition-default() {
	/* @include transition-default(); */
	transition: all 0.3s ease;
}



// None Of Transition
// ---------------------------
//
@mixin transition-none() {
	/* @include transition-none(); */
	transition: none; 
}


// Background Gradient
// ---------------------------
//
@mixin bg-gradient( $direction: 'to right' ) {
	/* @include bg-gradient( 'to bottom' ); */
	//Compatible with ie9+
	background: $highlight-color1; 
	background: linear-gradient(#{$direction}, $highlight-color1 0%,$highlight-color2 100%);
}


// Icon & Text Gradient
// ---------------------------
//
@mixin icontxt-gradient( $direction: 'to right' ) {
	/* @include icontxt-gradient( 'to bottom' ); */
	/* The font is the default color when the browser is IE */
	background: linear-gradient(#{$direction}, $highlight-color1 0%,$highlight-color2 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	
}


// Gradient Border
// ---------------------------
//
@mixin gradient-border( $color1, $color2, $border-width, $direction, $bg ) {
	/* @include gradient-border( $highlight-color1, $highlight-color2, 3px, 'to right', #fff ); */
	//Compatible with ie9+
	background: #{$bg};
   
	
	&::after {
		/* Please do not convert it to block elements and set width and height. */
		content: '';
		background: #{$color1};
		background: linear-gradient(#{$direction}, #{$color1} 0%, #{$color2} 100%), linear-gradient(#{$direction}, #{$color1} 0%, #{$color2} 100%);
		position: absolute;
		top: -#{$border-width};
		bottom: -#{$border-width};
		right: -#{$border-width};
		left: -#{$border-width};
		z-index: -1;
		border-radius: inherit;
	}
	
}


// Outer Shadow Effect
// ---------------------------
//
@mixin outer-shadow() {
	/* @include outer-shadow(); */
	box-shadow: 0 4px  4px  rgba(0, 0, 0, .05),
               0 1px  6px  rgba(0, 0, 0, .05),
               0 8px  8px  rgba(0, 0, 0, .05), 
               0 16px 16px rgba(0, 0, 0, .05), 
               8px 32px 32px rgba(0, 0, 0, .02), 
               8px 64px 64px rgba(0, 0, 0, .02);
	
}

@mixin outer-shadow-large() {
	/* @include outer-shadow-large(); */
	box-shadow: 0 31px 32px 0 #cbdfee;
	
}


// Text wWith Ellipsis
// ---------------------------
//
@mixin ellipsis(){
	/* @include ellipsis(); */
	overflow: hidden;
	text-overflow: ellipsis;	
	width: 100%;
	white-space: nowrap;
	
}

// Adding Stroke to Web Text
// ---------------------------
//
@mixin stroke-text( $color, $width: '1px', $fill: 'white' ){
	/* @include stroke-text( $highlight-color1, 1px, white ); */
	text-fill-color: #{$fill}; /* Will override color (regardless of order) */
	text-stroke-width: #{$width};
	text-stroke-color: #{$color};
	
}

//  Make the cursor a hand when a user hovers over an item
// ---------------------------
//
@mixin cursor-img( $img: '../../assets/images/demo/cursorhand.png' ){
	/* @include cursor-img( '../../assets/images/demo/cursorhand.png' ); */
	cursor: url(#{$img}), auto;
	
}

//  Resize the background image to cover the entire container
// ---------------------------
//
@mixin background-cover() {
	/* @include background-cover(); */
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}


// Custom Scrollbar
// ---------------------------
//
@mixin customScrollbar( $dir ){
	/* @include customScrollbar( 'vertical' ) ; */
	&::-webkit-scrollbar-track {
		border-radius: 0px;
		background-color: #E6E3E3;
	}

	@if ($dir == 'vertical') {
		&::-webkit-scrollbar {
			height: 5px;
			background-color: $highlight-color1;
		}
	} @else {
		&::-webkit-scrollbar {
			width: 5px;
			background-color: $highlight-color1;
		}
	}
	

	&::-webkit-scrollbar-thumb {
		border-radius: 0px;
		background-color: $highlight-color1;
	}
	
}




// Ripple Effect
// ---------------------------
//
@mixin anime-ripple() {
	/* @include ianime-ripple(); */
	animation: ripple 0.6s linear infinite;
}


/* Ripple Effect */
@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
    }
}

