/* ====================================================== 
    <!-- Basic -->
/* ====================================================== */

::placeholder {
	color: $placeholder-text-color;
}

:root {
	--blue: #007007;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #868e96;
	--gray-dark: #343a40;
	--primary: #007bff;
	--secondary: #868e96;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;
}

::selection, 
::-moz-selection, 
::-webkit-selection {
	background: #1f1f1f;
	color: #fff;
}

html, 
body {
	width: 100%;
	height: 100%;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: $basic-font-size;
	/* Required, global font size */
}

*, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
ul, 
ol,
a {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.71428571429;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: $font-stack;
	color: $primary-text-color1;
	background-color: $primary-bg-color;
}

:active, :focus {
    outline: none !important;
}

p, 
pre, 
table, 
blockquote {
    margin-bottom: 1.421875rem;
}


select {
    max-width: 100%;
}

blockquote {
	background: #fff;
	border: 1px solid #F8F8F8;
	border-left: 5px solid $highlight-color1;
	padding: 0 1.75rem 1.25rem;
	margin-top: 1.421875rem;
	line-height: 2;
	font-size: 1rem;
	
	&:before {
		color: $highlight-color1;
		content: open-quote;
		font-size: 5.25rem;
		line-height: 0.1;
		margin-right: 0.21875rem;
		vertical-align: -2.055rem;
		font-family: sans-serif;
		content: "\201C";
		/*Unicode for Left Double Quote*/
	}
}

strong {
    font-weight: 600;
}

hr {
	margin: 1.421875rem 0;
	border-color: $dividing-line-color;
	
	&.black {
		border-color: rgba(255,255,255,.1);
	}
	
}

a img {
    border: none;
}

img {
    max-width: 100%;
}

iframe {
    border: none !important;
}




