/* ====================================================== 
   2. Helper Classes                                
/* ====================================================== */

.relative {
  position: relative;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix {
  *zoom: 1;
  &:before {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    display: table;
    content: "";
    line-height: 0;
    clear: both;
  }
}

.transition {
  @include transition-default();
  div {
    &.nav-previous, &.nav-next {
      @include transition-default();
    }
  }
  img, a, i, li, span {
    @include transition-default();
  }
}

/* Style of Irregular Shape */
.skew-element {
    -ms-transform: skew(0deg, -2deg); /* IE 9 */
    -webkit-transform: skew(0deg, -2deg); /* Chrome, Safari, Opera */
    transform: skew(0deg, -2deg);	
}
