/* ====================================================== 
    <!-- Helper Classes -->              
/* ====================================================== */

/*
 * 1. Content Block                     
 * 2. Elements after a floating element will flow around it.
 * 3. Shadow Effect
 * 4. Smooth Transition Effect
 * 5. Element Floating
 * 6. Element Alignment
 * 7. Truncate String with Ellipsis
 * 8. Vertically or Horizontally Aligned Blocks
 * 9. Specifies Whether To Clip Content
 * 10. Specifies a Default Height
 * 11. Hidden The Element on Mobile Device
 * 12. Tip Bubble
 * 13. Image Hover Overlay Effects
 * 14. Position
 * 15. Element Hidden Style
 * 16. Border Radius
 * 17. Set the value of <section> z-index to solve the hierarchy problem of the module
*/



/* 
 ---------------------------
 1. Content Block
 ---------------------------
 */ 
.uix-relative {
    position: relative;
	
}

.uix-relative--inline {
	display: inline-block;
	position: relative;
	
	/* Prevent content overflow */
	max-width: 100%;
	
	/* Behave like most inline-block elements */
	vertical-align: middle;
	
	/*
	 * Force hardware acceleration without creating a new stacking context
	 *    to fix 1px glitch when combined with overlays and transitions in Webkit
	 */
	-webkit-backface-visibility: hidden;
	

}

/* Clip child elements */
.uix-relative--inline-clip {
  overflow: hidden;
}

/* 
 ---------------------------
 2. Elements after a floating element will flow around it. 
    Use the "uix-clear" or "uix-clearfix" hack to fix the problem
 ---------------------------
 */ 
.uix-clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.uix-clearfix {
	
	&::before {
		display: table;
		content: "";
		line-height: 0;
	}
	
	&::after {
		display: table;
		content: "";
		line-height: 0;
		clear: both;
	}
}


/* 
 ---------------------------
 3. Shadow Effect
 ---------------------------
 */ 
.uix-outer-shadow--s {
    @include outer-shadow( 1 );
}
.uix-outer-shadow--l {
    @include outer-shadow( 2 );
}

.uix-none-shadow {
	box-shadow: none !important;
	text-shadow: none !important;
}

/* 
 ---------------------------
 4. Smooth Transition Effect
 ---------------------------
 */ 
.uix-trans {
    @include transition-default();

    img, 
	a, 
	i, 
	li, 
	span {
        @include transition-default();
    }
}




/* 
 ---------------------------
 5. Element Floating
 ---------------------------
 */ 
.uix-f-l {
    float: left;
	
	@media all and (max-width: 768px) {
		&.mobile-none {
			float: none;
		}
	}
}

.uix-f-r {
    float: right;
	
	@media all and (max-width: 768px) {
		&.mobile-none {
			float: none;
		}
	}
}


/* 
 ---------------------------
 6. Element Alignment
 ---------------------------
 */ 
.uix-t-r {
    text-align: right;
	
	@media all and (max-width: 768px) {
		&.mobile-center {
			text-align: center;
		}	
		
		&.mobile-left {
			text-align: left;
		}			
		
	}
}

.uix-t-l {
    text-align: left;
	
	@media all and (max-width: 768px) {
		&.mobile-center {
			text-align: center;
		}
		&.mobile-right {
			text-align: right;
		}		
		
	}
}


.uix-t-c {
    text-align: center;
}


/* 
 ---------------------------
 7. Truncate String with Ellipsis
 ---------------------------
 */ 
.uix-t-ellipsis {
	@include ellipsis();
}


/* 
 ---------------------------
 8. Vertically or Horizontally Aligned Blocks
 ---------------------------
 */ 
.uix-v-align--absolute,
.uix-v-align--relative {
    position: absolute;
    z-index: 6;
    width: 100%;
	/* Vertical Center */
	top: 50%;
	transform: translateY(-50%);	
}

.uix-v-align--relative {
    position: relative;
}


@media all and (max-width: 768px) {
	.uix-v-align--relative {
		top: 0;
		transform: none;
	}
}

.uix-v-align--table {
	display: table;
	width: 100%;
	height: 100%;
	> div {
		display: table-cell;
		vertical-align: middle;
	}
}


/* 
 ---------------------------
 9. Specifies Whether To Clip Content
 ---------------------------
 */ 
.uix-hidden-scrollbar-x {
    overflow-x: hidden;
}

.uix-hidden-scrollbar {
    overflow: hidden;
}



/* 
 ---------------------------
 10. Specifies a Default Height
 ---------------------------
 */ 
.uix-height--10 {
    height: 10vh !important;
}

.uix-height--20 {
    height: 20vh !important;
}

.uix-height--30 {
    height: 30vh !important;
}

.uix-height--40 {
    height: 40vh !important;
}

.uix-height--50 {
    height: 50vh !important;
}

.uix-height--60 {
    height: 60vh !important;
}

.uix-height--70 {
    height: 70vh !important;
}

.uix-height--80 {
    height: 80vh !important;
}

.uix-height--90 {
    height: 90vh !important;
}

.uix-height--100 {
    height: 100vh !important;
}

@media all and (max-width: 768px) {
	.uix-height--100:not(.is-mobile-still), 
	.uix-height--90:not(.is-mobile-still), 
	.uix-height--80:not(.is-mobile-still), 
	.uix-height--70:not(.is-mobile-still), 
	.uix-height--60:not(.is-mobile-still), 
	.uix-height--50:not(.is-mobile-still), 
	.uix-height--40:not(.is-mobile-still), 
	.uix-height--30:not(.is-mobile-still), 
	.uix-height--20:not(.is-mobile-still), 
	.uix-height--10:not(.is-mobile-still) {
	    height: auto !important;
		
	}
}



/* 
 ---------------------------
 11. Hidden The Element on Mobile Device
 ---------------------------
 */ 


.uix-mobile-el {
	display: none;
}
@media all and (max-width: 768px) {
	.uix-mobile-el {
		display: block;
	}
	
	.is-mobile-hide {
		display: none;
	}

}


/* 
 ---------------------------
 12. Tip Bubble
 ---------------------------
 */ 
.uix-bubble {
	font-weight: 100;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1.2;
	background: $highlight-color1;
	border-radius: 10px;
	padding: .1rem .3rem !important;
	margin-left: .5rem;
	font-size: 0.625rem;
	vertical-align: middle;
	color: #fff !important;
	position: absolute;
	right: 2.3rem;
	top: .5rem;
	transform: scale(.7);
}

@media all and (max-width: 768px) {
	.uix-bubble {
		right: 1rem;
		top: .7rem;
	}

}

/* 
 ---------------------------
 13. Image Hover Overlay Effects
 ---------------------------
 */ 
img.uix-filter-hover--color,
.uix-filter-hover--color img {
	transition: filter .3s cubic-bezier(.445,.05,.55,.95);
    will-change: filter;
	
	&:hover {
		filter: brightness(120%) hue-rotate(45deg);
	}
}



/* 
 ---------------------------
 14. Position
 ---------------------------
 */ 
/*--- Directions --- */
[class*='uix-dir--top'],
[class*='uix-dir--bottom'],
[class*='uix-dir--left'],
[class*='uix-dir--right'],
[class*='uix-dir--center'] {
    position: absolute !important;
}


/* Don't use `width: 100%` because it is wrong if the parent has padding. */
.uix-dir--top {
	top: 0;
	left: 0;
	right: 0;
}
.uix-dir--bottom {
	bottom: 0;
	left: 0;
	right: 0;
}
.uix-dir--left {
	top: 0;
	bottom: 0;
	left: 0;
}
.uix-dir--right {
	top: 0;
	bottom: 0;
	right: 0;
}

.uix-dir--top-left {
	top: 0;
	left: 0;
}
.uix-dir--top-right {
	top: 0;
	right: 0;
}
.uix-dir--bottom-left {
	bottom: 0;
	left: 0;
}
.uix-dir--bottom-right {
	bottom: 0;
	right: 0;
}


/* 
 ---------------------------
 15. Element Hidden Style
 ---------------------------
 */ 
.uix-el--transparent {
	opacity: 0;
}
.uix-el--zoom {
	transform: scale(0);
}
.uix-el--skew {
    transform: skew(0deg, -2deg);	
}

/* 
 ---------------------------
  16. Border Radius
 ---------------------------
 */ 
.uix-border--rounded {
	
	border-radius: 4px;
	
	&.uix-border--rounded-img {
		> img {
			border-radius: 4px;
		}		
	}
	
	&.uix-border--rounded-only-img {
		border-radius: 0;
		> img {
			border-radius: 4px;
		}		
	}	
	

}

.uix-border--circle {
	border-radius: 50%;
	
	&.uix-border--circle-img {
		> img {
			border-radius: 50%;
		}		
	}
	
	&.uix-border--circle-only-img {
		border-radius: 0;
		> img {
			border-radius: 50%;
		}		
	}	
}

/* 
 ---------------------------
  17. Set the value of <section> z-index to solve the hierarchy problem of the module
 ---------------------------
 */ 
.uix-section-index-1 {
	position: relative;
	z-index: 1;
}

.uix-section-index-2 {
	position: relative;
	z-index: 2;
}
