/* ====================================================== 
   4. Spacing                                
/* ====================================================== */

section, 
.section {
    position: relative;
}

section, 
.section {
	padding-top: 6.5625rem;
	padding-bottom: 7.984375rem;
}

section.space-sm, 
.section.space-sm {
    padding-top: 4.8125rem;
    padding-bottom: 4.8125rem;
}

section.space-lg, 
.section.space-lg {
    padding-top: 11.375rem;
    padding-bottom: 11.375rem;
}

section.space-none, 
.section.space-none {
    padding: 0 !important;
}

section.space-none-top, 
.section.space-none-top {
    padding-top: 0 !important;
}

section.space-none-bottom, 
.section.space-none-bottom {
    padding-bottom: 0 !important;
}

section.site-google-map, 
.section.site-google-map {
    padding-top: 0 !important;
}

@media all and (max-width: 768px) {
	section, 
	.section {
		padding: 4.265625rem 0;
	}
	section.space-sm, 
	.section.space-sm {
		padding-top: 2.625rem;
		padding-bottom: 2.625rem;
	}
	section.space-lg, 
	.section.space-lg {
		padding: 4.265625rem 0;
	}
	section.space-none, 
	.section.space-none {
		padding: 0;
	}
	section.space-none-top, 
	.section.space-none-top {
		padding-top: 0;
	}
	section.space-none-bottom, 
	.section.space-none-bottom {
		padding-bottom: 0;
	}
	section.site-google-map, 
	.section.site-google-map {
		padding-top: 0;
	}
}