/* ====================================================== 
   <!-- Typography -->            
/* ====================================================== */

/*
 * 1. General                    
 * 2. Hyperlink                        
 * 3. Heading (h1,h2,h3,h4,h5,h6) 
 * 4. Text Effect
 * 5. Table & List Effect by Default
 * 6. Drop Cap
 * 7. Vertical Text
*/


/* 
 ---------------------------
 1. General
 ---------------------------
 */ 
a,
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
.uix-typo--h1, 
.uix-typo--h2, 
.uix-typo--h3, 
.uix-typo--h4, 
.uix-typo--h5, 
.uix-typo--h6 {
    @include transition-default();
}

/* 
 ---------------------------
 2. Hyperlink
 ---------------------------
 */ 
a {
	color: $primary-text-color2;
	
	&:hover, 
	&:focus, 
	&:active {
		color: #000;
		text-decoration: none;
		outline: none;
	}
	
	&:hover, 
	&:active, 
	&:focus {
		
	}

}

/* 
 ---------------------------
 3. Heading (h1,h2,h3,h4,h5,h6)
 ---------------------------
 */ 
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
.uix-typo--h1, 
.uix-typo--h2, 
.uix-typo--h3, 
.uix-typo--h4, 
.uix-typo--h5, 
.uix-typo--h6 {
	color: $heading-text-color;
	font-weight: 700;
	font-variant-ligatures: common-ligatures;
	/*Ligatures and contextual forms are ways of combining glyphs to produce more harmonized forms.*/
	margin-top: 0;
	margin-bottom: 0.625rem;
	padding: 0 0 0.546875rem;
	word-wrap: break-word;
	

}

h1 {
	font-size: $font-size-h1;
	line-height: 1.14285714286;
}

h2 {
	font-size: $font-size-h2;
	line-height: 1.2;
}

h3 {
	font-size: $font-size-h3;
	line-height: 1.25;
}

h4 {
	font-size: $font-size-h4;
	line-height: 1.33333333333;
}

h5 {
	font-size: $font-size-h5;
	line-height: 1.5;
	font-weight: 600;
}

h6 {
	font-size: $font-size-h6;
	line-height: 2;
	font-weight: 600;
}

.uix-typo--h1 {
	font-size: $font-size-h1 !important;
	line-height: 1.14285714286 !important;
}

.uix-typo--h2 {
	font-size: $font-size-h2 !important;
	line-height: 1.2 !important;
}

.uix-typo--h3 {
	font-size: $font-size-h3 !important;
	line-height: 1.25 !important;
}

.uix-typo--h4 {
	font-size: $font-size-h4 !important;
	line-height: 1.33333333333 !important;
}

.uix-typo--h5 {
	font-size: $font-size-h5 !important;
	line-height: 1.5 !important;
	font-weight: 600 !important;
}

.uix-typo--h6 {
	font-size: $font-size-h6 !important;
	line-height: 2 !important;
	font-weight: 600 !important;
}


@media all and (max-width: 768px) {
	h1 {
		font-size: #{$font-size-h1*0.71428571428571};
		line-height: 1.15555556;
	}
	h2 {
		font-size: #{$font-size-h2*0.7};
		line-height: 1.421875;
	}
	h3 {
		font-size: #{$font-size-h3*0.71428571428571};
		line-height: 1.625;
	}
	.uix-typo--h1 {
		font-size: #{$font-size-h1*0.71428571428571} !important;
		line-height: 1.15555556 !important;
	}
	.uix-typo--h2 {
		font-size: #{$font-size-h2*0.7} !important;
		line-height: 1.421875 !important;
	}
	.uix-typo--h3 {
		font-size: #{$font-size-h3*0.71428571428571} !important;
		line-height: 1.625 !important;
	}
}

@media all and (max-width: 480px) {
	h1 {
		font-size: #{$font-size-h1*0.60714285714286};
		line-height: 1.38461538462;
	}
	h2 {
		font-size: #{$font-size-h2*0.7};
		line-height: 1.28571428571;
	}
	h3 {
		font-size: #{$font-size-h3*0.78571428571429};
		line-height: 1.5;
	}
	.uix-typo--h1 {
		font-size: #{$font-size-h1*0.35714285714286} !important;
		line-height: 1.38461538462 !important;
	}
	.uix-typo--h2 {
		font-size: #{$font-size-h2*0.6} !important;
		line-height: 1.28571428571 !important;
	}
	.uix-typo--h3 {
		font-size: #{$font-size-h3*0.71428571428571} !important;
		line-height: 1.5 !important;
	}
}	



/* 
 ---------------------------
 4. Text Effect
 ---------------------------
 */ 
/* Without spacing */
.uix-typo--no-spacing {
	margin: 0 !important;
	padding: 0 !important;
}

.uix-typo--style-normal {
	font-family: $font-stack;
	font-weight: 400 !important;
}

.uix-typo--style-uppercase {
    text-transform: uppercase !important;
}

.uix-typo--style-bold {
    font-weight: 800 !important;
}

.uix-typo--style-italic {
    font-style: italic !important;
}

.uix-typo--style-noitalic {
    font-style: normal !important;
}

.uix-typo--style-underline {
    text-decoration: underline !important;
}

.uix-typo--style-tiny {
	font-size: 0.75rem !important;
}

.uix-typo--color-primary {
	color: $primary-text-color1 !important;
	
	p,
	h1, 
	h2, 
	h3, 
	h4, 
	h5, 
	h6, 
	.uix-typo--h1, 
	.uix-typo--h2, 
	.uix-typo--h3, 
	.uix-typo--h4, 
	.uix-typo--h5, 
	.uix-typo--h6 {
	    color: $primary-text-color1;
	}
}


.uix-typo--color-highlight {
	color: $highlight-color1 !important;
	
	
	p,
	h1, 
	h2, 
	h3, 
	h4, 
	h5, 
	h6, 
	.uix-typo--h1, 
	.uix-typo--h2, 
	.uix-typo--h3, 
	.uix-typo--h4, 
	.uix-typo--h5, 
	.uix-typo--h6 {
	    color: $highlight-color1;
	}	
	
}

.uix-typo--color-sub {
	color: $sub-text-color !important;
	
	p,
	h1, 
	h2, 
	h3, 
	h4, 
	h5, 
	h6, 
	.uix-typo--h1, 
	.uix-typo--h2, 
	.uix-typo--h3, 
	.uix-typo--h4, 
	.uix-typo--h5, 
	.uix-typo--h6 {
	    color: $sub-text-color;
	}
}



.uix-typo--color-white {
	color: white !important;
	
	p,
	h1, 
	h2, 
	h3, 
	h4, 
	h5, 
	h6, 
	.uix-typo--h1, 
	.uix-typo--h2, 
	.uix-typo--h3, 
	.uix-typo--h4, 
	.uix-typo--h5, 
	.uix-typo--h6 {
	    color: white;
	}
}

/* 
 ---------------------------
 5. Table & List Effect by Default
 ---------------------------
 */ 
/* Compatible with  Uix Shortcodes (WordPress Plugin) */
.uix-list--normal a:not(.uix-sc-btn), 
.uix-table a:not(.uix-sc-btn) {
    color: $highlight-color1;
}

.uix-list--normal a:not(.uix-sc-btn):not(.uix-btn):hover, 
.uix-table a:not(.uix-sc-btn):not(.uix-btn):hover {
    color: $highlight-color2;
    text-decoration: underline;
}

.uix-list--normal a:not(.uix-sc-btn):hover img, 
.uix-table a:not(.uix-sc-btn):hover img {
    text-decoration: none;
}


/* 
 ---------------------------
 6. Drop Cap
 ---------------------------
 */ 
.uix-typo--dropcap::first-letter,
.uix-typo--dropcap > p:first-of-type::first-letter {
    display: block;
    margin-right: 10px;
    float: left;
    font-size: 3.5rem;
    line-height: 1;
    margin-bottom: -2px;
}

/* 
 ---------------------------
 7. Vertical Text
 ---------------------------
 */ 
.uix-typo--vertical {

	&:not(.uix-typo--vertical-characters-line) {
		transform: rotate(90deg);
		transform-origin: left top 0;
		line-height: 0;/* Fix the problem of left-leaning text after rotation */
	
	}
	
	/* Defines the orientation of the text characters in a line.  */
	&.uix-typo--vertical-characters-line {
		width: 1px;
		word-wrap: break-word;
		line-height: 1;
		white-space: pre-wrap;/* this is for displaying whitespaces including Firefox */
	}
}

