/* ====================================================== 
   <!-- Typography -->            
/* ====================================================== */

a,
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
.h1, 
.h2, 
.h3, 
.h4, 
.h5, 
.h6 {
    @include transition-default();
}

/* 
 ---------------------------
 Hyperlink
 ---------------------------
 */ 
a {
	color: $primary-text-color2;
	
	&:hover, 
	&:focus, 
	&:active {
		color: #000;
		text-decoration: none;
		outline: none;
	}
	
	&:hover, 
	&:active, 
	&:focus {
		
	}
	
	&.link {
		text-decoration: underline;
		color: $highlight-color1;
		&:hover {
			color: $highlight-color2;
		}
	}
}

/* 
 ---------------------------
 Heading (h1,h2,h3,h4,h5,h6)
 ---------------------------
 */ 
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
.h1, 
.h2, 
.h3, 
.h4, 
.h5, 
.h6 {
	color: $heading-text-color;
	font-weight: 700;
	font-variant-ligatures: common-ligatures;
	/*Ligatures and contextual forms are ways of combining glyphs to produce more harmonized forms.*/
	margin-top: 0;
	margin-bottom: 0.625rem;
	padding: 0 0 0.546875rem;
	word-wrap: break-word;
}

h1 {
	font-size: 3.5rem;
	line-height: 1.14285714286;
}

h2 {
	font-size: 2.5rem;
	line-height: 1.2;
}

h3 {
	font-size: 1.75rem;
	line-height: 1.25;
}

h4 {
	font-size: 1.25rem;
	line-height: 1.33333333333;
}

h5 {
	font-size: 1rem;
	line-height: 1.5;
	font-weight: 600;
}

h6 {
	font-size: 0.75rem;
	line-height: 2;
	font-weight: 600;
}

.h1 {
	font-size: 3.5rem !important;
	line-height: 1.14285714286 !important;
}

.h2 {
	font-size: 2.5rem !important;
	line-height: 1.2 !important;
}

.h3 {
	font-size: 1.75rem !important;
	line-height: 1.25 !important;
}

.h4 {
	font-size: 1.25rem !important;
	line-height: 1.33333333333 !important;
}

.h5 {
	font-size: 1rem !important;
	line-height: 1.5 !important;
	font-weight: 600 !important;
}

.h6 {
	font-size: 0.75rem !important;
	line-height: 2 !important;
	font-weight: 600 !important;
}

@media all and (max-width: 768px) {
	h1 {
		font-size: 2.5rem;
		line-height: 1.15555556;
	}
	h2 {
		font-size: 1.75rem;
		line-height: 1.421875;
	}
	h3 {
		font-size: 1.25rem;
		line-height: 1.625;
	}
	.h1 {
		font-size: 2.5rem !important;
		line-height: 1.15555556 !important;
	}
	.h2 {
		font-size: 1.75rem !important;
		line-height: 1.421875 !important;
	}
	.h3 {
		font-size: 1.25rem !important;
		line-height: 1.625 !important;
	}
}

@media all and (max-width: 480px) {
	h1 {
		font-size: 1.25rem;
		line-height: 1.38461538462;
	}
	h2 {
		font-size: 1.5rem;
		line-height: 1.28571428571;
	}
	h3 {
		font-size: 1.25rem;
		line-height: 1.5;
	}
	.h1 {
		font-size: 1.25rem !important;
		line-height: 1.38461538462 !important;
	}
	.h2 {
		font-size: 1.5rem !important;
		line-height: 1.28571428571 !important;
	}
	.h3 {
		font-size: 1.25rem !important;
		line-height: 1.5 !important;
	}
}


/* 
 ---------------------------
List Normal & Other Text
 ---------------------------
 */ 
.font-normal {
	font-family: $font-stack;
	font-weight: 400 !important;
}

.font-uppercase {
    text-transform: uppercase !important;
}

.font-bold {
    font-weight: 800 !important;
}

.font-italic {
    font-style: italic !important;
}

.font-no-italic {
    font-style: normal !important;
}

.font-underline {
    text-decoration: underline !important;
}

.font-primary-color {
	color: $highlight-color1 !important;
}

.font-sub-color {
	color: $sub-text-color !important;
}


/* Compatible with  Uix Shortcodes (WordPress Plugin) */
.list-normal a:not(.uix-sc-btn), 
.table-normal a:not(.uix-sc-btn) {
    color: $highlight-color1;
}

.list-normal a:not(.uix-sc-btn):not(.button):hover, 
.table-normal a:not(.uix-sc-btn):not(.button):hover {
    color: $highlight-color2;
    text-decoration: underline;
}

.list-normal a:not(.uix-sc-btn):hover img, 
.table-normal a:not(.uix-sc-btn):hover img {
    text-decoration: none;
}