/* ====================================================== 
   <!-- Spacing -->                                
/* ====================================================== */

section,
.uix-section {
    position: relative;
	padding: $spacing-default 0;
	

	&.uix-section--sm {
		padding: $spacing-small 0;
	}

	&.uix-section--lg {
		padding: $spacing-large 0;
	}

	&.uix-section--no-spacing {
		padding: 0 !important;
	}

	&.uix-section--no-spacing-top {
		padding-top: 0 !important;
	}

	&.uix-section--no-spacing-bottom {
		padding-bottom: 0 !important;
	}

	&.uix-section--googlemap {
		padding-top: 0 !important;
	}
	
}


@media all and (max-width: 768px) {
	section,
	.uix-section {
		padding: $spacing-default-mobile 0;
		
		&.uix-section--sm {
			padding: $spacing-small-mobile 0;
		}
		
		&.uix-section--lg {
			padding: $spacing-large-mobile 0;
		}
		&.uix-section--no-spacing {
			padding: 0;
		}
		&.uix-section--no-spacing-top {
			padding-top: 0;
		}
		&.uix-section--no-spacing-bottom {
			padding-bottom: 0;
		}
		&.uix-section--googlemap {
			padding-top: 0;
		}		
	}

}