/* ====================================================== 
   <!-- Spacing -->                                
/* ====================================================== */

section, 
.section {
    position: relative;
}

section, 
.section {
	padding: $spacing-default 0;
}

section.space-sm, 
.section.space-sm {
    padding: $spacing-small 0;
}

section.space-lg, 
.section.space-lg {
    padding: $spacing-large 0;
}

section.space-none, 
.section.space-none {
    padding: 0 !important;
}

section.space-none-top, 
.section.space-none-top {
    padding-top: 0 !important;
}

section.space-none-bottom, 
.section.space-none-bottom {
    padding-bottom: 0 !important;
}

section.site-google-map, 
.section.site-google-map {
    padding-top: 0 !important;
}

@media all and (max-width: 768px) {
	section, 
	.section {
		padding: $spacing-default-mobile 0;
	}
	section.space-sm, 
	.section.space-sm {
		padding: $spacing-small-mobile 0;
	}
	section.space-lg, 
	.section.space-lg {
		padding: $spacing-large-mobile 0;
	}
	section.space-none, 
	.section.space-none {
		padding: 0;
	}
	section.space-none-top, 
	.section.space-none-top {
		padding-top: 0;
	}
	section.space-none-bottom, 
	.section.space-none-bottom {
		padding-bottom: 0;
	}
	section.site-google-map, 
	.section.site-google-map {
		padding-top: 0;
	}
}