/* ====================================================== 
   <!-- Header Area -->                                        
/* ====================================================== */

/*
 * 1. Default
 * 2. Theme - White
*/



/* 
 ---------------------------
 1. Default
 ---------------------------
 */ 

/* Don't use "margin" or "padding" to set up ".header-area" */

.header-area {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 90000;
	border-bottom: 2.15px solid rgba(255, 255, 255, .2);
	box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.08);
	background: #F3556D; 
	background: linear-gradient(to right, #F3556D 0%,#E22444 100%);	
	
	
	&.spy-scroll-fixed {
		
	}
}


/* Don't use "margin" or "padding" to set up ".header-container" */

.header-container {
	/* Floating layer protection for IE */
	background: url(../images/blank.gif);
	
	.menu-right {
		float: right;
	}
}


.navbar-fixed-top .header-container {
	
}

.header-inner {
	height: 185px;
	background: none;
	
	&.auto-height {
	    height: 75px;
	}
	
	&.none-height {
	    height: 0 !important;
	}
	
	
	&.spy-scroll-fixed {
		
	}
}




/* 
 ---------------------------
 2. Theme - White
 ---------------------------
 */ 
.theme-white {
  
	.header-area {
		background: rgba(255, 255, 255, 0.15);
		background: linear-gradient(to right, rgba(255, 255, 255, 0.15) 0%,rgba(255, 255, 255, 0.15) 100%);	
		
		&.spy-scroll-fixed {
			background: #F3556D; 
			background: linear-gradient(to right, #F3556D 0%,#E22444 100%);	
		}
	
	}
}


@media all and (max-width: 768px) {
	
	
	.header-area {
		position: relative;

	}
	
	.header-inner {
		height: calc(185px - 75px);

		&.auto-height {
			height: 0;
		}

	}

	
	.theme-white {

		.header-area {
			background: #F3556D; 
			background: linear-gradient(to right, #F3556D 0%,#E22444 100%);	
			position: relative;
			
		}

	}

}
