/* ====================================================== 
   <!-- Header Area -->                                        
/* ====================================================== */

/*
 * 1. Default
 * 2. Theme - White
*/



/* 
 ---------------------------
 1. Default
 ---------------------------
 */ 

/* Don't use "margin" or "padding" to set up ".uix-header__container" */

.uix-header__container {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 90000;
	border-bottom: 2.15px solid rgba(255, 255, 255, .2);
	box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.08);
	background: #F3556D; 
	background: linear-gradient(to right, #F3556D 0%,#E22444 100%);	
	
	
	&.is-fixed {
		
	}
	

	/* 
	 ---------------------------
	 2. Overlay Header
	 ---------------------------
	 */ 
	&.uix-header__container--overlay {
		background: rgba(255, 255, 255, 0.15);
		background: linear-gradient(to right, rgba(255, 255, 255, 0.15) 0%,rgba(255, 255, 255, 0.15) 100%);	

		&.is-fixed {
			background: #F3556D; 
			background: linear-gradient(to right, #F3556D 0%,#E22444 100%);	
		}

	}

	
}


/* Don't use "margin" or "padding" to set up ".uix-header" */

.uix-header {
	/* Floating layer protection for IE */
	background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
	
	.uix-menu__right-box {
		float: right;
	}
}



/* Header Placeholder, to prevent floating elements from affecting layout */
.uix-header__placeholder {
	height: 185px;
	background: none;
	
	&.uix-header__placeholder--auto-height {
	    height: 75px;
	}

}



@media all and (max-width: 768px) {
	
	
	.uix-header__container {
		position: relative;

		
		&.uix-header__container--overlay {

			background: #F3556D; 
			background: linear-gradient(to right, #F3556D 0%,#E22444 100%);	
			position: relative;

		}

		
	}
	
	.uix-header__placeholder {
		height: calc(185px - 75px);

		&.uix-header__placeholder--auto-height {
			height: 0;
		}

	}

	
}
