/* ====================================================== 
   <!-- Footer -->                               
/* ====================================================== */
.uix-footer__container {
	font-size: 0.75rem;
	padding: 2.625rem 0;
	
	ul li {
		display: inline-block;
		margin: 0.175rem 0.4375rem;
	}
}

@media all and (max-width: 768px) {
	.uix-footer__container {
		
		.pull-left, 
		.pull-right {
			float: none !important;
		}
	}
}
