/* ====================================================== 
   16. Sidebar            
/* ====================================================== */
/*! 
 ---------------------------
 16.1. Basic
 ---------------------------
 */ 
.sidebar-container {
	position: relative;
	word-wrap: break-word;
	padding-left: 2.1875rem;
	line-height: 1.825;
	
	.widget {
		padding-bottom: 2.625rem;
		font-size: 0.875rem;

		&.sticky {
			position: fixed;
			top: 0;

		}
	}

	.widget-title {
		margin: 0 0 0.875rem;
	}
	
}

@media all and (max-width: 768px) {
	.sidebar-container {
		padding-left: 0;
	}
}

/*! 
 ---------------------------
 16.2. Calendar Widget
 ---------------------------
 */ 
.calendar-box {
	padding: 1.3125rem 0;
	width: 100%;
	font-size: 0.5625rem;
	
	caption {
		text-align: center;
		margin: 0.875rem 0;
		font-size: 1.25rem;
	}
	thead th {
		padding-bottom: 0.625rem;
		text-align: center;
	}
	tbody {
		td {
			background: #f5f5f5;
			border: 1px solid #fff;
			text-align: center;
			padding: 0.5rem;

			&:hover {
				background: #fff;
			}
		}

		.pad {
			background: none;
		}
	}

	tfoot {
		#next {
			text-transform: uppercase;
			text-align: right;
		}
		#prev {
			text-transform: uppercase;
			padding-top: 0.875rem;
		}
	}
	
}

/*! 
 ---------------------------
 16.3. Post List
 ---------------------------
 */ 

.post-list-box li {
	border-bottom: 1px dashed #E6E6E6;
	margin-bottom: 0.721875rem;
}


/*! 
 ---------------------------
 16.4. Post List with Featured Image
 ---------------------------
 */ 
.post-img-list-box {
	
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 1.3;

	li {
		margin: 0;
		padding: 0;
		list-style: none;
		line-height: 1.3;
		border: none;
		display: block;
		margin-bottom: 0.875rem;
		display: block;
		height: auto;
		position: relative;


		&:after {
			display: block;
			content: '';
			clear: both;
			border-bottom: 1px dashed #E6E6E6;
		}

		.item-thumb {
			float: left;
			width: 39.4%;
			margin-right: 0.875rem;
			margin-bottom: 0.875rem;
			padding: 0.125rem;
			display: block;
			text-align: left;

			img {
				margin: 0;
				padding: 0;
				max-width: 100%;
			}
		}

		.item-info {
			float: left;
			width: 50%;

			&.no-image {
				float: none;
				width: 100%;
			}
		}

		&.nothumb {
			display: none;
		}


		.item-title {

		}

		.item-date {
			opacity: 0.65;
			font-size: 0.75rem;
			padding: 0.6125rem 0;
		}
	}
}

@media all and (max-width: 991px) {
	.post-img-list-box li .item-thumb {
	    width: 15%;
	}
}

@media all and (max-width: 480px) {
	.post-img-list-box li .item-thumb {
	    width: 39.4%;
	}
}

@media all and (max-width: 991px) {
	.post-img-list-box li .item-info {
	    width: 82.5%;
	}
}

@media all and (max-width: 480px) {
	.post-img-list-box li .item-info {
	    width: 50%;
	}
}

/*! 
 ---------------------------
 16.5. Link List
 ---------------------------
 */ 
.widget_categories ul, 
.widget_nav_menu ul, 
.widget_pages ul {
    margin-left: 0.875rem;
}

.widget_categories li, 
.widget_nav_menu li, 
.widget_pages li {
    margin-bottom: 0;
    position: relative;
}

.widget_categories ul > li, 
.widget_nav_menu ul > li, 
.widget_pages ul > li {
    border-bottom: 1px dashed #E6E6E6;
}

.widget_categories ul > li li, 
.widget_pages ul > li li {
    border-bottom: none;
}

.widget_categories li a, 
.widget_nav_menu li a, 
.widget_pages li a {
	display: inline-block;
	padding: 0.35546875rem;
	font-style: italic;
	transition: 0.2s linear;
}

.widget_categories li a:before, 
.widget_nav_menu li a:before, 
.widget_pages li a:before {
	content: '\203A';
	opacity: 0.7;
	margin-right: 0.721875rem;
}

.widget_categories li > .cat-item-count {
	position: absolute;
	top: 0.875rem;
	right: 0;
	border: 1px solid #C2C2C2;
	border-radius: 50px;
	display: inline-block;
	min-width: 16px;
	height: 16px;
	font-size: 0.625rem;
	text-align: center;
	line-height: 16px;
	opacity: 0.5;
}