/* ====================================================== 
   <!-- Filterable Navigation -->                 
/* ====================================================== */

/*
 * 1. Default Navigation
 * 2. Responsive Dropdown Navigation
*/


/* 
 ---------------------------
 1. Default Navigation
 ---------------------------
 */ 
.nav-filters {
	padding: 1.421875rem 0;
	
	ul {
		@include transition-default();
		margin: 0;
		font-size: 0; /*Fighting the Space Between Inline Block Elements*/

		li {
			display: inline-block;
			transition: 0.2s linear;
			margin-right: 0.203125rem;
			opacity: .5;
			font-size: 1rem; /*Fighting the Space Between Inline Block Elements*/

			&::after {
				content: '/';
				margin-left: 0.5rem;
				opacity: 0.5;
			}	
			
			&:last-child {
				margin-right: 0;
				
				&::after {
					display: none;
				}
			}
		

			&.active,
			&.current-cat {
				opacity: 1;
			}

			
		}
	}
	
	&.responsive-dropdown {
		> input{
			display: none;
		}

		.nav-filters-toggle-label {
			display: none;
			background: $primary-text-color1;
			color: #fff;
		}


	}	
	
}





/* 
 ---------------------------
 2. Responsive Dropdown Navigation
 ---------------------------
 */ 
@media all and (max-width: 768px) {
	
	.nav-filters.responsive-dropdown {

		.nav-filters-toggle-label {
			display: block;
			cursor: pointer;
			user-select: none;
		}

		> ul {
			box-shadow: 0px 7px 19px 0px rgba(0, 0, 0, 0.21);
			margin-top: -0.203125rem;
		}	

		/* wrapping this in media querry to prevent fails while change screen size and checked inputs */
		> :checked ~ ul {
			display: none;
		}

		li {
			padding: .2rem 0;
			display: block;
			width: 100%;
			border-bottom: 1px solid rgba(0,0,0,.1);
			text-align: left;
			&:not(:last-child) {
				margin-right: 0;

				&::after {
					content: '';
					margin-left: 0;
				}
			}
			
			a {
				display: block;
				position: relative;
				text-indent: 1rem;
				
				&::after {
					font-family: 'FontAwesome';
					content: "\f105";
					font-size: 1rem;
					float: right;
					position: absolute;
					right: .5rem;
					top: 50%;
					transform: translateY(-50%);
				}	
			}

		}	


	}

}