/* ====================================================== 
   <!-- Search -->          
/* ====================================================== */

/*
 * 1. Search of Widget
*/


/* 
 ---------------------------
 1. Search of Widget
 ---------------------------
 */ 
.search-box {
	position: relative;
	font-size: 0.875rem;
	
	
	label {
		width: 100%;
	}
	.search-field {
		width: 100%;
		background: #fff;
		border: 1px solid $sub-text-color;
		border-radius: 0;
		box-sizing: border-box;
		color: #555;
		outline: none;
		padding: 0.4375rem 1.421875rem;
		font-weight: 600;
		font-size: 0.75rem;
		border-radius: 25px;


		&::-webkit-search-cancel-button {
			-webkit-appearance: none;
		}
		&::-webkit-search-decoration {
			display: none;
		}
	}
	.wp-search-submit {
		position: absolute;
		top: 0.546875rem;
		right: 0.875rem;
		cursor: pointer;
		font-size: 1rem;
		/* Icon */
		color: #CCC;

		&:hover {
			color: $primary-text-color1;
		}
	}
}