/* ====================================================== 
   <!-- Tags -->      
/* ====================================================== */

.tags-box {
	
	> a {
		font-size: 0.875rem;
		padding: 0.04375rem 0.109375rem;
		margin-bottom: 0.175rem;
		display: inline-block;

		&::after {
			content: '/';
			display: inline-block;
			margin-left: 0.546875rem;
			opacity: 0.5;
		}

		&:last-child:after {
			display: none;
		}
	}
	&.tags-border > a {
		border: 1px solid #E6E6E6;
	}
}