/* ====================================================== 
   <!-- Entry -->      
/* ====================================================== */

/*
 * 1. Spacing
 * 2. Main Content
 * 3. Meta Info
*/



/* 
 ---------------------------
 1. Spacing
 ---------------------------
 */ 

.uix-entry-box {
	padding: 2.84375rem 0 1.75rem;
	
	&.uix-entry-box--top {
		padding: 2.84375rem 0 0;
	}
	
	&.uix-entry-box--mark a {
		color: $highlight-color1;

		&:hover {
			color: $highlight-color2;
		}
	}
	
	.uix-entry-box__title {
		padding-bottom: 1.75rem;
	}
}

@media all and (max-width: 768px) {
	.uix-entry-box {
		.uix-entry-box__title {
			padding-bottom: 0.4375rem;
		}
	}
}



/* 
 ---------------------------
 2. Main Content
 ---------------------------
 */ 
.entry-content {
	word-wrap: break-word;
	
	img {
	    height: auto !important;
	}
	
	iframe {
	    max-width: 100% !important;
	}
}

/* 
 ---------------------------
 3. Meta Info
 ---------------------------
 */ 
ul.uix-entry-meta {
	width: 500px;
	margin: 0 auto;
	display: block;
	color: #999;
	font-style: italic;
	font-size: 0.75rem;
	line-height: 1.33333333333;
	
	li {
		display: inline-block;
		/*require*/
		margin-bottom: 0.62890625rem;

		&::before {
			content: '/';
			display: inline-block;
			margin-right: 0.4375rem;
		}

		a {
			color: #999;
		}

	}


	&.uix-entry-meta--wrap li {
		display: block;

		&::before {
			display: none;
		}

		strong {
			padding-right: 0.4375rem;
			font-size: 0.875rem;
			color: #C9C9C9;
			display: inline-block;
			width: 130px;
			vertical-align: top;
		}
		span {
			display: inline-block;
			width: calc( 100% - 130px - 0.875rem );
		}

		a {
			color: $highlight-color1;

			&:hover {
				color: $highlight-color2;
			}
		}

	}


	&:not(.uix-entry-meta--wrap) li:first-child::before {
		display: none;
	}

	
}
