/* ====================================================== 
    <!-- Onepage Menu -->  
/* ====================================================== */
.uix-menu-sidefixed {
	position: absolute;
	z-index: 13;
	margin-top: 200px;
	width: 120px;
	
	&.is-fixed {
		position: fixed;
		top: 120px;
		margin-top: 0;
	}
	
	
	li {
		position: relative;
		font-size: 0;
		display: block;
		width: 100px;
		text-align: left;
		cursor: pointer;
		@include transition-none();
		
		
		strong {
			position: absolute;
			display: inline-block;
			font-weight: normal;
			left: 40px;
			text-align: left;
			
		}

		span {
			font-size: 0.875rem;
			display: inline-block;
			padding-left: 1rem;
			padding-right: .5rem;
			font-weight: bold;
		}
		
		a {
			color: #fff;
			display: block;
			@include transition-none();
		}
			
		
		&.active {
			font-size: 0.875rem;
			color: #fff;
			border-bottom: 2px solid #000;
			
			a {
				color: #000;
			}
			
			span {
				font-weight: bold;
			}	
			
			

		}	
	}

}


