@@include('./src/components/_global/include-header.html')
     
  <body class="page">
  
  
          
    @@include('./src/components/_global/include-loader.html')
    @@include('./src/components/_global/include-toggle-trigger.html')
    
    

  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/_global/include-brand.html')
                        
                        @@include('./src/components/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder"></div>
      

        <!-- Content 01
        ====================================================== -->
        <section>
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h2>Common Helper Classes</h2>
							<p>Helper classes can help remove repetition by creating a set of abstract classes that can be used over and over on HTML elements. </p>
                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section>
        
       <!-- Content 02 
        ====================================================== -->
        <section class="uix-spacing--m">
            <div class="container uix-list uix-list--normal uix-table uix-table--bordered">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">

								<div class="uix-table is-horizontal">

									<table>
										<thead>
											<tr>
												<th>Typography</th>
												<th>Color</th>
												<th>Align Wide and Full Classes For Elements</th>
											</tr>
										</thead>

										<tbody>
											<tr>
												<td>
 
													<code>.uix-typo--h1</code><br> 
													<code>.uix-typo--h2</code><br> 
													<code>.uix-typo--h3</code><br> 
													<code>.uix-typo--h4</code><br> 
													<code>.uix-typo--h5</code><br> 
													<code>.uix-typo--h6</code><br> 
													<code>.uix-typo--style-normal</code><br>
													<code>.uix-typo--style-uppercase</code><br>
													<code>.uix-typo--style-bold</code><br>
													<code>.uix-typo--style-italic</code><br>
													<code>.uix-typo--style-noitalic</code><br>
													<code>.uix-typo--style-underline</code><br>
													<code>.uix-typo--style-tiny</code><br>
													<code>.uix-typo--dropcap</code><br>
													<code>.uix-typo--vertical</code><br>
													<code>.uix-typo--vertical-characters-line)</code>
												
												</td>
												<td>

													<code>.uix-typo--color-primary</code><br>
													<code>.uix-typo--color-highlight</code><br>
													<code>.uix-typo--color-sub</code><br>
													<code>.uix-typo--color-white</code>

													
												</td>
												<td>
												
												
													<code>.uix-alignfull</code>
												
												</td>	
												
											</tr>
										</tbody>
									</table>  
								</div>	
							
							
							
								<div class="uix-table is-horizontal">

									<table>
										<thead>
											<tr>
												<th>Spacing</th>
												<th>Content Block</th>
												<th>Clear Element</th>
											</tr>
										</thead>

										<tbody>
											<tr>
												<td>

													<code>.uix-spacing--s</code><br> 
													<code>.uix-spacing--m</code><br> 
													<code>.uix-spacing--l</code><br> 
													<code>.uix-spacing--no-top</code><br> 
													<code>.uix-spacing--no-bottom</code><br> 
													<code>.uix-spacing--googlemap</code><br> 
													<code>.uix-spacing--no</code>
												
												</td>
												<td>
												
													<code>.uix-relative</code><br> 
													<code>.uix-relative--inline</code><br> 
													<code>.uix-relative--inline-clip</code>
												
												</td>
												<td>
												    <code>.uix-clearfix</code>
												
												</td>
												
												
											</tr>
										</tbody>
									</table>  
								</div>	
							
	
								<div class="uix-table is-horizontal">

									<table>
										<thead>
											<tr>
												<th>Shadow</th>
												<th>Smooth Transition</th>
												<th>Element Floating</th>
											</tr>
										</thead>

										<tbody>
											<tr>
											
												<td>
												
													<code>.uix-outer-shadow--s</code><br> 
													<code>.uix-outer-shadow--l</code><br> 
													<code>.uix-none-shadow</code>
												
												</td>
												
												<td>
												    <code>.uix-trans</code>
												
												</td>	
												
												
												<td>

													<code>.uix-f-l</code><br> 
													<code>.uix-f-r</code>	
												</td>		
												
												
											</tr>
										</tbody>
									</table>  
								</div>	
							
							
								<div class="uix-table is-horizontal">

									<table>
										<thead>
											<tr>
												<th>Element Alignment</th>
												<th>Truncate String with Ellipsis</th>
												<th>Vertically or Horizontally Aligned Blocks</th>
											</tr>
										</thead>

										<tbody>
											<tr>
												<td>

													<code>.uix-t-r</code><br> 
													<code>.uix-t-l</code><br> 
													<code>.uix-t-c</code><br>
													<code>.uix-mobile-tc</code><br> 
													<code>.uix-mobile-tl</code><br> 
													<code>.uix-mobile-tr</code>
												
												</td>
												<td>
													<code>.uix-t-ellipsis</code>
												
												</td>
												<td>
													<code>.uix-v-align--absolute</code><br> 
													<code>.uix-v-align--relative</code><br> 
													<code>.uix-v-align--table</code>

												
												</td>
												
											</tr>
										</tbody>
									</table>  
								</div>	
		
								<div class="uix-table is-horizontal">

									<table>
										<thead>
											<tr>
												<th>Specifies Whether To Clip Content</th>
												<th>Specifies a Default Height <span class="uix-typo--style-normal uix-typo--color-sub">(unit: vh)</span></th>
												<th>Hidden The Element on Mobile Device</th>
											</tr>
										</thead>

										<tbody>
											<tr>
												
												<td>
												
													<code>.uix-hidden-scrollbar-x</code><br> 
													<code>.uix-hidden-scrollbar</code>
												
												</td>
												
												<td>
													<code>.uix-height--10</code><br> 
													<code>.uix-height--20</code><br> 
													<code>.uix-height--30</code><br> 
													<code>.uix-height--40</code><br> 
													<code>.uix-height--50</code><br> 
													<code>.uix-height--60</code><br> 
													<code>.uix-height--70</code><br> 
													<code>.uix-height--80</code><br> 
													<code>.uix-height--90</code><br> 
													<code>.uix-height--100</code> 
												
												</td>	
												
												
												<td>
													<code>.uix-mobile-el</code><br> 
													<code>.is-mobile-hide</code>(The mobile side is always hidden)
												</td>		
												
												
											</tr>
										</tbody>
									</table>  
								</div>	
							
							
								<div class="uix-table is-horizontal">

									<table>
										<thead>
											<tr>
												<th>Tip Bubble</th>
												<th>Image Hover Overlay Effects</th>
												<th>Position</th>
											</tr>
										</thead>

										<tbody>
											<tr>
												<td>

													<code>.uix-bubble</code>
												
												</td>
												<td>
												
													<code>.uix-filter-hover--color</code> 
												
												</td>
												<td>
													<code>.uix-dir--top</code><br> 
													<code>.uix-dir--bottom</code><br> 
													<code>.uix-dir--left</code><br> 
													<code>.uix-dir--right</code><br> 
													<code>.uix-dir--top-left</code><br> 
													<code>.uix-dir--top-right</code><br> 
													<code>.uix-dir--bottom-left</code><br> 
													<code>.uix-dir--bottom-right</code>

												
												</td>
												
												
												
											</tr>
										</tbody>
									</table>  
								</div>	

							
								<div class="uix-table is-horizontal">

									<table>
										<thead>
											<tr>
												<th>Element Hidden Style</th>
												<th>Border Radius</th>
											</tr>
										</thead>

										<tbody>
											<tr>
												
												<td>
												
													<code>.uix-el--transparent</code><br> 
													<code>.uix-el--zoom</code><br> 
													<code>.uix-el--skew</code>
												
												</td>
												
												<td>
													<code>.uix-border--rounded</code><br> 
													<code>.uix-border--circle</code><br> 
													<code>.uix-border--circle.uix-border--circle-img</code><br> 
													<code>.uix-border--circle.uix-border--circle-only-img</code>
												
												</td>	
												
												
											</tr>
										</tbody>
									</table>  
								</div>	

							
                           
                      
                          
                           
                        </div>
                    </div>
                    <!-- .row end -->
           
                    
            </div>
            <!-- .container end -->
 
        </section>   
        
        
     
        
        
        @@include('./src/components/_global/include-copyright.html')
        
        
    </div>
    <!-- .wrapper end -->
       
       
    @@include('./src/components/_global/include-footer.html')

