/* ====================================================== 
   <!-- Advanced Slider (Basic) -->     
/* ====================================================== */

/*
 * 1. Initialize the slider style
 * 2. Pagination dots 
 * 3. Next/Prev buttons
*/


/* 
 ---------------------------
 1. Initialize the slider style
 ---------------------------
 */ 
.uix-advanced-slider {
	position: relative;
	width: 100%;
	overflow: hidden;
	z-index: 1;


	.uix-advanced-slider__inner {
		
		position: relative;
		z-index: 1;
		
		
		.uix-advanced-slider__item {
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;
			width: 100%;
			opacity: 0;


			img {
				width: 100%;
			}
			
			&.leave {
				opacity: 0;
			}
			&.active {
				opacity: 1;
			}


		}	
		
	}

	
}


/* Tests native CSS3 and HTML5 features are available */
.cssanimations {

	.uix-advanced-slider {
		
		&.uix-advanced-slider--eff-scale {
			.uix-advanced-slider__inner {

				.uix-advanced-slider__item {
					opacity: 0;
					transform: scale(.8);

					&.leave {
						transition: all 0.6s ease;
						opacity: 0;
						transform: scale(.8);
					}
					&.active {
						transition: all 0.6s ease;
						transition-delay: 0.6s;
						opacity: 1;
						transform: scale(1);
					}


				}	

			}

		}

	}

	
}


/* 
 ---------------------------
 2. Pagination dots 
 ---------------------------
 */ 
.uix-advanced-slider__pagination {
	
	position: relative;
	transform: translateY(-40px);
	z-index: 2;
	
	ul {
		list-style: none;
		left: 0;
		bottom: 0;
		font-size: 0;/*Fighting the Space Between Inline Block Elements*/
		display: block;
		width: 100%;
		text-align: center; /*require*/
		position: relative;
		transform: translateY(.5rem);
		
		li {
			font-size: 1rem;/*Fighting the Space Between Inline Block Elements*/
			display: inline-block; /*require*/
			margin: 0 .2rem;

			a {
				width: 12px;
				height: 12px;
				display: block;
				box-shadow: 0px 3px 22px 0px rgba(0,0,0,0.45);
				background: rgba(255, 255, 255, .6);
				cursor: pointer;
				text-indent: -9999px;
				border-radius: 20px;

				&:hover, 
				&.active {
					background: rgba(255, 255, 255, 1);
					width: 25px;
				}
			}	

		}	
		
	
	}



}

/* 
 ---------------------------
 3. Next/Prev buttons
 ---------------------------
 */ 
.uix-advanced-slider__arrows {
	position: relative;
	transform: translateY(-65px);
	z-index: 3;
	
	a {
		box-shadow: 0px 10px 54px 0px rgba(19, 32, 62, 0.21);
		border-radius: 100%;
		width: 50px;
		height: 50px;
		position: absolute;
		transition: .3s ease-in-out;
		line-height: 50px;
		text-align: center;
		background: #fff;
		
	}
	
	.uix-advanced-slider__arrows--prev {
		left: 15px;
		
		&.disabled {
			visibility: hidden;
			
		}
		
	}
	.uix-advanced-slider__arrows--next {
		right: 15px;
		
		&.disabled {
			visibility: hidden;
		}	
		
	
		
	}

}
