<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
	<meta charset="@@{website_charset}" />
	<title>Advanced Content Slider - @@{website_title}</title>	
	@@include('./src/components/ES6/_global/include-header.html')
</head>  

     
  <body class="page">
  
  
          
    @@include('./src/components/ES6/_global/include-loader.html')
    @@include('./src/components/ES6/_global/include-toggle-trigger.html')
    
    

    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/ES6/_global/include-brand.html')
                        
                        @@include('./src/components/ES6/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder js-uix-header__placeholder-autoheight"></div>
      
       
		<main id="uix-maincontent">
			

			<!-- Title 
			====================================================== -->
			<section class="uix-spacing--s">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h3>Advanced Content Slider</h3>
							<p>Note: Touch-friendly Drag and Drop</p>
							<hr>
							
							
						</div>
					</div>
					<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>
			
			
			

		  <!-- Content 
			====================================================== -->
			<section>
				<div class="container">
						<div class="row">
							<div class="col-12">


								   <div role="slider" class="uix-advanced-content-slider"
									  data-auto="false"
									  data-loop="false"
									  data-speed="1200" 
									  data-timing="10000"
									  data-controls-pagination=".my-a-slider-pagination-1" 
									  data-controls-arrows=".my-a-slider-arrows-1"
									  data-draggable="true"
									  data-draggable-cursor="move">

									   <div class="uix-advanced-content-slider__inner">

										   <div class="uix-advanced-content-slider__item">
											   <h4><a href="#">Slider Content</a></h4>
											   <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
											   <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
											   <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
										   </div>

										   <div class="uix-advanced-content-slider__item">
											   <img src="assets/images/demo/cool-slider-2.jpg" alt="Title 2" />
										   </div>

										   <div class="uix-advanced-content-slider__item">
											   <img src="assets/images/demo/cool-slider-3.jpg" alt="Title 3" />
										   </div> 


									   </div>
									  <!-- /.uix-advanced-content-slider__inner -->

									</div>
								   <!-- /.uix-advanced-content-slider -->

								   <div class="uix-advanced-content-slider__pagination my-a-slider-pagination-1"></div>
								   <div class="uix-advanced-content-slider__arrows my-a-slider-arrows-1">
										<a href="#" class="uix-advanced-content-slider__arrows--prev"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
										<a href="#" class="uix-advanced-content-slider__arrows--next"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
								   </div>




							</div>
						</div>
						<!-- .row end -->


				</div>
				<!-- .container end -->

			</section>



			<!-- Title 
			====================================================== -->
			<section class="uix-spacing--s">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h3>Advanced Content Slider</h3>
							<p>With custom pagination buttons.</p>
							<hr>
							
							
						</div>
					</div>
					<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>
			
			
			
			

		  <!-- Content 
			====================================================== -->
			<section>
				<div class="container">
						<div class="row">
							<div class="col-12">


								   <div role="slider" class="uix-advanced-content-slider"
									  data-auto="false"
									  data-loop="false"
									  data-speed="1200" 
									  data-timing="10000"
									  data-controls-pagination=".my-a-slider-pagination-2" 
									  data-controls-arrows="false"
									  data-draggable="false"
									  data-draggable-cursor="move">

									   <div class="uix-advanced-content-slider__inner">

										   <div class="uix-advanced-content-slider__item">
											   <h4><a href="#">Slider Content</a></h4>
											   <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
											   <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
											   <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
										   </div>

										   <div class="uix-advanced-content-slider__item">
											   <img src="assets/images/demo/cool-slider-2.jpg" alt="Title 2" />
										   </div>

										   <div class="uix-advanced-content-slider__item">
											   <img src="assets/images/demo/cool-slider-3.jpg" alt="Title 3" />
										   </div> 


									   </div>
									  <!-- /.uix-advanced-content-slider__inner -->

									</div>
								   <!-- /.uix-advanced-content-slider -->

								   <div class="uix-advanced-content-slider__pagination my-a-slider-pagination-2">
										<ul class="uix-advanced-content-slider__pagination--custom">
											<li><a href="javascript:" data-index="0">Go 1</a></li>
											<li><a href="javascript:" data-index="1">Go 2</a></li>
											<li><a href="javascript:" data-index="2">Go 3</a></li>
										</ul>
								   </div>




							</div>
						</div>
						<!-- .row end -->


				</div>
				<!-- .container end -->

			</section>			
			
		</main>
        
        

        
         
       
        @@include('./src/components/ES6/_global/include-copyright.html')
        
        
    </div>
    <!-- .uix-wrapper end -->
       
       
    @@include('./src/components/ES6/_global/include-footer.html')
        
        

