@@include('./src/components/ES5/_global/include-header.html')
     
  <body class="page">
  
  
          
    @@include('./src/components/ES5/_global/include-loader.html')
    @@include('./src/components/ES5/_global/include-toggle-trigger.html')
    
    

  
  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/ES5/_global/include-brand.html')
                        
                        @@include('./src/components/ES5/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder"></div>
      
      
        <!-- Content 01
        ====================================================== -->
        <section>
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h2>Footer Templates</h2>
                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section>
     
       
    
       <!-- Footer Demo
        ====================================================== -->
        <footer class="uix-special-footer__container">
            <div class="uix-special-footer">
                <div class="container">

					<div class="row">
						  <div class="col-lg-3 col-md-3">
							   <img class="logo" src="assets/images/logo.png" alt="">
						  </div>
						  <div class="col-lg-6 col-md-6">


								<div class="uix-special-footer__menus">
									<div class="uix-special-footer__menus__list">
										<h3>About</h3>
										<ul>
											<li><a href="#">About us</a></li>
											<li><a href="#">Careers</a></li>
											<li><a href="#">Press</a></li>
											<li><a href="#">Policies</a></li>
											<li><a href="#">Help</a></li>
											<li><a href="#">Diversity & Belonging</a></li>
										</ul>
									</div>

									<div class="uix-special-footer__menus__list">
										<h3>Discover</h3>
										<ul>
											<li><a href="#">Trust & Safety</a></li>
											<li><a href="#">Travel Credit</a></li>
											<li><a href="#">Gift Cards</a></li>
											<li><a href="#">Airbnb Citizen</a></li>
											<li><a href="#">Business Travel</a></li>
											<li><a href="#">Guidebooks</a></li>
											<li><a href="#">Airbnbmag</a></li>
										</ul>
									</div>

									<div class="uix-special-footer__menus__list">
										<h3>Works</h3>
										<ul>
											<li><a href="#">Why Host</a></li>
											<li><a href="#">Hospitality</a></li>
											<li><a href="#">Responsible Hosting</a></li>
											<li><a href="#">Community Center</a></li>
										</ul>
									</div>
								</div><!-- /.uix-special-footer__menus -->     			  

						  </div>
						  <div class="col-lg-3 col-md-3 uix-t-r">

								<div class="uix-tooltip">
									<a class="uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin is-fill-white" href="javascript:">
										<i class="fa fa-qrcode"></i>
									</a>

									<span class="uix-tooltip__content uix-tooltip__content--top"><img src="assets/images/demo/qr-code.png" alt="" width="150" height="150" /></span> 
								</div>

								<a class="uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin is-fill-white" title="Follow us on Twitter" href="https://twitter.com/uiux_lab" target="_blank">
									<i class="fa fa-twitter"></i>
								</a>
								<a class="uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin is-fill-white" title="Follow us on Facebook" href="https://www.facebook.com/uiuxlabhome" target="_blank">
									<i class="fa fa-facebook"></i>
								</a>
								<a class="uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin is-fill-white" title="Fork on Github" href="https://github.com/xizon/uix-kit" target="_blank">
									<i class="fa fa-github"></i>
								</a>   

						  </div>
					</div>


				</div><!-- .container  end -->
            
			</div>
				
        </footer> 
        
        
        
       <!-- Footer Demo
        ====================================================== -->
        <footer class="uix-special-footer__container is-transparent">
            <div class="uix-special-footer">
                <div class="container">

					<div class="row">
						  <div class="col-lg-3 col-md-3">
							   <img class="logo" src="assets/images/logo-colorful.png" alt="">
						  </div>
						  <div class="col-lg-6 col-md-6">


								<div class="uix-special-footer__menus">
									<div class="uix-special-footer__menus__list">
										<h3>About</h3>
										<ul>
											<li><a href="#">About us</a></li>
											<li><a href="#">Careers</a></li>
											<li><a href="#">Press</a></li>
											<li><a href="#">Policies</a></li>
											<li><a href="#">Help</a></li>
											<li><a href="#">Diversity & Belonging</a></li>
										</ul>
									</div>

									<div class="uix-special-footer__menus__list">
										<h3>Discover</h3>
										<ul>
											<li><a href="#">Trust & Safety</a></li>
											<li><a href="#">Travel Credit</a></li>
											<li><a href="#">Gift Cards</a></li>
											<li><a href="#">Airbnb Citizen</a></li>
											<li><a href="#">Business Travel</a></li>
											<li><a href="#">Guidebooks</a></li>
											<li><a href="#">Airbnbmag</a></li>
										</ul>
									</div>

									<div class="uix-special-footer__menus__list">
										<h3>Works</h3>
										<ul>
											<li><a href="#">Why Host</a></li>
											<li><a href="#">Hospitality</a></li>
											<li><a href="#">Responsible Hosting</a></li>
											<li><a href="#">Community Center</a></li>
										</ul>
									</div>
								</div><!-- /.uix-special-footer__menus -->     			  

						  </div>
						  <div class="col-lg-3 col-md-3 uix-t-r">

								<div class="uix-tooltip">
									<a class="uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin is-fill-white" href="javascript:">
										<i class="fa fa-qrcode"></i>
									</a>

									<span class="uix-tooltip__content uix-tooltip__content--top"><img src="assets/images/demo/qr-code.png" alt="" width="150" height="150" /></span> 
								</div>

								<a class="uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin is-fill-white" title="Follow us on Twitter" href="https://twitter.com/uiux_lab" target="_blank">
									<i class="fa fa-twitter"></i>
								</a>
								<a class="uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin is-fill-white" title="Follow us on Facebook" href="https://www.facebook.com/uiuxlabhome" target="_blank">
									<i class="fa fa-facebook"></i>
								</a>
								<a class="uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin is-fill-white" title="Fork on Github" href="https://github.com/xizon/uix-kit" target="_blank">
									<i class="fa fa-github"></i>
								</a>   

						  </div>
					</div>


				</div><!-- .container  end -->
            
			</div>
				
        </footer> 
        
        
        
        
        
       <!-- Footer Demo
        ====================================================== -->
        <footer class="uix-special-footer__container">
           
            <div class="uix-special-footer">
            
				<div class="container">
					<div class="row">

						  <div class="col-12">
						  
								<h4 class="uix-typo--color-sub">Company Name</h4>

								<div class="uix-controls uix-controls__select uix-controls__select--top is-transparent">
									<label>
										<select name="selectname" placeholder="Select">
											<option value="">Text</option>
											<option value="#">Text</option>
										</select>

									</label>

								</div>


								<hr class="black">
								<nav class="uix-f-l">
									<ul>
										<li>
											<a href="https://uiux.cc">
												UIUX Lab
											</a>
										</li>
										<li>
											<a href="https://opensource.org/licenses/MIT">
												Licenses
											</a>
										</li>
										<li>
											<a href="https://github.com/xizon/uix-kit">
												Download
											</a>
										</li>
									</ul>
									<p class="uix-typo--color-sub">
									Copyright &copy; Uix Kit 2018.
									</p>
								</nav>
								<div class="uix-f-r">

									<p>
										<div class="uix-tooltip">
											<a class="uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin is-fill-white" href="javascript:">
												<i class="fa fa-qrcode"></i>
											</a>

											<span class="uix-tooltip__content uix-tooltip__content--top"><img src="assets/images/demo/qr-code.png" alt="" width="150" height="150" /></span> 
										</div>

										<a class="uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin is-fill-white" title="Follow us on Twitter" href="https://twitter.com/uiux_lab" target="_blank">
											<i class="fa fa-twitter"></i>
										</a>
										<a class="uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin is-fill-white" title="Follow us on Facebook" href="https://www.facebook.com/uiuxlabhome" target="_blank">
											<i class="fa fa-facebook"></i>
										</a>
										<a class="uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin is-fill-white" title="Fork on Github" href="https://github.com/xizon/uix-kit" target="_blank">
											<i class="fa fa-github"></i>
										</a>   
									</p>

									<p class="uix-typo--color-sub">
										All rights reserved. Created by UIUX Lab.
								   </p>
								</div>
						  
						  
						  
						  </div>


					</div>
					<!-- .row end --> 
						  
				

				</div><!-- .container  end -->

            
			</div>
           
        </footer> 
        
        
        
        
        
       <!-- Footer Demo
        ====================================================== -->
        <footer class="uix-special-footer__container">
           
            <div class="uix-special-footer">
            
				<div class="container">

					<!-- ////////////  Footer Widgets //////////// -->
					<div class="row">

						  <div class="col-lg-8 col-md-8">

								<div class="row">
									<div class="col-lg-4 col-md-4">

										<div class="uix-clearfix">

											<p><img src="assets/images/logo.png" alt=""></p>

											<p>Free Responsive HTML5 <strong>UI Kit</strong> for <strong>Fast</strong> Web Design Based On Bootstrap</p>

											<p>
												<address>
													My Location, San Francisco, CA 123456
												</address>
												<abbr title="Phone Number"><strong>Phone:</strong></abbr> (91) 1234 567890<br>
												<abbr title="Fax"><strong>Fax:</strong></abbr> (91) 11 1234 567890<br>
												<abbr title="Email Address"><strong>Email:</strong></abbr> your@gmail.com 
											</p>

										</div>

									</div>

									<div class="col-lg-4 col-md-4">

										<div class="uix-clearfix">
											<h3>Blogroll</h3>

											<ul>
												<li><a href="#">Documentation</a></li>
												<li><a href="#">Feedback</a></li>
												<li><a href="#">Plugins</a></li>
												<li><a href="#">Support Forums</a></li>
											</ul>   

										</div>


									</div>

									<div class="col-lg-4 col-md-4">

										<div class="uix-clearfix">
											<h3>Recent Posts</h3>

											<h5 class="uix-spacing--no"><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h5>
											<p class="uix-typo--style-italic uix-typo--style-tiny">10th April 2018</p>
											<!-- /////  -->

											<h5 class="uix-spacing--no"><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h5>
											<p class="uix-typo--style-italic uix-typo--style-tiny">6th April 2017</p>
											<!-- /////  -->	

											<h5 class="uix-spacing--no"><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h5>
											<p class="uix-typo--style-italic uix-typo--style-tiny">10th April 2017</p>
											<!-- /////  -->		


										</div>

									</div>

								</div>
								<!-- .row end -->



						</div>
						<!-- /.col-lg-8.col-md-8  -->

						<div class="col-lg-4 col-md-4">

								<div class="uix-clearfix">

									<div class="row">
										<div class="col-lg-6 col-md-6">

											<h2 class="uix-typo--color-sub uix-spacing--no" data-counter-number="65223" data-counter-double-digits="true" data-counter-duration="200">00</h2>
											<p>Total Downloads</p>

										</div>

										<div class="col-lg-6 col-md-6">

											<h2 class="uix-typo--color-sub uix-spacing--no" data-counter-number="13" data-counter-double-digits="true" data-counter-duration="200">00</h2>
											<p>Clients</p>

										</div>

									</div>
									<!-- .row end -->



								</div>

								<div class="uix-clearfix">
									<p>
										<strong>Subscribe</strong> to Our Newsletter to get Important News, Amazing Offers:
									</p>

									<div class="uix-controls__merge is-pill is-iconic">
										<i class="fa fa-envelope" aria-hidden="true"></i>
										<input id="subscribe-input3" placeholder="Enter your Email" name="subscribe-input" type="email" required />
										<button type="button" class="uix-btn uix-btn__bg--primary uix-none-shadow"><span>Subscribe</span></button>                    
									</div>      


								</div>

								<div class="uix-clearfix">

									<a href="https://facebook.com" class="uix-social-btn uix-social-btn--small uix-social-bg uix-social-bg--facebook fillet"><i class="fa fa-facebook"></i></a>
									<a href="https://twitter.com" class="uix-social-btn uix-social-btn--small uix-social-bg uix-social-bg--twitter fillet"><i class="fa fa-twitter"></i></a>
									<a href="https://google.com" class="uix-social-btn uix-social-btn--small uix-social-bg uix-social-bg--google fillet"><i class="fa fa-google-plus"></i></a>
									<a href="https://dribbble.com" class="uix-social-btn uix-social-btn--small uix-social-bg uix-social-bg--dribbble fillet"><i class="fa fa-dribbble"></i></a>


								</div>

						</div>
						<!-- /.col-lg-4.col-md-4  -->

					</div>
					<!-- .row end -->

				</div>
				<!-- /.container -->


				<!-- //////////// Copyrights  //////////// -->
				<div class="container">

					<hr class="black">
					<div class="row">

						  <div class="col-lg-6 col-md-6">
							  Copyrights &copy; 2018  All rights reserved. Created by UIUX Lab
						  </div>
						  <div class="col-lg-6 col-md-6 uix-t-r">


						  </div>	

					</div>
					<!-- .row end -->

				</div>
				<!-- /.container -->  
            
			</div>
           
        </footer> 
        
        
        
        

        @@include('./src/components/ES5/_global/include-copyright.html')
        
        
    </div>
    <!-- .uix-wrapper end -->
       
       
    @@include('./src/components/ES5/_global/include-footer.html')

