<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
	<meta charset="@@{website_charset}" />
	<title>Testimonials - @@{website_title}</title>	
	@@include('./src/components/_global/include-header.html')
</head>  

     
  <body class="page">
  
  
          
    @@include('./src/components/_global/include-loader.html')
    @@include('./src/components/_global/include-toggle-trigger.html')
    
    

  
  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/_global/include-brand.html')
                        
                        @@include('./src/components/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder js-uix-header__placeholder-autoheight"></div>
      
      
		<main id="uix-maincontent">
			
			<!-- Content 
			====================================================== -->
			<section class="uix-spacing--s uix-spacing--no-bottom">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h3>Testimonials Carousel</h3>
							<p>A nicely done testimonial carousel helps to build trust in your potential, but hesitant customers while it displays your testimonies in an appealing format.</p>
							<hr>
							
							
						</div>
					</div>
					<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>
			
		



		   <!-- Content 
			====================================================== -->
			<section class="uix-spacing--s">
				<div class="container">
						<div class="row">
							<div class="col-12">

								<div class="uix-testimonials">

                                    <div class="uix-swiper">

                                        <div role="slider" class="swiper-container" id="app-slider4" style="margin-top: 30px;">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="uix-testimonials__content">
                                                        <p>Enter some details for the customer giving this testimonial., E.g., Thank you from the bottom of our hearts.</p>

                                                        <div class="uix-testimonials__signature"> 
                                                            <span class="uix-testimonials__signature--avatar uix-border--circle uix-border--circle-only-img"><img src="assets/images/demo/avatar.jpg"></span>
                                                            <strong class="uix-testimonials__signature__shorttext">Name</strong> - Position 
                                                        </div>	

                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="uix-testimonials__content">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duarum enim vitarum nobis erunt instituta capienda. Tamen aberramus a proposito, et, ne longius, prorsus, inquam, Piso, si ista mala sunt, placet.</p>
                                                        <div class="uix-testimonials__signature"> 
                                                            <span class="uix-testimonials__signature--avatar uix-border--circle uix-border--circle-only-img"><img src="assets/images/demo/avatar.jpg"></span> 
                                                            <strong class="uix-testimonials__signature__shorttext">Name</strong> - Position 
                                                        </div>	


                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="uix-testimonials__content">
                                                        <p>Ergo ita: non posse honeste vivi, nisi honeste vivatur? Duo Reges: constructio interrete. Obsecro, inquit, Torquate, haec dicit Epicurus? Sunt enim prima elementa naturae, quibus auctis vírtutis quasi germen efficitur.</p>

                                                        <div class="uix-testimonials__signature"> 
                                                            <span class="uix-testimonials__signature--no-avatar"></span> 
                                                            <strong class="uix-testimonials__signature__shorttext">Name</strong> - Position 
                                                        </div> 

                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Add Pagination -->
                                            <div class="swiper-pagination"></div>
                                        </div>	
                                        <!-- /.swiper-container -->		

                                    </div>
                                    	
                                    

								</div>
								<!-- /.uix-testimonials -->


							</div>
							<!-- .col-12 end -->
						</div>
						<!-- .row end -->


				</div>
				<!-- .container end -->




			</section>


			
		</main>
     
			
        
        
        
        
        @@include('./src/components/_global/include-copyright.html')
        
        
    </div>
    <!-- .uix-wrapper end -->
       
       
    @@include('./src/components/_global/include-footer.html')

