/* ====================================================== 
    <!-- Basic -->
/* ====================================================== */
::placeholder {
	color: $placeholder-text-color;
}


::selection, 
::-moz-selection, 
::-webkit-selection {
	background: #1f1f1f;
	color: #fff;
}

html, 
body {
	width: 100%;
	height: 100%;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: $basic-font-size; /* Required, global font size */
	
}

*, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
ul, 
ol,
a {
	margin: 0;
	padding: 0;
}

body {
	font-size: $font-size-body;
	font-weight: 400;
	line-height: 1.71428571429;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: $font-stack;
	color: $primary-text-color;
	background-color: $primary-bg-color;
}

body.is-mobile {
	padding-top: 0;
}

p, 
pre, 
table, 
blockquote {
    margin-bottom: 1.421875rem;
}


select {
    max-width: 100%;
}

.wp-block-quote, /* compatible with WordPress */
blockquote {
	background: #fff;
	border: 1px solid #F8F8F8 !important;
	border-left: 5px solid $highlight-color1 !important;
	padding: 0 1.75rem 1.25rem !important;
	margin-top: 1.421875rem !important;
	line-height: 2;
	font-size: $font-size-blockquote;
	
	&::before {
		color: $highlight-color1;
		content: open-quote;
		font-size: 5.25rem;
		line-height: 0.1;
		margin-right: 0.21875rem;
		vertical-align: -2.055rem;
		font-family: sans-serif;
		content: "\201C";
		/*Unicode for Left Double Quote*/
	}
}

strong {
    font-weight: 600;
}

hr {
	margin: 1.421875rem 0;
	border-color: $dividing-line-color;
	
	&.black {
		border-color: rgba(255,255,255,.1);
	}
	
}

a img {
    border: none;
}

img {
    max-width: 100%;
}

iframe {
    border: none !important;
}

code {
    color: #c7254e;
    background-color: #f9f2f4;
	border-radius: 3px;
	display: inline-block;
	margin: 0 .2rem .2rem .2rem;
	padding: .1rem .4rem;
	white-space: nowrap;
	font-family: $font-code;
}



pre {
	background: #fff;
	white-space: pre;
	word-wrap: break-word;
	overflow: auto;
	padding: 0;
	border-radius: 3px;
	margin: 1rem 0;
	

	&.uix-precode {
		white-space: normal;
		border: 1px solid #d9d9d9;
		border-radius: 2px;
		position: relative;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);

		label {
			font-family: sans-serif;
			font-weight: normal;
			font-size: 0.8125rem;
			position: absolute;
			left: -5px;
			top: 1rem;
			text-align: center;
			width: 60px;
			user-select: none;
			pointer-events: none;
			color: #ddd;
		}
		code {
			font-family: $font-code;
			display: block;
			margin: 0 0 0 3rem;
			padding: 1rem;
			border-left: 1px solid #d9d9d9;
			overflow-x: auto;
			font-size: 0.8125rem;
			line-height: 1.125rem;
			color: #444;
			background: #fff;
			white-space: pre;
		}
		
		&.uix-precode--nolebel {
			label {
				display: none;
			}
			code {
				margin: 0;
				border: none;
			}
			
		}
	}
  

}


figure {
    position: relative;
    
    figcaption {
        position: absolute;
        bottom: 0;
        width: 100%;
        max-height: 100%;
        overflow: auto;
        padding: 1.5rem 1rem 1rem;
        color: #fff;
        text-align: center;
        font-size: 0.875rem;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0.3) 70%, transparent);   
    }
}
