/* ======================================================
   <!-- Maintain Aspect Ratio List -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/mixins';
@import '@uixkit/core/_global/scss/functions';
@import '@uixkit/core/_global/scss/variables';

@media all and (max-width: 768px) {
	.uix-list-aspect-ratio {

		padding-right: auto;
		padding-left: 15px;

		.uix-core-grid__col-4 {
			float: right;
		}


	}


}
