@@include('./src/components/_global/include-header.html')
     
  <body class="page">
  
  
          
    @@include('./src/components/_global/include-loader.html')
    @@include('./src/components/_global/include-toggle-trigger.html')
    
    

  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/_global/include-brand.html')
                        
                        @@include('./src/components/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clear"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder"></div>
      
    
        
        
       <!-- Content 01  
        ====================================================== -->
        <section>
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h2>Vertical Separator</h2>

                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section>
        
        
        
       <!-- Content 02 
        ====================================================== -->
        <section class="uix-spacing--m">
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">

						    <div class="uix-vertical-separator"><span>or</span></div>
                       
                        </div>
                    </div>
                    <!-- .row end -->
           
                    
            </div>
            <!-- .container end -->
 
        </section>   

    
        
    
        
        @@include('./src/components/_global/include-copyright.html')
        
        
    </div>
    <!-- .wrapper end -->
       
       
    @@include('./src/components/_global/include-footer.html')

