/* ====================================================== 
    <!-- Fullwidth List of Split 2 --> 
/* ====================================================== */
$content-gutter: 100px;


.uix-list-split-full {
	position: relative;
	
	&::after {
		content: '';
		display: block;
		clear: both;
	}
	

	
	.uix-list-split-full__left,
	.uix-list-split-full__right {
		position: relative;
		float: left;
		min-height: 150px;
		word-wrap: break-word;
		box-sizing: border-box;
		
	}
	
	
	.uix-list-split-full__left > div {
		max-width: 639px;
		float: right;
		margin-right: $content-gutter;
	}
	.uix-list-split-full__right > div {
		max-width: 639px;
		float: left;
		margin-left: $content-gutter;
	}

	
}


@media all and (max-width: 768px) {
	.uix-list-split-full {
		

		.uix-list-split-full__left,
		.uix-list-split-full__right {
			width: 100%;
			float: none;
			min-height: inherit;
			
			> div {
				margin: 0 15px;
				float: none;
				max-width: none;
			}
		}	
	
		
	}
	
}

