@@include('./src/components/ES5/_global/include-header.html')
     
  <body class="page">
  
  
          
    @@include('./src/components/ES5/_global/include-loader.html')
    @@include('./src/components/ES5/_global/include-toggle-trigger.html')
    
    

  
  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/ES5/_global/include-brand.html')
                        
                        @@include('./src/components/ES5/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder"></div>
      
      
        <!-- Content 01
        ====================================================== -->
        <section class="uix-spacing--s">
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h2>Mouse Animation Scroll</h2>
                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section>
     
       
    
       <!-- Content 02
        ====================================================== -->
        <div style="background: #000; padding: 5rem; margin: 3rem 0; position: relative;">
            <div class="uix-mouse-icon uix-mouse-icon--simulation"></div>
		</div>
        
        <div style="background: #000; padding: 5rem; margin: 3rem 0; position: relative;">
            <div class="uix-mouse-icon uix-mouse-icon--arrow"></div>
		</div> 
       
        <div style="background: #000; padding: 5rem; margin: 3rem 0; position: relative;">
            <div class="uix-mouse-icon uix-mouse-icon--arrow-simple"></div>
		</div>      
        
        
        @@include('./src/components/ES5/_global/include-copyright.html')
        
        
    </div>
    <!-- .wrapper end -->
       
       
    @@include('./src/components/ES5/_global/include-footer.html')

