/* ======================================================
   <!-- Badges -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/mixins';
@import '@uixkit/core/_global/scss/functions';
@import '@uixkit/core/_global/scss/variables';

.uix-circle-text {

	position: relative;
	display: inline-block;


	circle-text {

		color: var(--uix-primary-text-color);
		text-transform: uppercase;
		letter-spacing: .1rem;
		transform: rotate(-144deg);

		&:defined {
			display: block;
		}

		svg {
			display: block;
			overflow: visible;
			padding: .5rem;
		}

		textPath {
			fill: currentColor;
		}



	}

}
