/* ====================================================== 
   <!-- Dropdown Menu 2 (Multi-level drop-down navigation) --> 
/* ====================================================== */
.custom-vertical-menu {
	
	margin: 0;
	padding: 0;
	
	.arrow {
		@include transition-default();
		display: inline-block;
		width: 1rem;
		height: 1rem;
		text-align: center;
		position: absolute;
		right: 1rem;
		top: .25rem;

		&::before {
			display: inline-block;
			content: "\f105";
			font-family: 'FontAwesome';
			color: #333;
			cursor: pointer;

		}
		
	}
	
	li {
		margin: 0;
		padding: 0;
		width: 100%;
		position: relative;
		padding: .5rem 1rem;
		
		> a {
			display: block;
			border-bottom: 1px solid #e5e5e5;

			&:hover {

			}
			
		}	
		
		&.active {
			
			> a > .arrow {
				transform: rotate(90deg);
				top: .5rem;
				
			}
		}
		
	}
	
	> li {
		
		ul {
			display: none;
			position: relative;
		}	
	}
}

