/* ====================================================== 
   Source Code        
/* ====================================================== */

/* Source Code Button */
#view-source {
  right: auto;
  left: 20px;
}


/* Source Code Area */
#source-code {
 
  #close {
    left: auto;
	right: 10%;
    margin-left: auto;
	margin-right: -18px;
  }
 
}


