/* ====================================================== 
   Source Code        
/* ====================================================== */

/* Pretty printing styles. Used with prettify.js. */
pre.prettyprint {
	direction: ltr;
}


/* Source Code Button */
#view-source {
  right: auto;
  left: 20px;
}

