<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
	<meta charset="@@{website_charset}" />
	<title>Dotted Line - @@{website_title}</title>	
	@@include('./src/components/ES6/_global/include-header.html')
</head>  

     
  <body class="page">
  
  
          
    @@include('./src/components/ES6/_global/include-loader.html')
    @@include('./src/components/ES6/_global/include-toggle-trigger.html')
    
    

  
  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/ES6/_global/include-brand.html')
                        
                        @@include('./src/components/ES6/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder js-uix-header__placeholder-autoheight"></div>
      
		<main id="uix-maincontent">
			
			<!-- Content 
			====================================================== -->
			<section class="uix-spacing--s uix-spacing--no-bottom">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h3>Dotted Line</h3>
							<p class="uix-striking-msg uix-striking-msg--default">Browsers below IE11 are not supported</p>
							<hr>
							
							
						</div>
					</div>
					<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>
	


		   <!-- Content 
			====================================================== -->
			<section class="uix-spacing--s">
				<div class="container uix-t-c">
						<div class="row">
							<div class="col-12">

								<div class="uix-dotted-line uix-dotted-line--s"></div> 
								<div class="uix-dotted-line uix-dotted-line--m"></div>
								<div class="uix-dotted-line uix-dotted-line--l"></div>   
								<div class="uix-dotted-line uix-dotted-line--l is-circle"></div>                                    
								<br>

								<div class="uix-dotted-line uix-dotted-line--s is-horizontal"></div><br> 
								<div class="uix-dotted-line uix-dotted-line--m is-horizontal"></div><br>
								<div class="uix-dotted-line uix-dotted-line--l is-horizontal"></div><br>
								<div class="uix-dotted-line uix-dotted-line--l is-horizontal is-circle"></div>      






							</div>
							<!-- .col-12 end -->
						</div>
						<!-- .row end -->


				</div>
				<!-- .container end -->




			</section>
			
		</main>
      
     
			
        
      
        @@include('./src/components/ES6/_global/include-copyright.html')
        
        
    </div>
    <!-- .uix-wrapper end -->
       
       
    @@include('./src/components/ES6/_global/include-footer.html')

