/* ====================================================== 
   List of Info
/* ====================================================== */
dl.list-info {
	width: 100%; /* adjust the width; make sure the total of both is 100% */

	font-size: 0.875rem;
	
	dt {
		float: left;
		clear: left;
		width: 100px;
		padding: 5px 0;
		margin: 0;
		font-weight: 600;
		text-align: right;
	}
	
	dd {
		float: left;
		width: calc(100% - 100px);
		padding: 5px 0;
		margin: 0;
		text-align: left;
		padding-left: 1rem;
	}
	
	&:after {
		content: '';
		display: table;
		clear: both;
	}
	
	
}
