@@include('./src/components/_global/include-header.html')
     
  <body class="page">
  
  
          
    @@include('./src/components/_global/include-loader.html')
    @@include('./src/components/_global/include-toggle-trigger.html')
    
    

  
  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/_global/include-brand.html')
                        
                        @@include('./src/components/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clear"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder"></div>
      
      
        <!-- Content 01
        ====================================================== -->
        <section>
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h2>Basic Tooltip</h2>
							<p>Please move your mouse pointer over an element.</p>
                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section>
     
       
    
       <!-- Content 02
        ====================================================== -->
        <section class="uix-spacing--m">
            <div class="container uix-t-c">
                   
				           
				<div class="row">
					<div class="col-lg-3 col-md-3">
						<div class="uix-tooltip"><a href="#"><i class="fa fa-cog" aria-hidden="true"></i> Top</a> <span class="uix-tooltip__content uix-tooltip__content--top">Tooltip text<br>Tooltip textTooltip textTooltip textTooltip textTooltip text</span> </div>

					</div>
					<div class="col-lg-3 col-md-3">
						<div class="uix-tooltip"><a href="#"><i class="fa fa-cog" aria-hidden="true"></i> Right</a> <span class="uix-tooltip__content uix-tooltip__content--right">Tooltip text</span> </div>

					</div>
					<div class="col-lg-3 col-md-3">
						<div class="uix-tooltip"><a href="#"><i class="fa fa-cog" aria-hidden="true"></i> Bottom</a> <span class="uix-tooltip__content uix-tooltip__content--bottom">Tooltip text</span> </div>

					</div>
					<div class="col-lg-3 col-md-3">
						<div class="uix-tooltip"><a href="#"><i class="fa fa-cog" aria-hidden="true"></i> Left</a> <span class="uix-tooltip__content uix-tooltip__content--left">Tooltip text</span> </div>

					</div>	
				</div>
				<!-- .row end -->	
                   
                    
            </div>
            <!-- .container end -->
 
        </section>   
        
       
        
        
        @@include('./src/components/_global/include-copyright.html')
        
        
    </div>
    <!-- .wrapper end -->
       
       
    @@include('./src/components/_global/include-footer.html')

