/* ====================================================== 
   <!-- Footer Templates -->  
/* ====================================================== */
.uix-special-footer__container {
	background: $primary-text-color1;
	padding: 3rem 0;	
	margin: 3rem 0 0;
	color: $sub-text-color;
	
	&.is-transparent {
		background: none;
	}

	img.logo {
		max-width: 150px;
		margin-bottom: 1.5rem;
	}
	
	h3,
	.uix-typo--h3 {
		margin-bottom: 1rem;
		font-size: 1.2em;
		font-weight: 500;
		color: $sub-text-color;

	}
	

	.uix-special-footer__menus {

		&::after {
			content: '';
			display: block;
			clear: both;
			width: 100%;
		}
		> .list {
			width: 12rem;
			float: left;

			li {
				margin: .5rem 0;
				display: block;
			}		

		}
	} 
	
	
}


@media all and (max-width: 768px) {

	
	.uix-special-footer__container {in: 3rem 0;

		img.logo {
			max-width: 100%;
		}
		
	
		.pull-left,
		.pull-right {
			position: relative !important;
			display: block !important;
			width: 100% !important;
			text-align: left;
			float: none;
		}
	
		
		.uix-t-l,
		.uix-t-r {
			float: none;
			text-align: center;
		}
		
		.uix-special-footer__menus {

			> .list {
				width: 33.3%;
			}

		} 
		
	}


}