@@include('./src/components/ES5/_global/include-header.html')
     
  <body class="page">
  
  
          
    @@include('./src/components/ES5/_global/include-loader.html')
    @@include('./src/components/ES5/_global/include-toggle-trigger.html')
    
    

  
  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/ES5/_global/include-brand.html')
                        
                        @@include('./src/components/ES5/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder"></div>
      
      
        <!-- Content 01
        ====================================================== -->
        <section>
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h2>Side by Side List</h2>
                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section>
     
       
    
       <!-- Content 02
        ====================================================== -->
        <section class="uix-spacing--m">
            <div class="container uix-t-c">
                   
				           
				<div class="row">
					<div class="col-lg-4 col-md-4">
															
						<dl class="uix-list-abreast">

							<dt>Title 1: </dt>
							<dd>This is a description.</dd>

							<dt>Title 2: </dt>
							<dd>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</dd>		
																		

						</dl>
						
						
						
						
						

					</div>
					<div class="col-lg-4 col-md-4">
						<dl class="uix-list-abreast">

							<dt>Title 1: </dt>
							<dd>This is a description.</dd>

							<dt>Title 2: </dt>
							<dd>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</dd>		
																	

						</dl>

					</div>
					<div class="col-lg-4 col-md-4">
						<dl class="uix-list-abreast">

							<dt>Title 1: </dt>
							<dd>This is a description.</dd>

							<dt>Title 2: </dt>
							<dd>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</dd>		
																	

						</dl>

					</div>
				</div>
				<!-- .row end -->	
                  
                   
                    
            </div>
            <!-- .container end -->
 
        </section>   
        
        
    
       <!-- Content 02
        ====================================================== -->
        <section class="uix-spacing--m uix-spacing--no-top">
            <div class="container uix-t-c">
                   
				           
				<div class="row">
					<div class="col-lg-4 col-md-4">
															
						<dl class="uix-list-abreast uix-list-abreast--icon">

							<dt><i class="fa fa-location-arrow" aria-hidden="true"></i></dt>
							<dd>
								<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
								<p>Eet lacinia odio sem nec elit.</p>
							</dd>


						</dl>
						
						<dl class="uix-list-abreast uix-list-abreast--icon">

							<dt><i class="fa fa-envelope" aria-hidden="true"></i></dt>
							<dd>
								<p>your@gmail.com </p>
							</dd>

						</dl>
						
						<dl class="uix-list-abreast uix-list-abreast--icon">

							<dt><i class="fa fa-phone" aria-hidden="true"></i></dt>
							<dd>
								<p>(1234) 12345678</p>
							</dd>

						</dl>					
						
						
						<dl class="uix-list-abreast uix-list-abreast--icon">

							<dt><i class="fa fa-fax" aria-hidden="true"></i></dt>
							<dd>
								<p>(1234) 12345678</p>
							</dd>

						</dl>	
       
						

					</div>
					<div class="col-lg-4 col-md-4">
						
						
					</div>
					<div class="col-lg-4 col-md-4">
					
					
					</div>
				</div>
				<!-- .row end -->	
                  
                   
                    
            </div>
            <!-- .container end -->
 
        </section>   
        
        
        

        
        
        @@include('./src/components/ES5/_global/include-copyright.html')
        
        
    </div>
    <!-- .wrapper end -->
       
       
    @@include('./src/components/ES5/_global/include-footer.html')

