/* ====================================================== 
   <!-- Side by Side List With Photo --> 
/* ====================================================== */

.list-side-by-side-img {
   
	.item {
		margin-top: 1.5rem;
		padding-bottom: 3rem;
		position: relative;
		

		.item-left,
		.item-body {
			display: table-cell;
			vertical-align: top;
		}
	
		
		.item-body {
			padding-left: 1.5rem;
			
			em {
				color: $sub-text-color;
				display: inline-block;
				margin-right: 1rem;
			}
	
		}
		
		.item-desc {
			line-height: 1.5;
			margin-top: 1em;
		}

		.item-left-imgbox {
			width: 250px;
			margin: 0 auto;

			img {
				width: 100%;
			}


		}

		
		
	}

	
}





@media (max-width: 768px) {
 
    .list-side-by-side-img {
		
        text-align: center;
		
		.item {
			
			.item-left {
				display: block;
				text-align: center;
				margin-bottom: 1rem;
			}

			.item-left-imgbox {
				width: 100%;
			}

			.item-body {
				display: block;
				padding-left: 0;
				width: 100%;
			}	
		}
    }


}