
/* ====================================================== 
     <!-- Editing Component  -->        
/* ====================================================== */

/* Post edit link */
.uix-post-edit {
	display: inline-block;
	background: #F9F9F9;
	padding: 0.175rem 0.4375rem;
	border: 1px solid #DDDDDD;
	border-radius: 2px;
	text-decoration: none !important;
	margin-top: 1.09375rem;
}
