@@include('./src/components/ES5/_global/include-header.html')
     
  <body class="page">
  
  
          
    @@include('./src/components/ES5/_global/include-loader.html')
    @@include('./src/components/ES5/_global/include-toggle-trigger.html')
    
    

  
  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/ES5/_global/include-brand.html')
                        
                        @@include('./src/components/ES5/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder"></div>
      
      
     
        <!-- Content 
        ====================================================== -->
        <section>
            <div class="container uix-t-c">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h2>Vertical Text</h2>
							<p>Display element text in a vertical fashion. </p>
                        </div>
                    </div>
                    <!-- .row end -->
              
                    
            </div>
            <!-- .container end -->
 
        </section>
     
       
     
       <!-- Content 
        ====================================================== -->
        <section class="uix-spacing--m" style="background: #E7E7E7;">
            <div class="container uix-height--20 is-mobile-still">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">

							<div class="uix-typo--vertical uix-typo--style-uppercase">Vertical Text</div>  

                        </div>
                    </div>
                    <!-- .row end -->
                    
             
            </div>
            <!-- .container end -->
            
            
        </section>
        
        <section class="uix-spacing--m" style="background: #ddd;">
            <div class="container uix-height--20 is-mobile-still">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">


                            <div class="uix-typo--vertical uix-typo--vertical-characters-line uix-typo--style-uppercase">Vertical Text</div>  
                            
                       
                       
                        </div>
                    </div>
                    <!-- .row end -->
                    
             
            </div>
            <!-- .container end -->
            
            
        </section>
          
        
       
        
        @@include('./src/components/ES5/_global/include-copyright.html')
        
        
    </div>
    <!-- .uix-wrapper end -->
       
       
    @@include('./src/components/ES5/_global/include-footer.html')

