/* ======================================================
   <!-- Advanced Slider (Basic) -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';

/*
 * 1. Initialize the slider style
 * 2. Pagination dots
 * 3. Next/Prev buttons
*/


/*
 ---------------------------
 1. Initialize the slider style
 ---------------------------
 */
.uix-advanced-slider {

	.uix-advanced-slider__inner {

		.uix-advanced-slider__item {
			left: auto;
			right: 0;

		}

	}


}

/*
 ---------------------------
 2. Pagination dots
 ---------------------------
 */
.uix-advanced-slider__pagination {

	ul {
		left: auto;
		right: 0;

	}



}

/*
 ---------------------------
 3. Next/Prev buttons
 ---------------------------
 */
.uix-advanced-slider__arrows {

	.uix-advanced-slider__arrows--prev {
		left: auto;
		right: 15px;

	}
	.uix-advanced-slider__arrows--next {
		right: auto;
		left: 15px;
		text-align: left;

	}

}
