<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
	<meta charset="@@{website_charset}" />
	<title>Ajax Page 3 - Content - @@{website_title}</title>	
	@@include('./src/components/ES6/_global/include-header.html')
</head>  

     
  <body class="page uix-hidden-scrollbar">
  
  
  
          
    @@include('./src/components/ES6/_global/include-loader.html')
    @@include('./src/components/ES6/_global/include-toggle-trigger.html')
    
    

  
  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container uix-header__container--overlay">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/ES6/_global/include-brand.html')
                        
                        @@include('./src/components/ES6/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
    
		
		<main id="uix-maincontent">
			
			<!-- Section Navigation
			============================================= --> 
			<ol class="uix-menu-sidefixed"> 
				<li><a href="ajax-content-page-1.html" data-ajax-page="true" data-index="0"><span>01</span><strong>Page 1</strong></a></li>
				<li><a href="ajax-content-page-2.html" data-ajax-page="true" data-index="1"><span>02</span><strong>Page 2</strong></a></li>
				<li><a href="ajax-content-page-3.html" data-ajax-page="true" data-index="2"><span>03</span><strong>Page 3</strong></a></li>
				<li><a href="ajax-content-page-4.html" data-ajax-page="true" data-index="3"><span>04</span><strong>Page 4</strong></a></li>
			</ol>


			<!-- Page Container
			============================================= --> 
			<div class="uix-ajax-load__fullpage-container">

				<div class="uix-ajax-load__loader"><span></span></div>

				<section class="uix-height--100 is-mobile-still" style="background: #b5bdc8; background: linear-gradient(to bottom, #b5bdc8 0%,#28343b 100%);">

					<!-- ajax container -->
					<div class="ajax-container" data-ajax-method="POST" data-ajax-page-id="2">


						<div class="js-uix-ajax-load__container">

							<div class="uix-ajax-load__container">

								<!-- Your Special Content Here
								========================= -->

								<div class="container uix-spacing--m">

										<div class="row">
											<div class="col-md-10 offset-md-1">


													<div class="uix-entry__content uix-list uix-list--normal uix-table uix-table--bordered">

														<h1>AJAX Content 3</h1>


														<p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper.</p>

														<p>Dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper.</p>

														<p>Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper.</p>


													</div>


											</div>          


										</div>
										<!-- .row end -->       


								</div>
								<!-- .container end -->


								<!-- ========================= -->


							</div>
							<!-- /.uix-ajax-load__container -->



						</div>


					</div>

				</section> 


			</div>
			<!-- /.uix-ajax-load__fullpage-container --> 	


			
		</main>
		

      
		
		
        @@include('./src/components/ES6/_global/include-copyright.html')
        
        
    </div>
    <!-- .uix-wrapper end -->
       
       
    @@include('./src/components/ES6/_global/include-footer.html')


  
  
   

