/* ====================================================== 
   5. Form Elements                                     
/* ====================================================== */
/* 5.1. Controls */

.controls {
  text-align: left;
  position: relative;
}

.controls-custom {
  width: calc(100% - 1.09375rem );
  font-size: 0.875rem;
  padding: 0.546875rem;
  border: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.controls {
  input {
    &[type="text"], &[type="email"], &[type="tel"], &[type="password"], &[type="url"], &[type="search"] {
      width: calc(100% - 1.09375rem );
      font-size: 0.875rem;
      padding: 0.546875rem;
      border: none;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
    }
  }
  textarea, button, select {
    width: calc(100% - 1.09375rem );
    font-size: 0.875rem;
    padding: 0.546875rem;
    border: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  input {
    &[type="text"], &[type="email"], &[type="tel"], &[type="password"], &[type="url"], &[type="search"] {
      background-color: #fff;
      color: #888;
      margin-bottom: 1.09375rem;
      border: 1px solid #c6c6c6;
      width: calc(100% - 1.09375rem - 2px );
    }
  }
  textarea, button, select {
    background-color: #fff;
    color: #888;
    margin-bottom: 1.09375rem;
    border: 1px solid #c6c6c6;
    width: calc(100% - 1.09375rem - 2px );
  }
  input {
    &[type="text"] {
      &:focus, &:hover {
        outline: none;
        border-color: $primary-text-color1;
      }
    }
    &[type="email"] {
      &:focus, &:hover {
        outline: none;
        border-color: $primary-text-color1;
      }
    }
    &[type="tel"] {
      &:focus, &:hover {
        outline: none;
        border-color: $primary-text-color1;
      }
    }
    &[type="password"] {
      &:focus, &:hover {
        outline: none;
        border-color: $primary-text-color1;
      }
    }
    &[type="url"] {
      &:focus, &:hover {
        outline: none;
        border-color: $primary-text-color1;
      }
    }
    &[type="search"] {
      &:focus, &:hover {
        outline: none;
        border-color: $primary-text-color1;
      }
    }
  }
  textarea {
    &:focus, &:hover {
      outline: none;
      border-color: $primary-text-color1;
    }
  }
  button {
    &:focus, &:hover {
      outline: none;
      border-color: $primary-text-color1;
    }
  }
  select {
    &:focus, &:hover {
      outline: none;
      border-color: $primary-text-color1;
    }
  }
  input {
    &[type="text"] {
      &:focus ~ label, &:hover ~ label {
        color: $primary-text-color1;
        cursor: text;
      }
    }
    &[type="email"] {
      &:focus ~ label, &:hover ~ label {
        color: $primary-text-color1;
        cursor: text;
      }
    }
    &[type="tel"] {
      &:focus ~ label, &:hover ~ label {
        color: $primary-text-color1;
        cursor: text;
      }
    }
    &[type="password"] {
      &:focus ~ label, &:hover ~ label {
        color: $primary-text-color1;
        cursor: text;
      }
    }
    &[type="url"] {
      &:focus ~ label, &:hover ~ label {
        color: $primary-text-color1;
        cursor: text;
      }
    }
    &[type="search"] {
      &:focus ~ label, &:hover ~ label {
        color: $primary-text-color1;
        cursor: text;
      }
    }
  }
  textarea {
    &:focus ~ label, &:hover ~ label {
      color: $primary-text-color1;
      cursor: text;
    }
  }
  button {
    &:focus ~ label, &:hover ~ label {
      color: $primary-text-color1;
      cursor: text;
    }
  }
  select {
    &:focus ~ label, &:hover ~ label {
      color: $primary-text-color1;
      cursor: text;
    }
  }
  .fa-sort {
    position: absolute;
    right: 0.875rem;
    top: 1.09375rem;
    color: #999;
  }
  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
  }
  label {
    position: absolute;
    left: 0.875rem;
    top: 0.721875rem;
    color: #999;
    display: inline-block;
    padding: 0 0.875rem;
    background-color: rgba(255, 255, 255, 0);
    pointer-events: none;
    -moz-transition: color 0.3s, top 0.3s, background-color 0.2s;
    -o-transition: color 0.3s, top 0.3s, background-color 0.2s;
    -webkit-transition: color 0.3s, top 0.3s, background-color 0.2s;
    transition: color 0.3s, top 0.3s, background-color 0.2s;
    &.active {
      top: -1.09375rem;
      color: #555;
      background-color: white;
    }
  }
  textarea {
    resize: none;
    height: 20vh;
  }
  button {
    cursor: pointer;
    padding: 0.75rem 0;
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .req-icon {
    position: absolute;
    right: 0.721875rem;
    top: 0.721875rem;
    color: $highlight-color1;
  }
  &.success {
    input {
      &[type="text"], &[type="email"], &[type="tel"], &[type="password"], &[type="url"], &[type="search"] {
        border-color: #4AB005;
      }
    }
    textarea, button, select {
      border-color: #4AB005;
    }
    label {
      color: #4AB005 !important;
    }
  }
  &.error {
    input {
      &[type="text"], &[type="email"], &[type="tel"], &[type="password"], &[type="url"], &[type="search"] {
        border-color: #f00;
      }
    }
    textarea, button, select {
      border-color: #f00;
    }
    label {
      color: #f00 !important;
    }
  }
  &.withicon {
    label {
      left: 2rem;
    }
    i {
      position: absolute;
      left: 1rem;
      top: 1rem;
    }
    input {
      &[type="text"], &[type="email"], &[type="tel"], &[type="password"], &[type="url"], &[type="search"] {
        padding-left: 2.5rem;
        width: calc(100% - 1.09375rem - 2px - 2.5rem );
      }
    }
    textarea, button, select {
      padding-left: 2.5rem;
      width: calc(100% - 1.09375rem - 2px - 2.5rem );
    }
  }
}

/* With Status */

/* With Icons */

/* 5.2. Group */

.controls-custom-merge {
  background-color: #fff;
  color: #888;
  margin-bottom: 1.09375rem;
  border: 1px solid #c6c6c6;
  font-size: 0.875rem;
  padding: 0.546875rem 1.09375rem;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 600;
}

.form-merge {
  min-width: 100%;
  overflow: hidden;
  &.no-labels label {
    display: none;
  }
  input {
    -webkit-border-radius: 50px 0 0 50px;
    -moz-border-radius: 50px 0 0 50px;
    border-radius: 50px 0 0 50px;
    + button[type="submit"] {
      margin-left: -0.25rem;
    }
  }
  button[type="submit"] {
    -webkit-border-radius: 0 50px 50px 0;
    -moz-border-radius: 0 50px 50px 0;
    border-radius: 0 50px 50px 0;
    position: relative;
    margin: 0;
  }
  &.form-square {
    input, button[type="submit"] {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
  }
}

@media all and (max-width: 768px) {
  .form-merge {
    input {
      width: 100%;
      border-radius: 50px;
      + button[type="submit"] {
        margin-left: 0;
      }
    }
    button[type="submit"] {
      bottom: 0;
      border-radius: 50px;
      width: 100%;
    }
  }
}