
/* ====================================================== 
   31. Counter    
/* ====================================================== */

[data-counter-number] {
	-webkit-box-shadow: 0 4px  4px  rgba(0, 0, 0, .05),
               0 1px  6px  rgba(0, 0, 0, .05),
               0 8px  8px  rgba(0, 0, 0, .05), 
               0 16px 16px rgba(0, 0, 0, .05), 
               8px 32px 32px rgba(0, 0, 0, .02), 
               8px 64px 64px rgba(0, 0, 0, .02);
	-moz-box-shadow: 0 4px  4px  rgba(0, 0, 0, .05),
               0 1px  6px  rgba(0, 0, 0, .05),
               0 8px  8px  rgba(0, 0, 0, .05), 
               0 16px 16px rgba(0, 0, 0, .05), 
               8px 32px 32px rgba(0, 0, 0, .02), 
               8px 64px 64px rgba(0, 0, 0, .02);
	box-shadow: 0 4px  4px  rgba(0, 0, 0, .05),
               0 1px  6px  rgba(0, 0, 0, .05),
               0 8px  8px  rgba(0, 0, 0, .05), 
               0 16px 16px rgba(0, 0, 0, .05), 
               8px 32px 32px rgba(0, 0, 0, .02), 
               8px 64px 64px rgba(0, 0, 0, .02);
	padding: 2rem;
}


