/* ====================================================== 
   35. Themes    
/* ====================================================== */
/*------- 35.1 White  --------*/

/* Navigation Area  */

.theme-white {
  ul.menu-main > li {
    > a {
      color: #fff;
    }
    &.active, &.current-menu-item, &:hover {
      -webkit-box-shadow: 0 1.15px 0 rgba(255, 255, 255, 1);
      -moz-box-shadow: 0 1.15px 0 rgba(255, 255, 255, 1);
      box-shadow: 0 1.15px 0 rgba(255, 255, 255, 1);
    }
    > .nav-arrow {
      background-color: #fff;
    }
  }
  .header-area {
    background-color: rgba(255, 255, 255, 0.15);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    &.spy-scroll-fixed {
      background-color: #DA304A;
    }
    .menu-right a {
      color: #fff;
    }
  }
}


@media all and (max-width: 768px) {
	.theme-white {
		.header-area {
		  background-color: transparent;
		  border-bottom: none;
		  -webkit-box-shadow: none;
		  -moz-box-shadow: none;
		  box-shadow: none;
		  &.spy-scroll-fixed {
			background-color: transparent;
		  }
		}
		
		.brand {
		  display: none;
		}
	}

}
