/* ====================================================== 
   Form                                     
/* ====================================================== */
/* 1) Controls */

.controls textarea, 
.controls input[type="text"],
.controls select {
	-webkit-border-radius: 0; 
	-moz-border-radius: 0; 
	border-radius: 0;
	
	/* Remove inner shadow from inputs on mobile iOS */
    -webkit-appearance: none;
}

.controls {
  text-align: left;
  position: relative;
}

.controls-custom {
  width: calc(100% - 1.09375rem );
  font-size: 0.875rem;
  padding: 0.546875rem;
  border: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  @include transition-default();
}

.controls {
	
	&.radio {
	

	  label {
		padding-left: 1.25rem !important;
		position: relative !important;
		left: auto !important;
		top: auto !important;
		pointer-events: auto !important;
		&.active {
		  top: auto !important;
		}
	  }	
		
	}
	
	&.select {

		> span {
			display: inline-block;
			padding-right: 1rem;
			color: #999;
			font-weight: 500;
			
		}
		
		select {
			padding-right: 1.5rem !important;
		}
		
	  label {
		padding-left: 0 !important;
		padding-right: 0 !important;
		position: relative !important;
		left: auto !important;
		top: auto !important;
		pointer-events: auto !important;
		padding-right: 1rem !important;
		
		&:after {
		  border: 1px solid #999;
		  border-right: 0;
		  border-top: 0;
		  content: " ";
		  display: block;
		  width: .35rem;
		  height: .35rem;
		  pointer-events: none;
		  position: absolute;
		  -webkit-transform: rotate(-45deg);
				  transform: rotate(-45deg);
		  margin-top: -.875rem;
		  right: 1rem;
		  top: 50%;;
		  z-index: 1;
		}

		  
		  
		&.active {
		  top: auto !important;
		}
	  }	
		
	}
	
	
	
	
  input {
    &[type="text"], &[type="email"], &[type="tel"], &[type="password"], &[type="url"], &[type="search"] {
      width: calc(100% - 1.09375rem );
      font-size: 0.875rem;
      padding: 0.546875rem;
      border: none;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      @include transition-default();
    }
  }
	
  textarea, button, select {
    width: calc(100% - 1.09375rem );
    font-size: 0.875rem;
    padding: 0.546875rem;
    border: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    @include transition-default();
  }
	
  input {
    &[type="text"], &[type="email"], &[type="tel"], &[type="password"], &[type="url"], &[type="search"] {
      background-color: #fff;
      color: #888;
      margin-bottom: 1.09375rem;
      border: 1px solid #c6c6c6;
      width: calc(100% - 1.09375rem - 2px );
    }
  }
  textarea, button, select {
    background-color: #fff;
    color: #888;
    margin-bottom: 1.09375rem;
    border: 1px solid #c6c6c6;
    width: calc(100% - 1.09375rem - 2px );
  }
  input {
    &[type="text"] {
      &:focus, &:hover {
        outline: none;
        border-color: $primary-text-color1;
      }
    }
    &[type="email"] {
      &:focus, &:hover {
        outline: none;
        border-color: $primary-text-color1;
      }
    }
    &[type="tel"] {
      &:focus, &:hover {
        outline: none;
        border-color: $primary-text-color1;
      }
    }
    &[type="password"] {
      &:focus, &:hover {
        outline: none;
        border-color: $primary-text-color1;
      }
    }
    &[type="url"] {
      &:focus, &:hover {
        outline: none;
        border-color: $primary-text-color1;
      }
    }
    &[type="search"] {
      &:focus, &:hover {
        outline: none;
        border-color: $primary-text-color1;
      }
    }
  }
  textarea {
    &:focus, &:hover {
      outline: none;
      border-color: $primary-text-color1;
    }
  }
  button {
    &:focus, &:hover {
      outline: none;
      border-color: $primary-text-color1;
    }
  }
  select {
    &:focus, &:hover {
      outline: none;
      border-color: $primary-text-color1;
    }
  }
  input {
    &[type="text"] {
      &:focus ~ label, &:hover ~ label {
        color: $primary-text-color1;
        cursor: text;
      }
    }
    &[type="email"] {
      &:focus ~ label, &:hover ~ label {
        color: $primary-text-color1;
        cursor: text;
      }
    }
    &[type="tel"] {
      &:focus ~ label, &:hover ~ label {
        color: $primary-text-color1;
        cursor: text;
      }
    }
    &[type="password"] {
      &:focus ~ label, &:hover ~ label {
        color: $primary-text-color1;
        cursor: text;
      }
    }
    &[type="url"] {
      &:focus ~ label, &:hover ~ label {
        color: $primary-text-color1;
        cursor: text;
      }
    }
    &[type="search"] {
      &:focus ~ label, &:hover ~ label {
        color: $primary-text-color1;
        cursor: text;
      }
    }
  }
  textarea {
    &:focus ~ label, &:hover ~ label {
      color: $primary-text-color1;
      cursor: text;
    }
  }
  button {
    &:focus ~ label, &:hover ~ label {
      color: $primary-text-color1;
      cursor: text;
    }
  }
  select {
    &:focus ~ label, &:hover ~ label {
      color: $primary-text-color1;
      cursor: text;
    }
  }
  .fa-sort {
    position: absolute;
    right: 0.875rem;
    top: 1.09375rem;
    color: #999;
  }
  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
  }
  label {
	font-weight: 500;
    position: absolute;
    left: 0.875rem;
    top: 0.721875rem;
    color: #999;
    display: inline-block;
    padding: 0 0.875rem;
    background-color: rgba(255, 255, 255, 0);
    pointer-events: none;
    -moz-transition: color 0.3s, top 0.3s, background-color 0.2s;
    -o-transition: color 0.3s, top 0.3s, background-color 0.2s;
    -webkit-transition: color 0.3s, top 0.3s, background-color 0.2s;
    transition: color 0.3s, top 0.3s, background-color 0.2s;
    &.active {
      top: -1.09375rem;
      color: #555;
      background-color: white;
    }
  }
  textarea {
    resize: none;
    height: 20vh;
  }
  button {
    cursor: pointer;
    padding: 0.75rem 0;
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .req-icon {
    position: absolute;
    right: 0.721875rem;
    top: 0.721875rem;
    color: $highlight-color1;
  }
  &.success {
    input {
      &[type="text"], &[type="email"], &[type="tel"], &[type="password"], &[type="url"], &[type="search"] {
        border-color: #4AB005;
      }
    }
    textarea, button, select {
      border-color: #4AB005;
    }
    label {
      color: #4AB005 !important;
    }
  }
  &.error {
    input {
      &[type="text"], &[type="email"], &[type="tel"], &[type="password"], &[type="url"], &[type="search"] {
        border-color: #f00;
      }
    }
    textarea, button, select {
      border-color: #f00;
    }
    label {
      color: #f00 !important;
    }
  }
  &.withicon {
    label {
      left: 2rem;
    }
    i {
      position: absolute;
      left: 1rem;
      top: 1rem;
    }
    input {
      &[type="text"], &[type="email"], &[type="tel"], &[type="password"], &[type="url"], &[type="search"] {
        padding-left: 2.5rem;
        width: calc(100% - 1.09375rem - 2px - 2.5rem );
      }
    }
    textarea, button, select {
      padding-left: 2.5rem;
      width: calc(100% - 1.09375rem - 2px - 2.5rem );
    }
  }
}




/* 2) Upload */
.controls-file-container {
  position: relative;
}

.controls-file-trigger {
  cursor: pointer;
}

.controls-file-container {
  input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 14.0625rem;
    opacity: 0;
	cursor: pointer;
  }
  .controls-file-return {
    font-style: italic;
  }
}


/* 3) Group */

.controls-custom-merge {
  @include transition-default();
  background-color: #fff;
  color: #888;
  margin-bottom: 1.09375rem;
  border: 1px solid #c6c6c6;
  font-size: 0.875rem;
  padding: 0.546875rem 1.09375rem;
  font-weight: 600;
}

.form-merge {
  min-width: 100%;
  overflow: hidden;
  &.no-labels label {
    display: none;
  }
  input {
    -webkit-border-radius: 50px 0 0 50px;
    -moz-border-radius: 50px 0 0 50px;
    border-radius: 50px 0 0 50px;
    + button[type="submit"] {
      margin-left: -0.25rem;
    }
  }
  button[type="submit"] {
    -webkit-border-radius: 0 50px 50px 0;
    -moz-border-radius: 0 50px 50px 0;
    border-radius: 0 50px 50px 0;
    position: relative;
    margin: 0;
  }
  &.form-square {
    input, button[type="submit"] {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
  }
}

@media all and (max-width: 768px) {
  .form-merge {
    input {
      width: 100%;
      border-radius: 50px;
      + button[type="submit"] {
        margin-left: 0;
      }
    }
    button[type="submit"] {
      bottom: 0;
      border-radius: 50px;
      width: 100%;
    }
  }
}