/* ====================================================== 
   <!-- Bulleted List -->
/* ====================================================== */
.list-bullet {
	
	i {
		margin-right: auto;
		margin-left: .5rem;
	}
}
