@@include('./src/components/ES5/_global/include-header.html')
     
  <body class="page">
  
  
          
    @@include('./src/components/ES5/_global/include-loader.html')
    @@include('./src/components/ES5/_global/include-toggle-trigger.html')
    
    

  
  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/ES5/_global/include-brand.html')
                        
                        @@include('./src/components/ES5/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder"></div>
      
		<main id="uix-maincontent">
			
			<!-- Content 
			====================================================== -->
			<section>
				<div class="container uix-t-c">
						<div class="row">
							<div class="col-md-8 offset-md-2">
								<h2>Radial Progress Bar</h2>

							</div>
						</div>
						<!-- .row end -->


				</div>
				<!-- .container end -->

			</section>



		   <!-- Content 
			====================================================== -->
			<section class="uix-spacing--m">
				<div class="container uix-t-c">
						<div class="row">
							<div class="col-12">


									<div class="uix-progressbar--circle uix-progressbar--progress-0" data-progressbar-percent="30" data-progressbar-unit="%"> 
										<span class="uix-progressbar__track">
											<span>0<em class="uix-progressbar__unit">%</em></span>
										</span>
										<div class="uix-progressbar__pie">
											<div class="uix-progressbar__pie--left-side uix-progressbar__pie--half-circle"></div>
											<div class="uix-progressbar__pie--right-side uix-progressbar__pie--half-circle"></div>
										</div>
										<div class="uix-progressbar__title">Title 1</div>
									</div>


									<div class="uix-progressbar--circle uix-progressbar--progress-0" data-progressbar-percent="45" data-progressbar-unit="%">
										<span class="uix-progressbar__track">
											<span>0<em class="uix-progressbar__unit">%</em></span>
										</span>
										<div class="uix-progressbar__pie">
											<div class="uix-progressbar__pie--left-side uix-progressbar__pie--half-circle"></div>
											<div class="uix-progressbar__pie--right-side uix-progressbar__pie--half-circle"></div>
										</div>
										<div class="uix-progressbar__title">Title 2</div>
									</div>


									<div class="uix-progressbar--circle uix-progressbar--progress-0" data-progressbar-percent="66" data-progressbar-unit="%">
										<span class="uix-progressbar__track">
											<span>0<em class="uix-progressbar__unit">%</em></span>
										</span>
										<div class="uix-progressbar__pie">
											<div class="uix-progressbar__pie--left-side uix-progressbar__pie--half-circle"></div>
											<div class="uix-progressbar__pie--right-side uix-progressbar__pie--half-circle"></div>
										</div>
										<div class="uix-progressbar__title">Title 3</div>
									</div>


									<div class="uix-progressbar--circle uix-progressbar--progress-0 is-transparent" data-progressbar-percent="100" data-progressbar-unit="%">
										<span class="uix-progressbar__track">
											<span>0<em class="uix-progressbar__unit">%</em></span>
										</span>
										<div class="uix-progressbar__pie">
											<div class="uix-progressbar__pie--left-side uix-progressbar__pie--half-circle"></div>
											<div class="uix-progressbar__pie--right-side uix-progressbar__pie--half-circle"></div>
										</div>
										<div class="uix-progressbar__title">Title 4</div>
									</div>


									<div class="uix-progressbar--circle uix-progressbar--progress-0 is-transparent" data-progressbar-percent="55" data-progressbar-unit="%">
										<span class="uix-progressbar__track">
											<span>0<em class="uix-progressbar__unit">%</em></span>
										</span>
										<div class="uix-progressbar__pie">
											<div class="uix-progressbar__pie--left-side uix-progressbar__pie--half-circle"></div>
											<div class="uix-progressbar__pie--right-side uix-progressbar__pie--half-circle"></div>
										</div>
										<div class="uix-progressbar__title">Title 5</div>
									</div>


									<div class="uix-progressbar--circle uix-progressbar--progress-0 is-transparent" data-progressbar-percent="18" data-progressbar-unit="%">
										<span class="uix-progressbar__track">
											<span>0<em class="uix-progressbar__unit">%</em></span>
										</span>
										<div class="uix-progressbar__pie">
											<div class="uix-progressbar__pie--left-side uix-progressbar__pie--half-circle"></div>
											<div class="uix-progressbar__pie--right-side uix-progressbar__pie--half-circle"></div>
										</div>
										<div class="uix-progressbar__title">Title 6</div>
									</div>



							</div>
							<!-- .col-12 end -->
						</div>
						<!-- .row end -->


				</div>
				<!-- .container end -->




			</section>



			<!-- Content 
			====================================================== -->
			<section>
				<div class="container uix-t-c">
						<div class="row">
							<div class="col-md-8 offset-md-2">
								<h2>Horizontal Rectangle Progress Bar</h2>

							</div>
						</div>
						<!-- .row end -->


				</div>
				<!-- .container end -->

			</section>



		   <!-- Content 
			====================================================== -->
			<section class="uix-spacing--m">
				<div class="container">
						<div class="row">
							<div class="col-12 uix-trans">


								<div class="uix-progressbar--rectangle uix-progressbar--progress-0" data-progressbar-percent="30" data-progressbar-unit="%">
									<div class="uix-progressbar__title">Title 1</div>
									<div class="uix-progressbar__bar">
										<div class="uix-progressbar__track"></div>
										<span>0<em class="uix-progressbar__unit">%</em></span>
									</div>
								</div>



								<div class="uix-progressbar--rectangle uix-progressbar--progress-0" data-progressbar-percent="57" data-progressbar-unit="%">
									<div class="uix-progressbar__title">Title 2</div>
									<div class="uix-progressbar__bar">
										<div class="uix-progressbar__track"></div>
										<span>0<em class="uix-progressbar__unit">%</em></span>
									</div>
								</div>



								<div class="uix-progressbar--rectangle uix-progressbar--progress-0" data-progressbar-percent="100" data-progressbar-unit="%">
									<div class="uix-progressbar__title">Title 3</div>
									<div class="uix-progressbar__bar">
										<div class="uix-progressbar__track"></div>
										<span>0<em class="uix-progressbar__unit">%</em></span>
									</div>
								</div>



							</div>
							<!-- .col-12 end -->
						</div>
						<!-- .row end -->


				</div>
				<!-- .container end -->




			</section>

			
		</main>
     
			
        
        
        @@include('./src/components/ES5/_global/include-copyright.html')
        
        
    </div>
    <!-- .uix-wrapper end -->
       
       
    @@include('./src/components/ES5/_global/include-footer.html')

