@@include('./src/components/ES5/_global/include-header.html')
     
  <body class="page">
  
  
          
    @@include('./src/components/ES5/_global/include-loader.html')
    @@include('./src/components/ES5/_global/include-toggle-trigger.html')
    
    

  
  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/ES5/_global/include-brand.html')
                        
                        @@include('./src/components/ES5/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder"></div>
      
		
		<main id="uix-maincontent">
			
			<!-- Content 
			====================================================== -->
			<section>
				<div class="container uix-t-c">
						<div class="row">
							<div class="col-md-8 offset-md-2">
								<h2>Responsive Images</h2>
								<p>Resize the browser to see different versions of the picture loading at different viewport sizes.<br>
	The browser looks for the first source element where the media query matches the user's current viewport width,
	and fetches the image specified in the <code>srcset</code> attribute.</p>
								<p class="uix-striking-msg uix-striking-msg--info">Note: Please use your phone to preview</p>

							</div>
						</div>
						<!-- .row end -->


				</div>
				<!-- .container end -->

			</section>



		   <!-- Content 
			====================================================== -->
			<section class="uix-spacing--m">
				<div class="container">

					<img
					   alt=""
					   srcset="assets/images/placeholder/800x600.jpg 768w,
					   assets/images/placeholder/1440x900.jpg 1440w"
					   size="(max-width: 768px) 100vw, 50vw"
					   src="assets/images/placeholder/1440x900.jpg" />

				</div>
				<!-- .container end -->

			</section>   

			
			
		</main>
		

        
     
        
        
        @@include('./src/components/ES5/_global/include-copyright.html')
        
        
    </div>
    <!-- .uix-wrapper end -->
       
       
    @@include('./src/components/ES5/_global/include-footer.html')

