<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
	<meta charset="@@{website_charset}" />
	<title>Multiple Items Carousel - @@{website_title}</title>	
	@@include('./src/components/ES5/_global/include-header.html')
</head>  

     
  <body class="page">
  
  
          
    @@include('./src/components/ES5/_global/include-loader.html')
    @@include('./src/components/ES5/_global/include-toggle-trigger.html')
    
    

  
  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/ES5/_global/include-brand.html')
                        
                        @@include('./src/components/ES5/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder js-uix-header__placeholder-autoheight"></div>
      
		
		<main id="uix-maincontent">
			
			
			<!-- Content 
			====================================================== -->
			<section class="uix-spacing--s uix-spacing--no-bottom">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h3>Multiple Items Carousel</h3>
							<p>A simple example that can customize JavaScript and CSS to meet your different needs.</p>
							<hr>
							
							
						</div>
					</div>
					<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>
			
		

		   <!-- Content 
			====================================================== -->
			<section class="uix-spacing--s">
				<div class="container">
						<div class="row">
							<div class="col-12">

								<div role="slider" class="uix-multi-carousel" 
									data-cus-carousel-dir="horizontal" 
									data-cus-carousel-loop="false" 
									data-cus-carousel-show="3" 
									data-cus-carousel-speed="250" 
									data-cus-carousel-draggable="true" 
									data-cus-carousel-draggable-cursor="move" 
									data-cus-carousel-next="#uix-multi-carousel__controls-1 .uix-multi-carousel__controls--next" 
									data-cus-carousel-prev="#uix-multi-carousel__controls-1 .uix-multi-carousel__controls--prev">

									<div class="uix-multi-carousel__items">

										<div>1</div>
										<div>2</div>
										<div>3</div>
										<div>4</div>
										<div>5</div>
										<div>6</div>
										<div>7</div>

									</div>

								</div>
								<!-- /.uix-multi-carousel -->

								<div class="uix-multi-carousel__controls" id="uix-multi-carousel__controls-1">
									<a href="javascript:void(0);" class="uix-multi-carousel__controls--prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
									<a href="javascript:void(0);" class="uix-multi-carousel__controls--next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
								</div>
								<!-- /.uix-multi-carousel__controls -->







							</div>
							<!-- .col-12 end -->
						</div>
						<!-- .row end -->


				</div>
				<!-- .container end -->


			</section>


			<section class="uix-spacing--s">
				<div class="container">
						<div class="row">
							<div class="col-12">

								<div class="uix-multi-carousel is-vertical" 
									data-cus-carousel-dir="vertical" 
									data-cus-carousel-loop="false" 
									data-cus-carousel-show="5" 
									data-cus-carousel-speed="250" 
									data-cus-carousel-draggable="true" 
									data-cus-carousel-draggable-cursor="move" 
									data-cus-carousel-next="#uix-multi-carousel__controls-1_2 .uix-multi-carousel__controls--next" 
									data-cus-carousel-prev="#uix-multi-carousel__controls-1_2 .uix-multi-carousel__controls--prev">

									<div class="uix-multi-carousel__items">

										<div>1</div>
										<div>2</div>
										<div>3</div>
										<div>4</div>
										<div>5</div>
										<div>6</div>
										<div>7</div>
										<div>8</div>

									</div>

								</div>
								<!-- /.uix-multi-carousel -->

								<div class="uix-multi-carousel__controls is-vertical" id="uix-multi-carousel__controls-1_2">
									<a href="javascript:void(0);" class="uix-multi-carousel__controls--prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
									<a href="javascript:void(0);" class="uix-multi-carousel__controls--next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
								</div>
								<!-- /.uix-multi-carousel__controls -->


							</div>
							<!-- .col-12 end -->
						</div>
						<!-- .row end -->


				</div>
				<!-- .container end -->


			</section>


			<!-- Content 
			====================================================== -->
			<section>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h3>Multiple Items Carousel (Loop)</h3>
							<p>Simply modify the <code>data-*</code> property of html.</p>
							<hr>
							
							
						</div>
					</div>
					<!-- .row end -->

				</div>
				<!-- .container end -->

			</section>
			
			
			
			



		   <!-- Content 
			====================================================== -->
			<section class="uix-spacing--s">
				<div class="container">
						<div class="row">
							<div class="col-12">

								<div role="slider" class="uix-multi-carousel" 
									data-cus-carousel-dir="horizontal" 
									data-cus-carousel-loop="true" 
									data-cus-carousel-show="3" 
									data-cus-carousel-speed="250" 
									data-cus-carousel-draggable="false" 
									data-cus-carousel-draggable-cursor="move" 
									data-cus-carousel-next="#uix-multi-carousel__controls-2 .uix-multi-carousel__controls--next" 
									data-cus-carousel-prev="#uix-multi-carousel__controls-2 .uix-multi-carousel__controls--prev">

									<div class="uix-multi-carousel__items">

										<div>1</div>
										<div>2</div>
										<div>3</div>
										<div>4</div>
										<div>5</div>
										<div>6</div>
										<div>7</div>

									</div>

								</div>
								<!-- /.uix-multi-carousel -->

								<div class="uix-multi-carousel__controls" id="uix-multi-carousel__controls-2">
									<a href="javascript:void(0);" class="uix-multi-carousel__controls--prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
									<a href="javascript:void(0);" class="uix-multi-carousel__controls--next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
								</div>
								<!-- /.uix-multi-carousel__controls -->


							</div>
							<!-- .col-12 end -->
						</div>
						<!-- .row end -->


				</div>
				<!-- .container end -->




			</section>


			<section class="uix-spacing--s">
				<div class="container">
						<div class="row">
							<div class="col-12">

								<div class="uix-multi-carousel is-vertical" 
									data-cus-carousel-dir="vertical" 
									data-cus-carousel-loop="true" 
									data-cus-carousel-show="5" 
									data-cus-carousel-speed="250" 
									data-cus-carousel-draggable="false" 
									data-cus-carousel-draggable-cursor="move" 
									data-cus-carousel-next="#uix-multi-carousel__controls-2_2 .uix-multi-carousel__controls--next" 
									data-cus-carousel-prev="#uix-multi-carousel__controls-2_2 .uix-multi-carousel__controls--prev">

									<div class="uix-multi-carousel__items">

										<div>1</div>
										<div>2</div>
										<div>3</div>
										<div>4</div>
										<div>5</div>
										<div>6</div>
										<div>7</div>
										<div>8</div>

									</div>

								</div>
								<!-- /.uix-multi-carousel -->

								<div class="uix-multi-carousel__controls is-vertical" id="uix-multi-carousel__controls-2_2">
									<a href="javascript:void(0);" class="uix-multi-carousel__controls--prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
									<a href="javascript:void(0);" class="uix-multi-carousel__controls--next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
								</div>
								<!-- /.uix-multi-carousel__controls -->


							</div>
							<!-- .col-12 end -->
						</div>
						<!-- .row end -->


				</div>
				<!-- .container end -->


			</section>

			
		</main>
		
      

        
        
        
        @@include('./src/components/ES5/_global/include-copyright.html')
        
        
    </div>
    <!-- .uix-wrapper end -->
       
       
    @@include('./src/components/ES5/_global/include-footer.html')

