@@include('./src/components/ES5/_global/include-header.html')
     
  <body class="page">
  
  
          
    @@include('./src/components/ES5/_global/include-loader.html')
    @@include('./src/components/ES5/_global/include-toggle-trigger.html')
    
    

  
    <div class="uix-wrapper">
    
        <!-- Header Area
        ============================================= -->      
        <header class="uix-header__container">
            
             <div class="uix-header">
                 <div class="container">
                 
                        @@include('./src/components/ES5/_global/include-brand.html')
                        
                        @@include('./src/components/ES5/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- .container end -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
        <div class="uix-header__placeholder"></div>
      
		
		<main id="uix-maincontent">
			
			<!-- Content   
			====================================================== -->
			<section>
				<div class="container uix-t-c">
						<div class="row">
							<div class="col-md-8 offset-md-2">
								<h2>Video Embed</h2>
							</div>
						</div>
						<!-- .row end -->


				</div>
				<!-- .container end -->

			</section>



		   <!-- Content  
			====================================================== -->
			<section class="uix-spacing--m">
				<div class="container">
						<div class="row">
							<div class="col-md-8 offset-md-2">

								  <div class="uix-relative" data-embed-video-wrapper="true">
									  <div class="uix-video" data-embed-video-width="auto" data-embed-video-height="auto" data-embed-video-controls="true" data-embed-video-autoplay="false" data-embed-video-loop="false">
										  <video id="video-demo-1" class="video-js vjs-default-skin" controls poster="assets/videos/480x270/demo.jpg">
											  <source src="assets/videos/480x270/demo.mp4" type="video/mp4">
											  <source src="assets/videos/480x270/demo.webm" type="video/webm">
										  </video>
									  </div> 
								  </div>


							</div>
						</div>
						<!-- .row end -->


				</div>
				<!-- .container end -->

			</section>   


		   <!-- Content   
			====================================================== -->
			<section>
				<div class="container uix-t-c">
						<div class="row">
							<div class="col-md-8 offset-md-2">
								<h2>Video PopUp</h2>
								<p>Set <code>data-video-win</code>, <code>data-video-poster</code>, <code>data-video-mp4</code>, <code>data-video-webm</code>, <code>data-video-ogv</code> and <code>data-modal-id</code> properties to create video interactions. </p>

							</div>
						</div>
						<!-- .row end -->


				</div>
				<!-- .container end -->

			</section>



		   <!-- Content  
			====================================================== -->
			<section class="uix-spacing--m">
				<div class="container">
						<div class="row">
							<div class="col-md-8 offset-md-2">


								<a href="javascript:void(0)" data-video-win="true" data-video-poster="assets/videos/1920x1080/demo.jpg" data-video-mp4="assets/videos/1920x1080/demo.mp4" data-video-webm="" data-video-ogv="" data-modal-id="web-modal-1" data-modal-close-onlybtn="false"><i class="fa fa-play-circle" aria-hidden="true"></i> Click Here to Open Video 1</a>
								<br>

								<a href="javascript:void(0)" data-video-win="true" data-video-poster="assets/videos/480x270/demo.jpg" data-video-mp4="assets/videos/480x270/demo.mp4" data-video-webm="" data-video-ogv="" data-modal-id="web-modal-44" data-modal-close-onlybtn="false"><i class="fa fa-play-circle" aria-hidden="true"></i> Click Here to Open Video 2</a>
								<br>



								<a href="javascript:void(0)" data-video-win="true" data-video-poster="assets/videos/1920x1080/demo.jpg" data-video-mp4="" data-video-webm="" data-video-ogv="" data-modal-id="web-modal-2" data-modal-close-onlybtn="false"><span data-video-iframe="true"><iframe width="560" height="315" src="https://www.youtube.com/embed/ckYJBMfPtBs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></span><i class="fa fa-play-circle" aria-hidden="true"></i> Click Here to Open Youtube Video</a>
								<br> 



							</div>
						</div>
						<!-- .row end -->


				</div>
				<!-- .container end -->

			</section>   

			
		</main>
		
    
		   
      
    
		
        
        
        @@include('./src/components/ES5/_global/include-copyright.html')
        
        
    </div>
    <!-- .uix-wrapper end -->
       
       
    @@include('./src/components/ES5/_global/include-footer.html')

